---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/about-us/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div id="who-we-are" class="col-sm-4 col-md-3">
				<div class="section-intro">
					<h1>Who We Are</h1>
					<h4></h4>
				</div>
			</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-sm-8 col-md-9">
				<div class="project-page-intro">
					<h3>At Kota Kita, we have a vision of a model city that is shaped and shared by informed and empowered citizens — A City for All.</h3>
					<div class="row">
						<div class="col-md-6">
							<p>We believe that citizens should be at the heart of the decision-making process that determines the environment and the quality of living of the urban centers they reside in. They are entitled to governance that is inclusive, transparent and socially just.</p>
							<p>We are a non-profit organization based in the Indonesian city of Solo with expertise in urban planning and citizen participation in the design and development of cities. We provide education, facilitate citizen participation and collective action, and work with governments to build bridges between officials and their constituencies.</p>
						</div>
						<div class="col-md-6">
							<p>In our experience carrying out projects in 12 rapidly urbanizing Indonesian cities, we have found that when citizens and stakeholders understand urban issues and work together, services improve, poverty is reduced and inequality narrows, as poor communities become empowered to make a living.</p>
							<p>The bulk of our world has been in Indonesia, but we have taken our knowledge and experience to other fast urbanizing countries in the region, where participatory governance is on the agenda and is gaining momentum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
		</div>

		<hr class="featurette-divider">

		<div id="our-mission" class="row featurette">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<h3>Our mission is rooted in grassroots activism as well as engagement with government.</h3>
				<h2 class="text-primary">Yayasan Kota Kita, or Our City Foundation, is an Indonesian non-profit organization helping people make thoughtful and inclusive decisions about the development of their cities – by facilitating citizen participation and collective action.</h2>
				<h2 class="text-primary">We aim to empower a generation of people by promoting democratic and participatory approaches to improve urban areas.</h2>
				<!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Our full Vision &amp; Mission Statement</a></p> -->
			</div>
			<!-- <div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/ex_thumb.jpg" alt="Generic placeholder image">
			</div> -->
		</div>

		<hr class="featurette-divider">

		<div id="our-mission" class="row featurette">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<h1>YKK's Organizational Values</h1>
			</div>
			<div class="col-md-4">
				<h3 class="text-primary">Pedagogy</h3>
				<p>Kota Kita is committed to shaping the next generation of actively engaged urban leaders by promoting learning and developing tools. We do this through research, capacity building and providing pedagogic experiences within our organization.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-primary">Raising Awareness</h3>
				<p>Kota Kita believes that sharing information can help people better understand how to take advantage of opportunities and overcome the challenges that come with rapid urbanization. We are committed to raising awareness through making urban information available and accessible to promote action and change.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-primary">Encouraging Participation</h3>
				<p>Kota Kita believes that everyone in cities is important; we all have roles and responsibilities for of actively participating in making our communities better places. We facilitate and promote the involvement of all people, especially the marginalized and excluded, to bring in different perspectives, voices and strengths, to make cities better places.</p>
			</div>
		</div>

		<hr class="featurette-divider">

		<div id="our-team" class="row featurette">
			<div class="col-sm-3">
				<h1>Our Team</h1>
				<p>Every member of the Kota Kita team brings a different skill set to the table, making the organization dynamic and diverse, and most of all, an interesting place to work!</p>
			</div>
			<div id="intern" class="col-sm-9">
				<div class="row">

					<!-- JOHN TAYLOR -->
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-john">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/JOHN_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">John Taylor</h3>
							<h4>Director &amp; Co-Founder</h3>
						</a>
						<div class="modal fade modal-john" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">John Taylor</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Director &amp; Co-Founder</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/JOHN_web.jpg"> John Taylor is an Indonesian-American whose love for the country and passion for urban development led him to co-found Kota Kita in 2010. Even though he has a Javanese background, when he throws a Javanese word around in the field, it is usually met with laughter. “No one expects me to speak Javanese, but when I do, it really breaks the ice and gets people talking,” John says.</p> 
										<p>John leads the foundation, developing Kota Kita’s strategic vision and implementing its mission of making cities more democratic and inclusive. His work involves coming up with ideas, conducting research, as well as connecting with government, community, civil society partners and donors. The most enjoyable aspects of the job, he says, are being part of a strong team, visiting cities and interacting with people on the ground. “Being part Indonesian, I love working in this country and contributing to its development. I love getting to work with inspiring community initiatives and I am passionate about finding ways to empower citizens to improve their cities and communities.”</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-rifai">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/AHMAD-RIFAI_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">Ahmad Rifai</h3>
							<h4>Executive Director &amp; Co-Founder</h3>
						</a>
						<div class="modal fade modal-rifai" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Ahmad Rifai</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Executive Director &amp; Co-Founder</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/AHMAD-RIFAI_web.jpg"> Ahmad Rifai goes by many names — Pai, Rifai and Ahmad. But he remembers one time  when he was called something else entirely. “A local development official forgot my name, so he just called me Mr. Map, because Kota Kita is so heavily associated with our first mapping project, Solo Kota Kita,” he laughs. “But I prefer Pai.”</p>
										<p>Rifai has worked with co-founder John Taylor since the Solo Kota Kita project in 2009, and he manages the office in Solo, overseeing and getting involved in all aspects of projects, from writing proposals to networking to overall management. Rifai loves how he can take part in everything Kota Kita does, whether it’s in the field, collaborating with designers or sitting at his desk working on a report. “Since I am a founder, I feel like I’m at home at Kota Kita. And I really enjoy working in Kota Kita’s collaborative environment,” he said.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- ZAKARIA -->
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-zakaria">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/ZAKARIA_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">Zakaria</h3>
							<h4>Financial Manager</h3>
						</a>
						<div class="modal fade modal-zakaria" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Zakaria</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Financial Manager</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/ZAKARIA_web.jpg"> Zakaria works hard but he likes to laugh hard too. “We all interact with each other with jokes. Everyone here has a funny side, which is what I like about working with Kota Kita. But people here at the same time work hard and get the job done,” he says.</p>
										<p>Zakaria has worked with Kota Kita since its establishment in 2010, and as financial manager, he is responsible for overseeing the finances relating to all projects and Kota Kita offices. He works with the directors on financial or budget proposals, as well as implementation. He also writes up the annual and project financial reports. Zakaria has a background in NGO work, and that is where his heart is. “I like working with people at Kota Kita because there is always innovative thinking in everything we do,” he says.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-aa">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/AA_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">Fuad Jamil</h3>
							<h4>Senior Facilitator</h3>
						</a>
						<div class="modal fade modal-aa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Fuad Jamil</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Senior Facilitator</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/AA_web.jpg"> Fuad loves working in the field and meeting community members. “But I always struggle to get out of the door — I usually leave something behind and have to go back to the office to get it,” he says.</p>
										<p>Fuad has been working with Kota Kita since the beginning in 2010 and his role is to organize field work, such as surveying and facilitating project activities that relate to the community. He is passionate about bridging the gap between academia and people, working together to find a common perspective.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

					<!-- RIZQA -->
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-rizqa">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/RIZQA_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">Rizqa Hidayani</h3>
							<h4>Urban Planner</h4>
						</a>
						<div class="modal fade modal-rizqa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Rizqa Hidayani</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Urban Planner</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/RIZQA_web.jpg"> Rizqa loves meeting people from different backgrounds. “But I often just freeze at the office when an intern from abroad tries to speak with me, because sometimes I just don’t understand their accent! We’ve had interns from America, Greece and Mexico. But it’s really interesting to meet people from so far away,” Rizqa says.</p>
										<p>Rizqa started with Kota Kita in December 2013 and is mostly involved with data collection through field surveys and interviews. Rizqa likes working with Kota Kita staff on innovative urban development ideas to take to communities. “They are simple, but applicable. I’m passionate about this kind of work and contributing to the community,” she says.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-bima">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/BIMA_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">Bima Pratama Putra</h3>
							<h4>Designer &amp; Planner</h4>
						</a>
						<div class="modal fade modal-bima" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Bima Pratama Putra</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Designer &amp; Planner</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/BIMA_web.jpg"> Bima’s biggest challenge in his five years with Kota Kita has been communicating with people in different countries. “I need to create maps and other planning tools in their local language, which is an interesting process,” he says.</p>
										<p>Bima began as a student volunteer when Kota Kita was established in 2010, and has for the past three years worked on projects as a designer and planner. Now he works mostly in data collection, mapping and communicating data through graphic design. He helps create tools and reports to plan projects. “I enjoy the way Kota Kita brings big ideas to communities and the policy makers, and sees them through to implementation. It’s also exciting to work with many people from different backgrounds with different perspectives and skills,” he says.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-icha">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/ICHA_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">Hasanatun Nisa Thamrin</h3>
							<h4>Urban Planner</h4>
						</a>
						<div class="modal fade modal-icha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Hasanatun Nisa Thamrin</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Urban Planner</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/ICHA_web.jpg"> Hasanatun is better known at the Kota Kita office as Icha, and she is likely to pull a silly face if someone tries to speak with her in the local language, Javanese. “I’m one of the few staff who isn’t Javanese, but when I meet locals, especially elders, they often speak to me in Javanese. All I can do is pull a funny face or pretend I understand and ask the others later what they said!” she says.</p>
										<p>Icha is a newcomer, beginning work with Kota Kita in November 2014. She works on data collection and facilitates project activities. “There’s a lot of people with different backgrounds at Kota Kita, which is very exciting because I can learn from different points of view and different ideas to realize better urban living for communities,” she says.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- RIRIN -->
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-ririn">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/RIRIN_web.jpg" alt="Generic placeholder image">
							<h3 class="text-primary">Ririn Setyowati</h3>
							<h4>Financial administrator</h4>
						</a>
						<div class="modal fade modal-ririn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Ririn Setyowati</h2>
									</div>
									<div class="modal-body">
										<h4 class="text-primary">Financial administrator</h4>
										<p><img class="modal-image img-responsive" src="./src/img/team_thumb/RIRIN_web.jpg"> Like Rizqa, Ririn gets a bit shy around foreign interns at Kota Kita. “I can’t speak very fluently with them, so sometimes I don’t say anything!” she laughs.</p>
										<p>Ririn works with the financial manager to keep track of daily office expenses. “Working with Kota Kita is very challenging. People here are well educated and professional in their work, so I am very happy to be surrounded by a bright group of people,” she says.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div id="contact" class="row"  style="background-color:#FEF7EC;">
			<div class="col-sm-3">
				<div class="section-intro">
					<h1>Contact Us</h1>
				</div>
			</div>
			<div class="col-sm-5">
				<h2 class="text-primary">Yayasan Kota Kita</h2>
				<h3>Perum Fajar Indah Baturan<br/>Jl. Mawar Barat V Block D-50<br/>Baturan Colomadu Karanganyar<br/>Surakarta, Central Java, Indonesia 57171</h3>
				<hr class="featurette-divider visible-xs">
			</div>
			<div class="col-sm-4">
				<h4 class="text-primary">Phone</h4>
				<h3>+62 271 713497</h3>
				<hr class="featurette-divider">
				<h4 class="text-primary">Email</h4>
				<h3>info@kotakita.org</h3>
			</div>
		</div>

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}
	
	</body>
</html>
