---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-en.html %}

	<div class="jumbotron" style="background-image:url(../src/img/feature/water-water/banner.jpg)">
    </div>

	<div class="container">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<h1 class="text-primary">Water, water everywhere but not a drop to drink</h1>
				<h5 class="text-uppercase">Feature by <strong>Angela Dewan</strong></h5>
				<h6>January 20th, 2015</h6>
			</div>
			<div class="col-md-9">
				<h2>Indonesia is the world’s biggest archipelago with an abundance of rivers, lakes and springs, yet getting clean water to all 250 million people in the country is an enormous challenge.</h2>
				<hr class="featurette-divider">
				<p>Technically, Indonesia has enough natural renewable water for each person to use 22,000 liters a day. But a lack of infrastructure, water pollution, climate change and leaky pipes are some of the reasons so many Indonesians do not have access to clean water at all.</p>
				<p>Only 20 percent of the population has a household water connection, while 85 percent has access to clean drinking water sources that don’t come out of a bottle, according to Stratfor Global Intelligence. That means some 37 million are left their own devices to find clean water for their daily needs.</p>
				<p>In developed urban areas, clean drinking water resources are near impossible to find, leaving tens of millions of people depending on bottled water, which is delivered on trucks that choke already congested roads. Even in rural parts, clean drinking water is becoming scarcer as rivers and lakes are increasingly polluted in line with development.</p>
				<p>Kota Kita has teamed up with researchers from the Institute of Water Policy at the National University of Singapore to work out just how connected residents of Indonesia’s Solo city are to water resources and what initiatives they have taken themselves to manage the resource in their communities.</p>
				<blockquote><p>“We hope that by understanding community-based water management better in Solo we can help find alternative approaches and solutions for better water delivery, particularly for the poor where there is still great need,” said Kota Kita executive director Ahmad Rifai.</p></blockquote>
				<p>The Solo river basin is among the world’s 15 most stressed, according to the World Resources Institute, and rapid urbanization has led to major growth in the city’s fringe areas, leading to a surge in water demand and putting strain on the Cokro Tulung mountain spring, the city’s main source.</p>
				<p>Rita Padawangi from the Institute of Water Policy recently spent time in Solo kampungs, including slum areas, with Kota Kita to work out the exact water access problems and the communities’ needs. The next step in the research will involve more in-depth surveys to try and identify the most appropriate solutions.</p>
				<p>In the Solo village of Mojosongo, for example, the community has had a deep well for more than five years, built by the government. They have managed it by themselves, setting tariffs for the community and taking turns to lead the management team.</p>
				<blockquote><p>“But the iron pipes are already starting to rust — newer deep well systems don’t use iron, they use new synthetic rust proof materials, so this needs replacing, which is something we think should be voiced to the government,” Rita said following her visit to Solo in January.</p></blockquote>
				<p>In another slum area, Semanggi, one neighborhood of 350 households was able to build its own communal water facility and a communal toilet. While Rita thinks the government must take more responsibility in building water facilities, the example shows how community involvement can improve conditions.</p>
				<blockquote><p>“Most homes here don’t have toilets, so they also built a communal toilet for people to use and an area for them to shower in. The facility they built is a public tap from a deep well. There is another tap provided by the public water utility company, which is more expensive, but people go there to buy water from both taps,” she said.</p></blockquote>
				<h3>USAID has funded a second toilet in the community after hearing of the project’s success.</h3>
				<hr class="featurette-divider">
				<h2>A river runs red</h2>
				<p>Educational campaigns are also needed to change the culture of dumping pollutants in rivers, Rita said. As industry booms in Indonesia, dumping is destroying what was once a main resource of surface water across the country.</p>
				<p>Seventy-five percent of Indonesia’s rivers are classified as heavily polluted, according to the environment ministry. In the Solo village of Laweyan, famous for making the traditional hand-dyed batik cloth, Rita saw batik makers dumping red dye into the river.</p>
				<blockquote><p>“We saw this on a random day just passing by, so this must happen a lot. And this is despite the fact that there is a facility to process the waste just across the river, accessible via a small bridge. This means more needs to be done to educate communities about the effects of dumping,” Rita said.</p></blockquote>
				<p>This also affects the quality of ground water, which millions rely on through home-made pumps. In Laweyan, the unregulated dumping of pollutants in the river and drainage system has affected the quality of groundwater too. Because riverbanks are porous, the pollutants get into the underground sources.</p>
				<blockquote><p>“A plan to start separating sewage pipes and drainage is badly needed to save rivers as an existing source of water,” Rifai said.</p></blockquote>
				<p>In the neighboring village of Sondakan, the community complains that the quality of the groundwater they once  drank started to change around 15 years ago and has been determined as undrinkable by lab tests.</p>
				<p>This is not unique to Solo — 74 percent of households in Indonesia’s urban areas rely on groundwater. Overuse is increasing water salinity in places like the capital, Jakarta, and is also a major cause of land subsidence. East Jakarta, for example, is sinking by some 13 inches a year.</p>
				<p>Some 40 percent of useable water in Indonesia is lost through leaky pipes and illegal access to water, according to the Jakarta Water Supply Regulation Body. Many who illegally tap into water systems do so because they simply have no other way to access water.</p>
				<blockquote><p>“The problem is clearly not that our cities lack water, but poor distribution and poor infrastructure makes it very difficult to access water in particular areas, especially in dense poor areas where there are no taps because of a lack of planning. Better collaboration between governments and communities is key to opening up this planning process,” Rifai said.</p></blockquote>
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
