---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-en.html %}

	<div class="jumbotron" style="background-image:url(../src/img/projects/manado-ccva/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Manado Climate Change Vulnerability Assessment</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span>  Manado, North Sulawesi, Indonesia</h4>
				</div>
				<div class="section-meta">
					<h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/140915_Manado CCVA_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
						<a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Indonesian</a>
					</div>
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; USAID’s Climate Change Resilience Development grant initiative (CCRD); International Resources Group (IRG); Cascadia Consulting; City Government of Manado</h4>
					<h5>Duration:</h5>
					<h4>2013-2014</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>Manado is the coastal capital of North Sulawesi province, surrounded by mountains to the east and coral reefs to the west, including the biodiverse marine Bunaken National Park. Despite its beautiful natural setting, large stretches of the coastline have been developed using reclaimed land, while rapid urbanization has led to settlements in surrounding hills. This has left many residents vulnerable to sea-level rise and flooding, and other climate change impacts.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>In collaboration with the Manado city government and USAID through its Climate Change Resilient Development grant initiative, the Kota Kita team headed a climate change vulnerability assessment in Manado. Using available government data and maps — as well as numerous field trips, community meetings, focus group discussions and interviews with civil society organizations, community members and government officials — our report has been used and developed as an urban infrastructure inventory and has improved institutional response efficacy for the benefit of vulnerable and poor communities in Manado.</p>
						</div>
						<div class="col-md-6">
							<p>Climate change vulnerability is determined by integrating the results of exposure, sensitivity and adaptive capacity assessments. In order to understand the vulnerability of each neighborhood, we both evaluated and then mapped each constitutive component: exposure (to climate-related hazards, like landslides and flooding), sensitivity (poverty rates, access to utilities and services, and physical environment) and adaptive capacity (access to health services and education, and the amount received from Manado's Neighborhood Initiative Grant). We also analyzed the status of the city's vulnerable urban citywide systems, namely the city water supply, its roads and traffic, its solid waste management and the urban drainage system.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="../src/img/projects/manado-ccva/Manado_City_web.jpg">
				<hr class="featurette-divider">
				<h3 class="featurette-heading">In January 2014, heavy rainfall submerged 75 percent of Manado, causing damage to homes, disrupting businesses and destroying infrastructure. The total damage was estimated at some 650 billion rupiah, or US$45 million. This event was more serious than flooding the previous year, but of greater concern is the rising frequency of floods, a sign that climate change is well and truly here, already hitting communities.</h3>
				<hr class="featurette-divider">
			</div>
			<div class="col-sm-6">
				<p>This flooding has displaced traditional fishing communities and negatively impacted the marine ecosystem — a major tourist draw to the region — and is largely a result of land reclamation and commercial development along the coast. The steep topography of Manado’s surroundings means that the unpredictable and increasingly heavier rains are causing landslides that damage homes and property, and even take lives. The effects of climate change have an undue effect on migrants from nearby islands and localities, where internal conflicts and ethnic strife have made life difficult, as people primarily settle in these vulnerable peripheral areas and rely on agriculture and fishing for their livelihoods.</p>
				<p>On June 17, 2014, we held a workshop between leaders of various government agencies concerned with climate change adaptation issues, as well as representatives of civil society organizations and Sam Ratulangi University, to raise awareness about this Climate Change Vulnerability Assessment. The working group session sought to discuss how critical urban infrastructure systems, the main focus of this vulnerability assessment, are affected by climate change, and what measures are necessary to strengthen them.</p>
				<p>By mixing the participants from different agencies and sectors, the session was designed to encourage cross-sector discussion and build consensus amongst stakeholders about conclusions and necessary recommendations for the city leadership. Our report serves as a planning tool and advocacy document, making it possible to guide city development in a way that achieves a more sustainable, safe and secure future in the face of rapid urbanization and climate change.</p>
			</div>
			<div class="col-sm-6">
				<img class="featurette-image img-responsive" src="../src/img/projects/manado-ccva/Landslides_web.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="../src/img/projects/manado-ccva/Housing_hills_web.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="../src/img/projects/manado-ccva/Bridge_web.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
