---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-en.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/solo-kota-kita/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4 col-md-3">
				<div class="section-intro">
					<h1>Solo Kota Kita</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span>  Surakarta (Solo), Central Java, Indonesia</h4>
				</div>
				<div class="section-meta">
					<h5>Example Mini Atlas</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/NUSUKAN_ENGLISH.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
						<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
					</div>
					<h5>Solo Kota Kita Facilitator Manual</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Solo Kota Kita Facilitator Manual_ENG_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
						<a href="./publications-docs/Solo Kita Kita Facilitator Manual_IND_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
					</div>
					<h4>A Facilitator's Guide to Using a Mini Atlas</h4>
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; Pemkot Surakarta; the Ford Foundation; USAID; UN-Habitat</h4>
					<h5>Duration:</h5>
					<h4>2010–ongoing</h4>
				</div>
			</div>
			<div class="col-sm-8 col-md-9">
				<div class="project-page-intro">
					<h3>In 2010 Kota Kita began working with then-Mayor Joko Widodo and local leaders in Solo to collect data about the city’s many neighborhoods. Data about everything from access to water, sanitation, poverty levels, and the number of children enrolled in school were collected from different neighborhoods and represented in mini-atlases to provide a resource for musrenbang, the annual participatory budgeting forum held by residents. This process supports evidence-based advocacy for improving public services, tailoring urban planning decisions to the community while encouraging data interpretation skills and self-representation.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>Participatory mapping creates visual and data-based materials that can serve as a reference for all stakeholders involved in public services and community projects. Such evidence is especially useful given Indonesia’s <i>musrenbang</i>, wherein neighborhood members discuss short-term development priorities, passing their decisions along to the government planning and budgeting department (BAPPEDA) before a budget is devised. This bottom-up process was introduced to replace top-down centralized governance.</p>
						</div>
						<div class="col-md-6">
							<p>Having residents collaborate in the collection and discussion of data, with their intimate knowledge of their own needs, is proving a successful way to ensure governments are serving the interests of their communities. This is especially relevant in Solo, where countless cottage industries cluster in distinctive neighborhoods and share resources. Because the city lacks the accessible natural resources on which many mid-sized Indonesian cities subsist, small-scale production and livelihood at the neighborhood level is integral to Solo’s local economy. Kota Kita’s collection and analysis of real data boosts the benefits of these neighborhood <i>musrenbang</i> processes.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/solo-kota-kita/skk_05.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-sm-8 col-md-7">
				<h3 class="featurette-heading">Our team conducted interviews, compiled field observations, and created the main tool of the project: poster, or “mini-atlas,” that shows how neighborhoods work and illustrates patterns of social and economic problems and opportunities. With the support of then-Mayor Joko Widodo, now the president of Indonesia, our initial effort in seven neighborhoods was expanded to include the surveying and mapping of all 51 neighborhoods in Solo in 2010. In that year, with the support of BAPPEDA, the mini-atlases were introduced into the musrenbang process.</h3>
				<hr class="featurette-divider">
				<p>We conducted the survey again in 2012 to update the database, this time using a new SMS tool that allows residents to send data to the team via mobile phone. Our team also conducted five workshops with local government and trained 70 musrenbang facilitators.</p>
				<p>In addition, over 70,000 people have accessed the data on the website since it was launched in 2010. While about 70 percent of these users have come from Indonesia, the site has been visited by residents of 146 other countries.</p>
				<p>The team has also worked with local governments and NGOs to apply the survey methodology in several other Indonesian cities, including Banjarmasin, Makassar, Padang, and Pekalongan. The core project was working with an interdisciplinary team to interpret and communicate urban patterns and potential futures in these three cities in a way that is user-friendly for government officials and the wider public alike. Making decisions based on information from residents themselves can lead to a stronger connection between what residents want and need, and can influence positively how local government invests in neighborhoods.</p>
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/solo-kota-kita/skk_04.jpg">
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/solo-kota-kita/skk_02.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/solo-kota-kita/skk_01.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/solo-kota-kita/skk_03.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
