{% for project in include.projects %}
<div class="section-shift row" style="background-color:#FEF7EC;">
  <div class="col-sm-4">
    <div class="section-intro">
      <h1 style="font-size:2em;">{{ project.name }}</h1>
      {%if project.location%}
        <h4>
          <span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span>
          {{ project.location }}
        </h4>
      {% endif %}
    </div>
    <div class="section-meta">
      {% if project.report %}
      <h5>Report:</h5>
        {% for report in project.report %}
          <a
            href="{{ report.url }}"
            target="_blank"
            role="button"
            class="btn btn-primary button-project" style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ report.label }}
          </a>
        {% endfor %}
      {% endif %}

      {% if project.publication %}
        <h5>Publication:</h5>
        {% for publication in project.publication %}
          <a
            href="{{ publication.url }}"
            target="_blank"
            role="button"
            class="btn btn-primary button-project" style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ publication.label }}
          </a>
        {% endfor %}
      {% endif %}
      {% if project.keyorganizations %}
        <h5>Key organizations &amp; partners:</h5>
        <h4>{{ project.keyorganizations }}</h4>
      {% endif %}
      {% if project.duration %}
        <h5>Duration:</h5>
        <h4>{{ project.duration }}</h4>
      {% endif %}
      {% if project.donor %}
        <h5>Donor:</h5>
        <h4>{{ project.donor }}</h4>
      {% endif %}
      {% if project.credit %}
        <h5>Photo credit:</h5>
        <h4>{{ project.credit }}</h4>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-8">
    <div class="project-page-intro">
      <h3>{{ project.teaser }}</h3>
      <hr class="featurette-divider">
      <div class="row">
        {% if project.paragraph2 %}
        <div class="col-md-6">
          <p>{{ project.paragraph1 }}</p>
        </div>
        <div class="col-md-6">
          <p>{{ project.paragraph2 }}</p>
        </div>
        {% else %}
        <div class="col-md-12">
          <p>{{ project.paragraph1 }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">
{% endfor %}
