<div class="row featurette">
  <div class="col-md-4 col-sm-12">
    <img class="featurette-image img-responsive" src="{{ include.image1 }}">
    <hr class="featurette-divider">
  </div>
  <div class="col-md-4 col-sm-12">
    <img class="featurette-image img-responsive" src="{{ include.image2 }}">
    <hr class="featurette-divider">
  </div>
  <div class="col-md-4 col-sm-12">
    <img class="featurette-image img-responsive" src="{{ include.image3 }}">
    <hr class="featurette-divider">
  </div>
</div>
