---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

<!-- 	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="./src/img/FF_Final-design_07.jpg" alt="First slide">
			</div>
		</div>
    </div> -->

    <!-- <div class="container-fluid">
	    <img class="featurette-image img-responsive" src="./src/img/FF_Final-design_07.jpg" alt="Generic placeholder image">
	</div> -->

	<div class="jumbotron" style="background-image:url(./src/img/FF_Final-design_07.jpg)">
      <!-- <div class="container">
        <h1>Firm Foundation</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div> -->
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div id="who-we-are" class="col-sm-4 col-md-3">
				<div class="section-intro">
					<h1>Who We Are</h1>
					<h4></h4>
				</div>
			</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-sm-8 col-md-9">
				<div class="project-page-intro">
					<h3>At YKK, we have a vision of a model city that is shaped and shared by informed and empowered citizens — A City for All.</h3>
					<div class="row">
						<div class="col-md-6">
							<p>We believe that citizens should be at the heart of the decision-making process that determines the environment and the quality of living of the urban centers they reside in. They are entitled to governance that is inclusive, transparent and socially just.</p>
							<p>We are a non-profit organization based in the Indonesian city of Solo with expertise in urban planning and citizen participation in the design and development of their cities. We provide education, facilitate citizen participation and collective action, and work with governments to build bridges between officials and their constituencies.</p>
						</div>
						<div class="col-md-6">
							<p>In our experience carrying out projects in 12 rapidly urbanizing Indonesian cities, we have found that when citizens and stakeholders understand urban issues and work together, services improve, poverty is reduced and inequality narrows, as poor communities become empowered to make a living.</p>
							<p>The bulk of our world has been in Indonesia, but we have taken our knowledge and experience to other fast urbanizing countries in the region, where participatory governance is on the agenda and is gaining momentum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
		</div>

		<hr class="featurette-divider">

		<div id="our-mission" class="row featurette">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="text-primary">Our mission is rooted in grassroots activism as well as engagement with government.</h1>
				<p>Our activities focus on transferring knowledge, building capacity and disseminating information and good practice to citizens, civil society organizations, local governments and students.</p>
				<p>We aim to empower a generation of people by promoting democratic and participatory approaches to improve urban areas.</p>
				<p><a class="btn btn-lg btn-primary" href="#" role="button">Our full Vision &amp; Mission Statement</a></p>
			</div>
			<!-- <div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/ex_thumb.jpg" alt="Generic placeholder image">
			</div> -->
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-3">
				<h1>Our Team</h1>
			</div>
			<div id="intern" class="col-sm-9">
				<div class="row">
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-aa">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/AA_web.jpg" alt="Generic placeholder image">
							<h4>AA</h4>
						</a>
						<div class="modal fade modal-aa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">AA</h2>
									</div>
									<div class="modal-body">
										<h4>Title</h4>
										<!-- <p>Alice interned with Kota Kita while studying for her Master of City Planning at the Massachusetts Institute of Technology (MIT), and in 2012 she worked on the Firm Foundation project with Kota Kita, using her skills to engage residents of a dense riverbank settlement in Banjarmasin city to create much needed public space. Alice now works for Bloomberg Associates in New York City as part of their urban planning team, providing philanthropic consulting to city governments around the world. Alice has fond memories of making site visits in Indonesia for the City Development Strategies program, commissioned by UNHABITAT, to assess neighborhoods’ conditions, livelihood dynamics and infrastructure. “I also found visiting Banjarmasin's floating market at dawn an incredible experience,” she said.</p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-rifai">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/AHMAD-RIFAI_web.jpg" alt="Generic placeholder image">
							<h4>Ahmad Rifai</h4>
						</a>
						<div class="modal fade modal-rifai" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Ahmad Rifai</h2>
									</div>
									<div class="modal-body">
										<h4>Title</h4>
										<!-- <p>Alykhan interned with Kota Kita while studying for a Master of Urban Planning degree at Harvard University. He worked on piloting SMS surveys for the SMS Rapid Urban Response in Solo, crowd-sourcing neighborhood data using cell phones, and helped organize and facilitate workshops for the Firm Foundation project in Banjarmasin. Alykhan now works as an urban planner and designer in the city of Austin, Texas. He said of all the experiences he had with Kota Kita, the three-day Firm Foundation workshops were his favorite “because of the learning experience I had during the meticulous and thorough process of planning and preparing for the workshop.”</p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-bima">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/BIMA_web.jpg" alt="Generic placeholder image">
							<h4>Bima Pratama Putra</h4>
						</a>
						<div class="modal fade modal-bima" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Bima Pratama Putra</h2>
									</div>
									<div class="modal-body">
										<h4>Title</h4>
										<!-- <p>Alykhan interned with Kota Kita while studying for a Master of Urban Planning degree at Harvard University. He worked on piloting SMS surveys for the SMS Rapid Urban Response in Solo, crowd-sourcing neighborhood data using cell phones, and helped organize and facilitate workshops for the Firm Foundation project in Banjarmasin. Alykhan now works as an urban planner and designer in the city of Austin, Texas. He said of all the experiences he had with Kota Kita, the three-day Firm Foundation workshops were his favorite “because of the learning experience I had during the meticulous and thorough process of planning and preparing for the workshop.”</p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-icha">
							<img class="featurette-image img-responsive" src="./src/img/team_thumb/ICHA_web.jpg" alt="Generic placeholder image">
							<h4>Icha</h4>
						</a>
						<div class="modal fade modal-icha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Icha</h2>
									</div>
									<div class="modal-body">
										<h4>Title</h4>
										<!-- <p>Alykhan interned with Kota Kita while studying for a Master of Urban Planning degree at Harvard University. He worked on piloting SMS surveys for the SMS Rapid Urban Response in Solo, crowd-sourcing neighborhood data using cell phones, and helped organize and facilitate workshops for the Firm Foundation project in Banjarmasin. Alykhan now works as an urban planner and designer in the city of Austin, Texas. He said of all the experiences he had with Kota Kita, the three-day Firm Foundation workshops were his favorite “because of the learning experience I had during the meticulous and thorough process of planning and preparing for the workshop.”</p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div id="contact" class="row">
			<div class="col-sm-3">
				<div class="section-intro">
					<h1>Contact Us</h1>
				</div>
			</div>
			<div class="col-sm-5">
				<h2 class="text-primary">Yayasan Kota Kita</h2>
				<h3>Perum Fajar Indah Baturan<br/>Jl. Mawar Barat V Block D-50<br/>Baturan Colomadu Karanganyar<br/>Surakarta, Central Java, Indonesia 57171</h3>
				<hr class="featurette-divider visible-xs">
			</div>
			<div class="col-sm-4">
				<h4 class="text-primary">Phone</h4>
				<h3>+62 271 713497</h3>
				<hr class="featurette-divider">
				<h4 class="text-primary">Email</h4>
				<h3>info@kotakita.org</h3>
			</div>
		</div>

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

	{% include footer.html %}

	</div><!-- /.container -->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="./src/js/bootstrap.min.js"></script>
	<script src="./src/js/docs.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="./src/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
