---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/blog/banner.jpg)">
    </div>

	<div class="container project-page">

		<script type="text/javascript" src="http://kotakita-journal.tumblr.com/api/read/json"></script>

		<ol class="tumblr_posts">
			<script type="text/javascript">
			    // document.write("<h1>" + tumblr_api_read.tumblelog.title + "</h1>");  Shows "First Title"

				for (var i=0;i<tumblr_api_read.posts.length;i++) {
			        var thisPost = tumblr_api_read.posts[i];
					document.write(
				    	'<li class="tumblr_post tumblr_text_post"><div class="row"><div class="col-sm-3"><div class="tumblr_title text-primary"><a href="' + thisPost.url + '"><h1>' + tumblr_api_read['posts'][i]['regular-title'] + '</h1><h5 class="text-uppercase">' + thisPost.date + '</h5></a></div></div><div class="col-sm-9 tumblr_body">' + tumblr_api_read['posts'][i]['regular-body'] + '</div></li>'
			        );

			    }
			</script>
		</ol>
		
		<div class="row">
			<div class="col-md-12">
				<p><a class="btn btn-lg btn-primary btn-block" href="http://kotakita-journal.tumblr.com/archive" role="button" target="_blank">View the blog archive</a></p>
			</div>
		</div>

<!-- <script type="text/javascript" src="http://kotakita-journal.tumblr.com/js"></script> -->

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
