---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./src/css/iconic-bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">
	<link href="./src/css/blog.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/blog/banner.jpg)">
    </div>

	<div class="container project-page">

		<script type="text/javascript" src="http://kotakita-journal.tumblr.com/api/read/json"></script>

		<ol class="tumblr_posts">
			<script type="text/javascript">
			    // document.write("<h1>" + tumblr_api_read.tumblelog.title + "</h1>");  Shows "First Title"

				for (var i=0;i<tumblr_api_read.posts.length;i++) {
			        var thisPost = tumblr_api_read.posts[i];
					document.write(
				    	'<li class="tumblr_post tumblr_text_post"><div class="row"><div class="col-sm-3"><div class="tumblr_title text-primary"><a href="' + thisPost.url + '"><h1>' + tumblr_api_read['posts'][i]['regular-title'] + '</h1><h5 class="text-uppercase">' + thisPost.date + '</h5></a></div></div><div class="col-sm-9 tumblr_body">' + tumblr_api_read['posts'][i]['regular-body'] + '</div></li>'
			        );

			    }
			</script>
		</ol>

<!-- <script type="text/javascript" src="http://kotakita-journal.tumblr.com/js"></script> -->

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
