---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/feature/mongolia-planning/banner.jpg)">
    </div>

	<div class="container">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<h1 class="text-primary">Participatory Urban Planning Takes Hold in Mongolia</h1>
				<h5 class="text-uppercase">Feature by <strong>Jeremy Gross</strong></h5>
				<h6>August 4th, 2015</h6>
			</div>
			<div class="col-md-9">
				<h2>If you hear Mongolian on the streets of Solo these days, you might wonder what it is exactly that’s bringing these visitors to the central Indonesian city. It’s not the world-famous textile <i>batik</i>, but something far more surprising: technical knowledge.</h2>
				<hr class="featurette-divider">
				<p>Mongolia’s economic boom, coupled with harsh winters that have killed off cattle and traditional livelihoods, have made the country’s rural, pastoralist lifestyle less attractive and economically viable. As rural residents flood to the capital, Ulaanbaatar, in search of work, city residents now account for one-half of Mongolia’s total population, up from one-quarter only 25 years ago.</p>
				<p>There was an urgent need for officials in Mongolia’s capital to better understand how these new residents were living so that they could provide them with the basic services they need.</p>
				<p>So in March 2013, a Mongolian delegation visited Solo in Central Java to learn from an innovative community mapping initiative, pioneered in 2009 by Solo-based NGO Kota Kita. For the first time, the mapping project enabled citizens to interact in participatory planning, budgeting, and urban development decisions in this city of over 500,000.</p>
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/feature/mongolia-planning/IMG_1569.jpg">
				<hr class="featurette-divider">
				<p>The focus was on the city’s ger districts that surround the capital. Sixty percent of the population live in these areas in gers, also know as yurts, which are the traditional, portable round houses made of felt found throughout Central Asia.</p>
				<p>These communities live without access to basic services such as electricity and water. Given this rapid growth, the government has not been able to develop adequate planning for the soaring ger developments. However, potential solutions have come in from unlikely places – most recently from Solo, Indonesia.</p>
				<p>Although the two cities appear to be very different, Solo and Ulaanbaatar share similarities, including rapid population growth. In both places, governance has traditionally been top-down, and collecting accurate social and welfare data has historically not been a priority. Both cities also share similarities in their local administrative structure – Indonesia has a RT (neighborhood association) system that is based on 30-50 households that act as community leaders at the lowest level in the administrative system. </p>
				<p>Ulaanbaatar has khoroos, under which there are community leaders similar to RT leaders who are involved in decision-making at the local level. Both local governments have recognized the need to gather data at the local level, and traditional methods of data collection have proven unreliable and lacking in the detail and nuance needed to accurately reflect local needs. These local administrative structures prove ideal for community-based problem solving through the generation of crowd-sourced information.</p>
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/feature/mongolia-planning/banner3.jpg">
				<hr class="featurette-divider">
				<p>An advantage of this bottom-up community mapping approach is that it is able to generate a high degree of accuracy about the location of specific infrastructure facilities, which can be identified on city maps. Previously, information was not available at the lowest levels, so nuances around pockets of poverty and lack of services could not be identified.</p>
				<p>Important to both cities is the need to identify community solutions that stem from a lack of government capacity, and the need for citizens and community organizations to engage in discussions to find effective mechanisms for infrastructure maintenance. The information generated for the maps helps bring people together to discuss how best to share their resources.</p>
				<p>This was the basis of the community mapping database project in Solo. The maps and “mini atlases” available on the website, Solo Kota Kita, profile information about every neighborhood in Solo. The data collected are linked to the local budget process (musrembang), which informs a series of maps that show services such as the provision of schools and health clinics graphically. </p>
				<p>These tools are used to understand the urban issues facing residents related to education, poverty, and health, and have helped the local government prioritize spending and development priorities as patterns emerge in the incidence and correlation of deprivation and social problems.</p>
				<p>Bima, a junior planner at Kota Kita, had no idea that the work he started in Solo would be of interest to people in other countries. “I thought every city had a different system, set of policies and geography. I had no idea our ideas could be implemented in other countries,” he said.</p>
				<blockquote><p>“But then I came to realize that urban data and information that is easy to read and understand is very important for all citizens. Better information creates a better future for a city. If the community can understand their neighborhood and its conditions through maps and data, it will help in planning and prioritizing.”</p></blockquote>
				<p>Solo’s mapping tool as a way of dealing with urban planning problems has been particularly useful for Ulaanbaatar’s ger districts. Following the study tour in 2013, the City Municipality requested a similar mapping project for the ger districts. After an intensive data collection and mapping process in 87 neighborhoods, the Manaikhoroo Community Mapping website launched in January 2014, with information on 11 indicators concerning accessibility and availability of public services, including street lighting, illegal garbage dumping, and crime hotspots, via downloadable maps.</p>
				<p>Mr. Gerelchuluun, head of the city’s Governor’s Office, said that this more transparent approach has allowed the city to more effectively monitor and evaluate the performance of city officials in providing services and making improvements. The city is now introducing a plan by which the best performing local district head will receive a bonus equivalent to one year of their salary.</p>
				<p>By focusing on local service provision and facilities, elected officials are held accountable in a way that elections do not provide for, so the system also supports more informed political decision-making. In Ulaanbaatar, the mapping project has enabled the mayor to engage citizens in community meetings in all 87 ger areas, with over 300,000 people participating in city budget discussions.</p>
				<p>In February 2014, a second delegation from Mongolia, this time including representatives of the Ulaanbaatar’s District Governments and the City Municipality, visited Solo to learn more about participatory budgeting and planning policies, how urban redevelopment and planning processes can spur economic development, and how community savings schemes such as revolving funds can support community-level development and employment. If applied in Ulaanbaatar, these could make an important contribution to the lives of some of its most vulnerable residents living in the ger districts.</p>
				<h4>Jeremy Gross is Capacity Building Coordinator at the Economic Research Institute for ASEAN and East Asia. He worked at The Asia Foundation in Jakarta from 2005 to 2010. An earlier version of this article appeared on The Asia Foundation’s blog site, In Asia.</h4>
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
