---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="././favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="././assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/firm-foundation/banner.jpg)">
    </div>

	<div class="container">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<h1 class="text-primary">Indonesian parliament backs new leaders building better cities</h1>
				<h5 class="text-uppercase">Feature by <strong>Ahmad Rifai</strong></h5>
				<h6>January 20th, 2015</h6>
			</div>
			<div class="col-md-9">
				<h2>Indonesia’s parliament has voted unanimously to let the people elect their own local leaders after months of political maneuvering that had threatened to quell a new wave of participatory governance, but observers are cautious that undemocratic changes may yet be made to the electoral system.</h2>
				<hr class="featurette-divider">
				<p>A new generation of directly elected progressive local leaders are helping millions of Indonesians enjoy better lifestyles by including residents in the management of their cities, but their future was put at risk in September last year after the previous parliament in its final days voted to scrap local elections, leaving regional parliaments to appoint governors, mayors and district chiefs.</p>
				<p>Even though the opposition coalition of parties, which has a majority of seats in parliament, spearheaded the move to scrap local direct elections, they all voted in favor of keeping local elections on January 20, reversing the law passed in September.</p>
				<p>Kota Kita welcomed the parliament’s decision to let people choose their own leaders, describing direct elections as the people’s right.</p>
				<blockquote><p>“Indonesia has dodged a bullet — if local leaders were chosen by parliaments, this would just hand power to political parties, which are traditionally much further removed from the people, are conservative and less creative,” Kota Kita co-founder and director John Taylor said.</p></blockquote>
				<p>Direct elections are the very mechanism that allowed Indonesia to shift from a decades-long autocratic government to a more democratic and socially just one, Taylor said, adding that they had allowed the emergence of leaders who are proving to be open to new ideas and more creative about solving complex urban problems.</p>
				<blockquote><p>“But we should remain cautious as the parliament is poised to make revisions to local elections. All Indonesians and relevant organizations should keep monitoring to ensure any revisions are democratic, so this new generation of leaders can continue their good work,” Taylor said.</p></blockquote>
				<p>Local leaders taking a bottom-up approach to urban management have sprouted following the meteoric rise of President Joko Widodo, a man with humble beginnings who was elected Solo city mayor and became wildly popular for his frequent visits to villages to hear communities’ grievances and for cutting red tape to find quick solutions to urban problems.</p>
				<p>Known affectionately as Jokowi, the mayor moved up to become governor of the capital, Jakarta, where he won legions of fans before rising to the presidency in the July 2014 poll.</p>
				<p>His political opponents had argued that scrapping local elections would reduce costs as the country carries out hundreds of polls each year, but the law’s passage in September was more widely seen as revenge against the president, and a way to prevent reform-minded leaders from being elected by the people and rising up the ranks again.</p>
				<p>Under immense political pressure, then-President Susilo Bambang Yudhoyono overturned the bill before Joko’s inauguration through a decree, after his Democratic Party stormed out of the September vote, essentially handing victory to the opposition in having local  elections scrapped.</p>
				<h3>But the party made an about-face on January 20, voting to keep the elections.</h3>
				<hr class="featurette-divider">
				<h2>Overhauling cities</h2>
				<p>In the meantime, mayors in the cities of Surabaya and Bandung have made enormous changes to improve city life with the help of citizens.</p>
				<p>Surabaya Mayor Tri Rismaharini was nominated for the World Mayor award in 2014 for her overhaul of the country’s second-biggest city, having made simple changes to transform what was once an eyesore of industrial activity to a clean living space adorned with parks — a rarity in Indonesian cities.</p>
				<p>Under her leadership, simple changes to Surabaya’s drainage system has dramatically reduced flooding. Listening to the people, Tri fought off an earlier government plan to build a toll road through the already congested city, instead drawing up plans for a monorail and tram system. </p>
				<p>The “one soul, one tree” campaign saw 5,000 new trees planted to restore mangrove forests along the beaches, where poor communities have received training to produce goods, such as mangrove batik, syrup and other food products. The city government has also begun and urban farming program.</p>
				<p>The story is similar in Bandung, Indonesia’s third-biggest city. Bandung mayor Ridwan Kamil, perhaps the country’s best-known architect, has mapped out a city of cable cars, monorails, bike sharing lanes and even a pedestrian skywalk in a country where footpaths are usually unusable because of damage and poor management.</p>
				<p>Ridwan was one of the most vocal opponents to the law scrapping local elections, and as an avid Twitter user, he instructed all departments in his administration to set up Twitter accounts so that the public could report problems, such as damaged roads and blocked drains, by posting photos.</p>
				<blockquote><p>“I’m using collaborative energy to transform urbanism. Collaboration is (part) of our culture. During the floods in February 2005, we asked citizens to dig boreholes, one-meter deep with a diameter of 10 centimeters to absorb the rainwater. In one week, we had 10,000 volunteers digging 3,050 holes — a world record,” Ridwan told green architecture journal FutureArc.</p></blockquote>
				<p>Civil servants too are finding inspiration from these leaders, bringing participatory governance to their departments.</p>
				<p>Fajar Desira, the Regional Planning and Development Agency chief of Banjarmasin city on Borneo island, worked with students, residents of a the Sungai Jingah riverbank village and Kota Kita on the Firm Foundation project to restore a port that had fallen into disrepair.</p>
				<p>The design helped revive important daily economic activities, such as purchasing vegetables from boat vendors, and the public space included multiple ways to engage the river through fishing and other activities.</p>
				<p>“Pak Fajar selected the site, contacted the village chiefs and helped us coordinate with all the officials at the neighborhood government office and agencies we needed. He essentially facilitated our direct engagement with the local population and gave his official approval of our work, which is very important in Indonesia,” Taylor said.</p>
				<blockquote><p>“It’s heartening to see so many leaders taking this inclusive approach. We commend the parliament for supporting these innovative leaders and urge them to protect democracy in its local election revisions.”</p></blockquote>
			</div>
		</div>

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
