---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/feature/development-boom/banner.jpg)">
    </div>

	<div class="container">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<h1 class="text-primary">Indonesia Development Boom Ignores Community Voices</h1>
				<h5 class="text-uppercase">Feature by <strong>Paulista Surjadi</strong></h5>
				<h6>August 2015</h6>
			</div>
			<div class="col-md-9">
				<h2>Indonesian cities are being developed at a rapid pace, yet the communities most affected by the shopping malls, resorts and commercial building that are sprouting are having little say in how their environment should be shaped. There is growing alarm of the environmental and social consequences of development that is exclusive of communities, leaving investors as the sole winner, undermining the promise of benefits for the local communities.</h2>
				<hr class="featurette-divider">
				<h3>Bali: An Island Paradise at Threat</h3>
				<p>Luxury hotels, rollercoaster rides and a Formula One circuit on a tropical island—it might sound like paradise to some, but for the communities on Indonesia’s Bali island, it’s an environmental disaster waiting to happen.</p>
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/feature/development-boom/Coastal-Reclamation_01.jpg">
				<hr class="featurette-divider">
				<p>Indonesian developer Tirta Wahana Bali Internasional is planning to reclaim 833 hectares of land to build such a resort in Benoa Bay, part of the world-famous Nusa Dua resort.</p>
				<p>But civil society group ForBALI says the $2.5 billion project will dramatically change the character of southern Bali and lead to sea level rises, inundating low-lying villages nearby, a claim backed by a <a href="www.thebalidaily.com/2013-08-02/benoa-bay-reclamation-could-have-grave-impact.html" target="_blank">Conservation International</a> audit of the plan.</p>
				<p>It will also destroy 700 hectares of once-protected mangrove wetlands, a type of underwater forest rich in biodiversity and carbon, which is emitted into the atmosphere when destroyed, contributing to climate change. These changes come with social impacts, as the project clashes with the local culture and tranquility that draws millions to the island each year.</p>
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/feature/development-boom/Destruction_02.jpg">
				<hr class="featurette-divider">
				<p>ForBALI has fought the proposed project since 2013, bringing together citizen activists, academics, politicians, local leaders, artists and musicians under the campaign <i>Tolak Reklamasi</i> (Reject the Reclamation), demanding the plan be scrapped.</p>
				<p>It has used regular public protests, concerts, cultural events and social media to reach the public and communities affected by the proposed development, in what is possibly Indonesia’s most active citizen-driven movements in local governance. </p>
				<p>It started out with 25 supporters and now has 7,000 from around Indonesia, also gaining the attention of international environmental groups.</p>
				<blockquote><p>“The movement is a test of the democratic process in Indonesia, as well as an exercise in citizen participation,” ForBALI coordinator Wayan “Gendo” Suardana told Kota Kita.</p></blockquote>
				<blockquote><p>“<i>Tolak Reklamasi</i> aims to shows the potential environmental and social damage of land reclamation, but also the importance of civic responsibility to participate in the urban governance and challenge the opaque decision-making processes that are going on,” Suardana said.</p></blockquote>
				<blockquote><p>“Kota Kita supports ForBALI’s efforts to mobilize citizens, raise awareness about environmental issues in Bali, and advocate for a more democratic approach to development. We look forward to working with and promoting efforts like these; our future is within the hands of people who are willing to stand up, voice their opinions, and promote a sustainable and just Indonesia.” Ahmad Rifai, Director of Kota Kita said.</p></blockquote>
				<p>Bali attracts up to <a href="www.disparda.baliprov.go.id/en/Statistics2" target="_blank">10 million international and domestic tourists each year</a> and concern is growing that it is becoming overcrowded — both for tourists and local communities. ForBALI says the last thing the island needs is more hotels.</p>
				<p>In the popular south of the Island, hotel rooms rose from 22,000 in 2011 to almost 55,000 in 2014. There are believed to be thousand more unregistered room.</p>
				<p>Nonetheless, at least 67 hotels are approved for building in 2016.</p>
				<p>This is despite the fact there is a moratorium issued in 2011 by the Bali Governor Made Mangku on development in place. It was issued <a href="www.thebalidaily.com/2014-01-29/bali-fails-implement-hotel-moratorium.html" target="_blank">to regulate new hotel development in southern Bali</a>, but is often ignored by the regency officials who issue building permits in pursuit of higher revenues, often in greenbelt areas where development is banned.</p>
				<p>The Benoa Bay plan was made possible in 2014 when the president issued a resolution that changed the bay’s protected greenbelt status to a zone for “revitalization”, a word activists say is a euphemism for development.</p>
				<p>Despite the widespread support for <i>Tolak Reklamasi</i> Suardana says “our collective work is not over”, adding he won’t give up until the project is shelved.</p>
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/feature/development-boom/Urbanization_01.jpg">
				<hr class="featurette-divider">
				<h3>Makassar: Indonesia’s Projected City of Tomorrow?</h3>
				<p>As the bustling Indonesian capital Jakarta is stretched to its limits, with choking traffic, overdevelopment and aging infrastructure, the country plans to make the city of Makassar its second power hub.</p>
				<p>Situated on the southeastern coat of Sulawesi Island, right in the centre of the sprawling Indonesian archipelago, Makassar is already a bustling centre for trade, business, industry and new developments, and is seen as a gateway to the nation’s developing east.</p>
				<p>It has already built an international airport, toll roads and an integrated business complex in recent years, and now there are plans to increase the city size by 20 percent, in a land reclamation megaproject that will exacerbate climate change impacts already hitting communities hard.</p>
				<p>But a Kota Kita study found that these rapid developments are only going to exacerbate the impact that climate change is already having on communities, and warned that the poorest communities would be most profoundly affected.</p>
				<p>Traditional fishing communities in Makassar are at the frontline of climate change, as sea levels are expected to rise, threatening inundation of these communities’ villages and severely damage to the marine ecosystems, reducing the fish stocks they rely on for a livelihood.</p>
				<p>The study focused on the level of vulnerability of these communities, measuring and mapping by neighborhood the susceptibility to climate change impacts, assessing the capacity of a range of governmental, civil society and community bodies dealing with climate hazards.</p>
				<p>It also looked at how communities are adapting to changes to ecosystems they rely on, focusing on watersheds and wetlands, which play an essential role in minimizing sensitivity to climate change impacts for poor and vulnerable communities.</p>
				<p>Land reclamation projects only worsen these problems, the study found — they involve taking land from the periphery and dumping it in the sea to create landfill, in many cases pushing the sea level up further.</p>
				<p>Developments along Makassar’s coastal wetlands also threaten to block some communities’ access to the ocean and to force people out from their homes as eviction of poor communities in Indonesia is common, in the case of major developments.</p>
				<p>Local communities say there is disconnect between their needs and the development plans. In the past, when fishing communities have been evicted to make way for development projects, <a href="http://makassar.tribunnews.com/2015/06/18/sjpm-tolak-reklamasi-pantai-makassar" target="_blank">they have not been offered roles in the city’s rapid transformation</a>. They are forced into informal sectors where income is tenuous and not necessarily sustainable.  The assessment expresses concern that this trend could lead to larger social problems, including limited job opportunities and poverty.</p>
				<p>“As development projects go forward and cities are rapidly urbanized in Indonesia, most of the time no process of public consultation has taken place at all, so the vulnerability of poor communities grows immensely,” Kota Kita Executive Director Ahmad Rifai said.</p>
				<p>“Makassar’s city leadership must articulate a coherent vision for the city that promotes resilience and pro-poor development. Such a vision can facilitate better coordination between city departments and city stakeholders, including its citizens,” he said.</p>
				<p>The first stage of land reclamation project — CitraLand City Losari Makassar — will be developed in 2018 on 107 hectares of reclaimed land, part of a larger, 1,000-hectare integrated business district called Center Point of Indonesia (CPI).  CitraLand City Makassar is designed as Makassar’s “new town”, with modern facilities, housing and commercial areas, including office buildings, hotels and shopping malls.</p>
				<p>Makassar’s development projects have seen resistance from the civil society groups, especially with the main concerns that the poor communities would remain on the losing side of development.</p>
				<p>In a protest against the land reclamation project in Makassar, Aswar Exwar, chairman of Wahana Lingkungan Hidup (WALHI) South Sulawesi, an independent environmental civil society group, said that that Makassar’s natural ecosystems have been seriously damaged.</p>
				<p>“In some instances land reclamation can serve to protect against abrasion and erosion, particularly for islands and damaged coastal areas. Reclamation should help to rejuvenate coastal areas, what we have seen is another way, a lot of damage within mangrove conservation areas, coral reefs, and other organisms in coastal areas,” Exwar said.</p>
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
