---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="./src/img/ex_slider_03.jpg" alt="First slide">
			</div>
		</div>
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-6 col-md-4">
				<div class="section-intro">
					<h1>Donate or Fund YKK</h1>
					<h4></h4>
				</div>
			</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-sm-6 col-md-8">
				<div class="project-page-intro">
					<h3>YKK carries out commissioned work, but it also relies heavily on donations and funding.</h3>
					<div class="row">
						<div class="col-md-6">
							<p>Some of YKK’s most meaningful work, including <a href="#">LINK TO PROJECT DESCRIPTION</a>, has been funded by aid and philanthropic organizations <a href="#">LINK TO OUR PARTNERS PAGE</a>.</p>
							<p>To make a one-off donation, or set up regular donations, please enter your details below. Feel free to <a href="about-us.html#contact">contact YKK</a> to discuss how else you can help.</p>
						</div>
						<div class="col-md-6">
							<p><a class="btn btn-lg btn-primary" href="#" role="button">Donate to YKK</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-3">
				<h1>Volunteer or Intern</h1>
				<p>Participation is the spirit of YKK’s work, and more than X volunteers and interns have contributed to building better cities, while learning the ropes of inclusive urban planning and governance.</p>
				<p><a href="#">Contact us if interested in working with Kota Kita!</a></p>
			</div>
			<div id="intern" class="col-sm-9">
				<div class="row">
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-ashay">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Alice-Shay.jpg" alt="Generic placeholder image">
							<h4>Alice Shay</h4>
						</a>
						<div class="modal fade modal-ashay" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
							    <div class="modal-content">
							    	<div class="modal-header">
							        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							        	<h2 class="modal-title" id="myLargeModalLabel">Alice Shay</h2>
							        </div>
							        <div class="modal-body">
								    	<h4>2011 & 2012</h4>
							      		<p>Alice interned with Kota Kita while studying for her Master of City Planning at the Massachusetts Institute of Technology (MIT), and in 2012 she worked on the Firm Foundation project with Kota Kita, using her skills to engage residents of a dense riverbank settlement in Banjarmasin city to create much needed public space. Alice now works for Bloomberg Associates in New York City as part of their urban planning team, providing philanthropic consulting to city governments around the world. Alice has fond memories of making site visits in Indonesia for the City Development Strategies program, commissioned by UNHABITAT, to assess neighborhoods’ conditions, livelihood dynamics and infrastructure. “I also found visiting Banjarmasin's floating market at dawn an incredible experience,” she said.</p>
	        						</div>
							    </div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-amohamed">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Alykhan-Mohamed.jpg" alt="Generic placeholder image">
							<h4>Alykhan Mohamed</h4>
						</a>
						<div class="modal fade modal-amohamed" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						    	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						        	<h2 class="modal-title" id="myLargeModalLabel">Alykhan Mohamed</h2>
						        </div>
						        <div class="modal-body">
							    	<h4>Summer 2012</h4>
							    	<p>Alykhan interned with Kota Kita while studying for a Master of Urban Planning degree at Harvard University. He worked on piloting SMS surveys for the SMS Rapid Urban Response in Solo, crowd-sourcing neighborhood data using cell phones, and helped organize and facilitate workshops for the Firm Foundation project in Banjarmasin. Alykhan now works as an urban planner and designer in the city of Austin, Texas. He said of all the experiences he had with Kota Kita, the three-day Firm Foundation workshops were his favorite “because of the learning experience I had during the meticulous and thorough process of planning and preparing for the workshop.”</p>
        						</div>
						    </div>
						  </div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-beagen">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Barry-Beagen.jpg" alt="Generic placeholder image">
							<h4>Barry Beagen</h4>
						</a>
						<div class="modal fade modal-beagen" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <h2>Barry Beagen</h2>
						      <h4>2010</h4>
						      <p>Barry interned with Kota Kita while completing his undergraduate studies at Cornell. He worked on developing the Solo Kota Kita maps and mini-atlases for the city’s 51 neighborhoods. He is currently completing his Master of Architecture at MIT, and as a fellow at the Tata Center for Technology and Design, he is developing research and a pilot project for the delivery of incremental affordable housing in India. He felt the best experience he had during his internship was the combination of neighborhood surveys and developing maps simultaneously. “And also working late into the evening and sharing moped rides to catch a meal at Spesial Sambal,” he said, referring to a famous restaurant that Kota Kita staff regularly frequent which serves as many types of fresh chili sauce you can imagine.</p>
						    </div>
						  </div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Daniel-Heriberto-Palencia.jpg" alt="Generic placeholder image">
						<h4>Daniel Heriberto Palencia Arreola</h4>
					</div>

					<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Emily-Schlickman.jpg" alt="Generic placeholder image">
						<h4>Emily Schlickman</h4>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Emly-Lesk.jpg" alt="Generic placeholder image">
						<h4>Emly Lesk</h4>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Hector-Salazar-Salome.jpg" alt="Generic placeholder image">
						<h4>Hector Salazar Salome</h4>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Heni-Wijaya.jpg" alt="Generic placeholder image">
						<h4>Heni Wijaya</h4>
					</div>

					<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
					
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Karina-Gilbert.jpg" alt="Generic placeholder image">
						<h4>Karina Gilbert</h4>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Olivia-Stinson.jpg" alt="Generic placeholder image">
						<h4>Olivia Stinson</h4>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Sebastian-Dettman.jpg" alt="Generic placeholder image">
						<h4>Sebastian Dettman</h4>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Stephen-Kennedy.jpg" alt="Generic placeholder image">
						<h4>Stephen Kennedy</h4>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div id="urban-social-forum" class="row featurette">
			<div class="col-md-3">
				<h1>The Urban Social Forum</h1>
				<h4>If you want to take part in the 3rd Urban Social Forum in December 2015, please contact <a href="#">_________</a>.</h4>
			</div>
			<div class="col-md-9">
				<h3>The Urban Social Forum is an annual event that creates an open and inclusive space for civil society organizations, students, academics and social leaders from all over Indonesia to gather.</h3>
				<hr class="featurette-divider hidden-sm">
				<div class="row">
					<div class="col-md-6">
						<p>The forum provides an opportunity for participants to debate ideas, exchange experiences and knowledge, and meet and network with other leaders and organizations working on pressing urban issues throughout the country.</p>
						<p>The event is aimed at promoting awareness of urban issues, improving understanding of current practices and promoting collaboration.</p>
						<p>Together, the civil society community can develop a common vision about how to overcome the challenges that determine our urban future.</p>
					</div>
					<div class="col-md-6">
						<p>The Urban Social Forum organizers believe that inclusive, participatory and progressive policies are necessary for the development of socially just, sustainable and humane cities, and that the role of civil society is critical in developing solutions to our urban problems.</p>
						<p>Not only are these socially inclusive cities needed, we believe they are achievable, and it is our responsibility to promote them.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-6 col-md-4">
				<div class="section-intro">
					<h1>The Urban Social Forum</h1>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block"></div>
			<div class="col-sm-6 col-md-8">
				<div class="project-page-intro">
					<h3>The Urban Social Forum is an annual event that creates an open and inclusive space for civil society organizations, students, academics and social leaders from all over Indonesia to gather.</h3>
					<div class="row">
						<div class="col-md-6">
							<p>The forum provides an opportunity for participants to debate ideas, exchange experiences and knowledge, and meet and network with other leaders and organizations working on pressing urban issues throughout the country.</p>
							<p>The event is aimed at promoting awareness of urban issues, improving understanding of current practices and promoting collaboration.</p>
							<p>Together, the civil society community can develop a common vision about how to overcome the challenges that determine our urban future.</p>
						</div>
						<div class="col-md-6">
							<p>The Urban Social Forum organizers believe that inclusive, participatory and progressive policies are necessary for the development of socially just, sustainable and humane cities, and that the role of civil society is critical in developing solutions to our urban problems.</p>
							<p>Not only are these socially inclusive cities needed, we believe they are achievable, and it is our responsibility to promote them.</p>
							<p>If you want to take part in the 3rd Urban Social Forum in December 2015, please contact _________.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
		</div> -->

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->


		<!-- FOOTER -->
	{% include footer.html %}

	</div><!-- /.container -->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="./src/js/bootstrap.min.js"></script>
	<script src="./src/js/docs.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="./src/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
