---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/intern_thumb/banner2.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-6 col-md-3">
				<div class="section-intro">
					<h1>Donate to and Fund Kota Kita</h1>
					<h4></h4>
				</div>
			</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-sm-6 col-md-9">
				<div class="project-page-intro">
					<h3>Kota Kita carries out commissioned work, but it also relies heavily on donations and funding.</h3>
					<div class="row">
            <div class="col-md-12">
              <p>Some of Kota Kita’s most meaningful work, including its landmark project <a href="/project-solo-kota-kita">Solo Kota Kita</a>, has been funded by aid and philanthropic organizations like <a href="/partners">the Ford Foundation, USAID, and UN-Habitat</a>. Your support to Kota Kita will contribute in ensuring the continuing efforts to improve the practices and studies of inclusive and participatory planning in Indonesian cities. We greatly appreciate your interest in supporting Kota Kita and our activities.</p>
              <p>These are some ways to donate to Kota Kita:</p>
              <ul>
                <li style="padding:6px 0px;">If you are based outside Indonesia, you can donate through <a target="_blank" href="https://www.google.com/url?q=https://give2asia.secure.force.com/pmtx/dn8n__SiteDonation?id%3Da1L16000008kIDz&sa=D&ust=1532462177015000&usg=AFQjCNGG9kGgUh0X7iJW4yeScNrsF2oIiA"><strong>Give2Asia</strong></a> portal.</li>
                <li style="padding:6px 0px;">
                  <p>Any donation can be directed to:</p>
                  <br>
                  <ul style="list-style: none;">
                    <li style="padding:4px 0px;"><strong><small>Bank Name: </small></strong> BNI Cab. Slamet Riyadi Solo</li>
                    <li style="padding:4px 0px;"><strong><small>Account Number: </small></strong> 721 023 983</li>
                    <li style="padding:4px 0px;"><strong><small>Name: </small></strong> Yayasan Kota Kita Surakarta</li>
                    <li style="padding:4px 0px;"><strong><small>Swift Code: </small></strong> BNINIDJA</li>
                    <li style="padding:4px 0px;"><strong><small>Address: </small></strong> Jalan Slamet Riyadi No. 348, Surakarta, Central Java, Indonesia</li>
                  </ul>
                  <br>
                </li>
              </ul>
              <p>Feel free to <a href="about-us.html#contact">contact</a> Kota Kita to discuss how else you can help.</p>
            </div>
						<!-- <div class="col-md-12">
							<p>Some of Kota Kita’s most meaningful work, including <a href="/project-solo-kota-kita">its landmark project Solo Kota Kita</a>, has been funded by aid and philanthropic organizations <a href="/partners">like the Ford Foundation, USAID, and UN-Habitat.</a>.</p>
							<p>To make a one-off donation, or set up regular donations, please enter your details below. Feel free to <a href="about-us.html#contact">contact Kota Kita</a> to discuss how else you can help.</p>
						</div> -->
						<!-- <div class="col-md-6">
							<p><a class="btn btn-lg btn-primary" href="#" role="button">Donate to Kota Kita</a></p>
						</div> -->
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
		</div>

		<hr class="featurette-divider">

		<div id="join" class="row featurette">
			<div class="col-md-3">
				<h1>Join <br>Our Team!</h1>
				<!-- <h4>Learn more about what you could be part of if you join Kota Kita.</h4> -->
			</div>
			<div class="col-md-9">
				<h3>We are always looking for talents that value creativity, innovation, teamwork, and looking for ways to realize more inclusive Indonesian cities. We will constantly update our career opportunities on our social media but if you are interested in the challenge, you can contact us here: <a href="mailto:jobs@kotakita.org">jobs@kotakita.org</a></h3>

				<p style="padding-top: 24px;">
					Kota Kita offers a selective internship programme to work with individuals that value creativity, innovation, teamwork, and looking for ways to realize more inclusive Indonesian cities. Internship applicants will be evaluated based on their qualifications, research or work interest, and suitability to our ongoing projects. We would expect the internship to 	last for a minimum duration of 3 months, based in Solo, Indonesia, or other cities we are working in.
				</p>

				<p style="padding-top: 24px;">
					If you are eager to work in a collaborative environment, and want to learn with real challenges as development practitioners with Kota Kita, please send your resume along with a cover letter and/or project proposal to <a href="mailto:work@kotakita.org">work@kotakita.org</a>
				</p>

				<hr class="featurette-divider hidden-sm">
				<div class="row">
					<div class="col-sm-12">
						<p><a href="https://bit.ly/kotakitajobs" target="_blank"><strong>Learn more</strong></a> about what you could be part of if you join Kota Kita.</p>
					</div>
					<!-- <div class="col-md-6">
						<p>The Urban Social Forum organizers believe that inclusive, participatory and progressive policies are necessary for the development of socially just, sustainable and humane cities, and that the role of civil society is critical in developing solutions to our urban problems.</p>
						<p>Not only are these socially inclusive cities needed, we believe they are achievable, and it is our responsibility to promote them.</p>
					</div> -->
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-3">
				<h1>Volunteer or Intern</h1>
				<p>Participation is the spirit of Kota Kita’s work. These are volunteers and interns who have contributed to building better cities, while learning the ropes of inclusive urban planning and governance.</p>
				<p><a href="about-us.html#contact"><strong>Contact us</strong></a> if you are interested in working with Kota Kita!</p>
			</div>
			<div id="intern" class="col-sm-9">
				<div class="row">
					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-aamalia">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Addina-Amalia.jpg">
							<h4>Addina Amalia</h4>
						</a>
						<div class="modal fade modal-aamalia" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Addina Amalia</h2>
									</div>
									<div class="modal-body">
										<h4>2011 &amp; 2012</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Addina-Amalia.jpg"> Addina Amalia remembers the excitement of winning the URBAN SOS design competition with other Kota Kita interns in 2011 with their Firm Foundation project entry. "When I was with Kota Kita, I got to work on almost everything, especially on urban design, taking projects from beginning to end, which was a great experience," she says.</p>
										<p>Addina is now working as a junior architect in the capital, Jakarta. At Kota Kita, she enjoyed being in the field to survey community members. She helped collect data from stakeholders and governments, and became a pro at drawing up maps and other designs.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-ashay">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Alice-Shay.jpg">
							<h4>Alice Shay</h4>
						</a>
						<div class="modal fade modal-ashay" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Alice Shay</h2>
									</div>
									<div class="modal-body">
										<h4>2011 &amp; 2012</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Alice-Shay.jpg"> Alice interned with Kota Kita while studying for her Master of City Planning at the Massachusetts Institute of Technology (MIT), and in 2012 she worked on the Firm Foundation project with Kota Kita, using her skills to engage residents of a dense riverbank settlement in Banjarmasin city to create much a needed public space.</p>
										<p>Alice now works for Bloomberg Associates in New York City as part of their urban planning team, providing philanthropic consulting to city governments around the world. Alice has fond memories of making site visits in Indonesia for the City Development Strategies program, commissioned by UNHABITAT, to assess neighborhoods’ conditions, livelihood dynamics and infrastructure. “I also found visiting Banjarmasin's floating market at dawn an incredible experience,” she said.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-warburton">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Alex-Warburton.jpg">
							<h4>Alex Warburton</h4>
						</a>
						<div class="modal fade modal-warburton" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Alex Warburton</h2>
									</div>
									<div class="modal-body">
										<h4>2014-2015</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Alex-Warburton.jpg">Alex is interning with Kota Kita in Solo, where he is also studying the intricate art of gamelan, a traditional Javanese music, on a government scholarship. Yet what he finds challenging is dealing with the dramatic wet season. "Coming back from my first meeting at the Kota Kita office was also my first time driving in a rainy season downpour, without a raincoat to boot. I definitely remember that. The sky seemed fine to my eyes, but two  minutes later, it just opened up," he says.</p>
										<p>Alex is currently researching and summarizing Kota Kita's past projects for the organization's website, to make the valuable work of Kota Kita more accessible to diverse audiences. He plans to do a PhD  in linguistic anthropology.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-amohamed">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Alykhan-Mohamed.jpg">
							<h4>Alykhan Mohamed</h4>
						</a>
						<div class="modal fade modal-amohamed" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Alykhan Mohamed</h2>
									</div>
									<div class="modal-body">
										<h4>Summer 2012</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Alykhan-Mohamed.jpg">Alykhan interned with Kota Kita while studying for a Master of Urban Planning degree at Harvard University. He worked on piloting SMS surveys for the SMS Rapid Urban Response in Solo, crowd-sourcing neighborhood data using cell phones, and helped organize and facilitate workshops for the Firm Foundation project in Banjarmasin.</p>
										<p>Alykhan now works as an urban planner and designer in the city of Austin, Texas. He said of all the experiences he had with Kota Kita, the three-day Firm Foundation workshops were his favorite “because of the learning experience I had during the meticulous and thorough process of planning and preparing for the workshop.”</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-beagen">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Barry-Beagen.jpg">
							<h4>Barry Beagen</h4>
						</a>
						<div class="modal fade modal-beagen" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Barry Beagen</h2>
									</div>
									<div class="modal-body">
										<h4>2010</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Barry-Beagen.jpg">Barry interned with Kota Kita while completing his undergraduate studies at Cornell. He worked on developing the Solo Kota Kita maps and mini-atlases for the city’s 51 neighborhoods. He is currently completing his Master of Architecture at MIT, and as a fellow at the Tata Center for Technology and Design, he is developing research and a pilot project for the delivery of incremental affordable housing in India.</p>
										<p>He felt the best experience he had during his internship was the combination of neighborhood surveys and developing maps simultaneously. “And also working late into the evening and sharing moped rides to catch a meal at Spesial Sambal,” he said, referring to a famous restaurant that Kota Kita staff regularly frequent which serves as many types of fresh chili sauce you can imagine.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-arreola">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Daniel-Heriberto-Palencia.jpg">
							<h4>Daniel Heriberto Palencia Arreola</h4>
						</a>
						<div class="modal fade modal-arreola" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Daniel Heriberto Palencia Arreola</h2>
									</div>
									<div class="modal-body">
										<h4>2014</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Daniel-Heriberto-Palencia.jpg">Daniel interned with Kota Kita after graduating from the Unversidad Nacional Automa de Mexico. He helped create a database in Solo for the musrenbang, an annual community-level participatory budgeting process, so that residents could make decisions about their city based on data and evidence. Daniel now works in Singapore with Urban Launchpad and the Singapore-MIT Alliance for Research and Technology (SMART) on different projects revolving around urban planning and technology.</p>
										<p>Daniel continues to collaborate with Kota Kita, developing a digital database to map infrastructure projects in Solo. Daniel was heartened by the welcoming environment in Indonesia and at Kota Kita. “I really enjoyed my experience there. I was glad to learn about the government, culture and society of Indonesia, and to be able to see their similarities and differences with Mexico. I'm still impressed with how far and close those two places can be at the same time.”</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-schlickman">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Emily-Schlickman.jpg">
							<h4>Emily Schlickman</h4>
						</a>
						<div class="modal fade modal-schlickman" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Emily Schlickman</h2>
									</div>
									<div class="modal-body">
										<h4>2011</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Emily-Schlickman.jpg">Emily contributed to Kota Kita as a landscape architecture graduate from Harvard University. She worked on developing maps and mini atlases to support the participatory planning in the city, and contributed to an assessment of climate change vulnerability in the Pabean district in Pekalongan city, a hub for the production of batik, Indonesia’s famous hand-dyed artisanal fabric.</p>
										<p>Emily now lives in San Francisco and works for SWA Group, a landscape architecture and urban design firm, while teaching digital representation courses. She enjoyed visiting and surveying the neighborhoods of Solo. “This qualitative perspective always seemed to shed new light on our analysis and allowed us to connect faces with data,” she said.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-lesk">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Emly-Lesk.jpg">
							<h4>Emily Lesk</h4>
						</a>
						<div class="modal fade modal-lesk" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Emily Lesk</h2>
									</div>
									<div class="modal-body">
										<h4>2009</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Emly-Lesk.jpg">Emily interned while studying her Master of Architecture at Harvard University. She worked on the Solo Kota Kita community mapping project, helping to create maps and mini atlases that illustrate living conditions in Solo’s neighborhoods, including access to public services, income levels and child school attendance rates. She also researched the process of making batik, Indonesia’s celebrated hand-dyed textile, in a Solo neighborhood.</p>
										<p>Emily now works for the city of San Francisco, facilitating real estate development projects that also aid economic development. “My favorite experience interning in Indonesia was riding my first becak (rickshaw) around the neighborhood of Kratonan to gather information for the mini atlas,” Emily said, referring to the historical area that once included the sultanate’s palace.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-salazar">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Hector-Salazar-Salome.jpg">
							<h4>Hector Salazar Salome</h4>
						</a>
						<div class="modal fade modal-salazar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Hector Salazar Salome</h2>
									</div>
									<div class="modal-body">
										<h4>2011-2012</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Hector-Salazar-Salome.jpg">Hector interned for a full year with Kota Kita as a Luce Scholar after he graduated from MIT with a Master of City Planning degree. He worked on an extensive review of the musrenbang process in Solo.</p>
										<p>He is now in Jakarta serving as the Executive Director of J-PAL SEA, a research organization that conducts policy impact evaluations throughout the region. “I really enjoyed collaborating with a dedicated team that was committed to their community and driven by the belief that development is enhanced by participation,” Hector said.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-wijaya">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Heni-Wijaya.jpg">
							<h4>Heni Wijaya</h4>
						</a>
						<div class="modal fade modal-wijaya" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Heni Wijaya</h2>
									</div>
									<div class="modal-body">
										<h4>2012</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Heni-Wijaya.jpg">Heni interned with Kota Kita for three months, getting involved in several projects in Solo as well as Banjarmasin on Borneo island. In Solo, she worked on developing tools and a mapping methodology to improve the potential for tourism in the Sondakan subdistrict of Solo. She also had a chance to see the site of the Firm Foundation project, and join the early meetings with local government officials.</p>
										<p>Heni is now working as a designer for IKEA in Japan. “During my internship, I enjoyed waking up really early in the morning to take a boat so we could see the traditional floating morning market in Banjarmasin. All the traders were women and they drove their small boats so professionally!” Heni said.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-hadar">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Hadar.jpg">
							<h4>Hadar Sachs</h4>
						</a>
						<div class="modal fade modal-hadar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Hadar Sachs</h2>
									</div>
									<div class="modal-body">
										<h4>Summer 2015</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Hadar.jpg">Hadar Sachs is originally from San Francisco but she joined us from Ithaca, New York State, where she is studying for her undergraduate degree in Urban Studies at Cornell University.</p>
										<p>During her two months in Solo, she helped the creation of the Urban Citizenship Academy, testing and improving the curriculum together with our team. Her responsibilities, including giving training and guidance to volunteer groups, mentor them, and develop their projects and advocacy tools. She was impressed by the power of the mini atlases in changing the way citizens engage with their government. Hadar brought extensive experience in community planning, having worked with towns in the United States, and has also been studying Bahasa Indonesia; she had a good time practicing it in the real life setting of Solo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-gilbert">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Karina-Gilbert.jpg">
							<h4>Karina Gilbert</h4>
						</a>
						<div class="modal fade modal-gilbert" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Karina Gilbert</h2>
									</div>
									<div class="modal-body">
										<h4>Summer 2013</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Karina-Gilbert.jpg">Karina joined Kota Kita’s efforts in the capital, Jakarta, and in collaboration with the NGO Ciliwung Merdeka, she and colleague Christina Geros used mapping techniques and participatory fieldwork to assess the impact that the Ciliwung River normalization would have on two local communities.</p>
										<p>Karina has since completed her Master of Architecture in Urban Design program at the Harvard Graduate School of Design and is determined to put people at the center of city making. “In addition to experiencing the softer side of Jakarta in one of its many kampungs, the experience I most enjoyed was breaking the Ramadan fast with new friends,” Karina said.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-artavia">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Artavia.jpg">
							<h4>Lucia Artavia</h4>
						</a>
						<div class="modal fade modal-artavia" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Lucia Artavia</h2>
									</div>
									<div class="modal-body">
										<h4>Summer 2015</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Artavia.jpg">Lucia Artavia is a Masters student in City and Regional Planning program at University of Pennsylvania, with a concentration in Sustainable Transportation and Infrastructure. She is from Costa Rica and her interests are in equity and accessibility to mobility opportunities and the impact of land use and the built environment on travel behavior.</p>
										<p>During the summer 2015 in Solo, she conducted research about women’s cycling in Solo, and createed and implemented a number of tools and implementing strategies that raise awareness of cycling for women. She conducted focus group discussions with different groups including schoolgirl cyclists, Department of Transportation, Surakarta City, and bicycle groups, like Bike2Work and Seli Solo Raya (local’s folding bike community). From her research, she created programs that target and promote access to cycling for women. Additionally, conducted fieldwork and research about the acceptance of electric bicycles as an alternative for a more environmentally sustainable mode of transportation.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-stinson">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Olivia-Stinson.jpg">
							<h4>Olivia Stinson</h4>
						</a>
						<div class="modal fade modal-stinson" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Olivia Stinson</h2>
									</div>
									<div class="modal-body">
										<h4>2010</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Olivia-Stinson.jpg">Olivia volunteered on the Solo Kota Kita project, helping to put together the maps and mini atlases, and to upload them onto a website for the community to access and use. She helped with the enormous task of editing and refining the maps before they went online. Olivia went to Haiti after her time in Indonesia to help with the earthquake reconstruction efforts and returned to her home country, the United States, to work on long-term recovery following a major flood disaster in Colorado.</p>
										<p>She is now the Recovery Specialist for Planning with the Colorado Division of Homeland Security and Emergency Management, working with two towns on their community-driven recovery plan after the 2013 floods, and a number of other mitigation and recovery planning projects across Colorado. She said she was excited to see Kota Kita grow in Indonesia. “The first data set Kota Kita started to develop was so basic, but it was so crucial,” Olivia said. “There weren't a lot of good maps or data sets for Solo, so doing any informed and substantiated planning or analysis would have been difficult without them. I loved being in Solo at the first Kota Kita office as well as getting to know that lovely city and spending time with the team eating sambal and bebek goreng! (fresh chili sauce and fried duck!)”</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-dettman">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Sebastian-Dettman.jpg">
							<h4>Sebastian Dettman</h4>
						</a>
						<div class="modal fade modal-dettman" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						  	<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Sebastian Dettman</h2>
									</div>
									<div class="modal-body">
										<h4>2012</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Sebastian-Dettman.jpg">Sebastian spent a week assisting Kota Kita while completing his Master of Southeast Asia Studies at the University of Michigan. He helped evaluate Kota Kita’s own work on the musrenbang, the participatory budget planning process in Solo, and assisted in interviewing local community facilitators about their role in supporting the process.</p>
										<p>Sebastian is now a third-year PhD student in the Government Department at Cornell University researching local politics in Indonesia. “In my short time with Kota Kita, I was deeply impressed by how extensively connected the organization was with local community leaders around the city. I most enjoyed seeing these interactions while accompanying Kota Kita staff, as well as hearing firsthand the perceptions of local leaders on the planning process,” Sebastian said.</p>
									</div>
								</div>
						  	</div>
						</div>
					</div>
					<div class="intern-block col-xs-6 col-sm-3">
						<div class="intern-top-box"></div>
						<a data-toggle="modal" data-target=".modal-kennedy">
							<img class="featurette-image img-responsive" src="./src/img/intern_thumb/Stephen-Kennedy.jpg">
							<h4>Stephen Kennedy</h4>
						</a>
						<div class="modal fade modal-kennedy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<h2 class="modal-title" id="myLargeModalLabel">Stephen Kennedy</h2>
									</div>
									<div class="modal-body">
										<h4>2011 &amp; 2012</h4>
										<p><img class="modal-image img-responsive" src="./src/img/intern_thumb/Stephen-Kennedy.jpg">Stephen joined Kota Kita while studying for a Master of City Planning at MIT. He worked on the City Development Strategies program, aimed at developing strategic planning documents for city leaders to help them communicate their visions to national-level planning agencies. While with Kota Kita, he also worked on an international student urban design competition called Urban SOS, developing the winning entry, Firm Foundation.</p>
										<p>Now in San Francisco, Stephen is a Design &amp; Technology Fellow for the Consumer Financial Protection Bureau, and continues to contribute to Kota Kita, having designed this very website. “My favorite experience in Indonesia was probably the daily boat commutes on the Martapura river for field work and community meetings in riverfront neighborhoods,” Stephen said.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

          {% include components/intern.html interns=site.data.interns %}

				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div id="urban-social-forum" class="row featurette">
			<div class="col-md-3">
				<h1>The Urban Social Forum</h1>
				<h4>If you want to take part in the annual Urban Social Forum, please contact us. Get to know the forum <a href="https://urbansocialforum.or.id" target="_blank"><strong>here</strong></a> and our social media, on <a href="https://www.facebook.com/UrbanSocialForum" target="_blank">Facebook</a> and <a href="https://www.instagram.com/urbansocialforum/" target="_blank">Instagram</a>.</h4>
			</div>
			<div class="col-md-9">
				<h3>The Urban Social Forum is an annual event that creates an open and inclusive space for civil society organizations, students, academics and social leaders from all over Indonesia to gather.</h3>
				<hr class="featurette-divider hidden-sm">
				<div class="row">
					<div class="col-md-6">
						<p>The forum provides an opportunity for participants to debate ideas, exchange experiences and knowledge, and meet and network with other leaders and organizations working on pressing urban issues throughout the country</p>
						<p>The event is aimed at promoting awareness of urban issues, improving understanding of current practices and promoting collaboration.</p>
						<p>Together, the civil society community can develop a common vision about how to overcome the challenges that determine our urban future.</p>
					</div>
					<div class="col-md-6">
						<p>The Urban Social Forum organizers believe that inclusive, participatory and progressive policies are necessary for the development of socially just, sustainable and humane cities, and that the role of civil society is critical in developing solutions to our urban problems.</p>
						<p>Not only are these socially inclusive cities needed, we believe they are achievable, and it is our responsibility to promote them.</p>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
