---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body>
    {% include nav-in.html %}

    <!-- Carousel
	================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div
          class="item active"
          style="background-image:url(./src/img/carousel/ex_slider_01.jpg)"
        >
          <div class="container">
            <div class="carousel-caption">
              <h4>Our Mission</h4>
              <h1>A City for All</h1>
              <p>
                Improving participatory planning and budgeting processes by
                making information available to citizens.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-default"
                  href="about-us#our-mission"
                  role="button"
                  >Learn about our mission</a
                >
              </p>
            </div>
          </div>
        </div>

        <div
          class="item"
          style="background-image:url('https://res.cloudinary.com/vasilenka/image/upload/v1533597764/kotakita/featured/participatory-budgetting.jpg')"
        >
          <div class="container">
            <div class="carousel-caption">
              <h4>Library</h4>
              <h1>
                Participatory Budgeting in Indonesia: Past, Present, and Future
              </h1>
              <p>
                <small
                  >Kota Kita reflects on the history and evolution of
                  participatory budgeting in Indonesia.</small
                >
              </p>
              <p>
                <a
                  class="btn btn-lg btn-default"
                  href="./publications-docs/participatory_budgeting_asia_russia_final.pdf"
                  role="button"
                  target="_blank"
                  >Read more</a
                >
              </p>
            </div>
          </div>
        </div>

        <div
          class="item"
          style="background-image:url('https://res.cloudinary.com/vasilenka/image/upload/v1604206917/kotakita/featured/banjarmasin.png')"
        >
          <div class="container">
            <div class="carousel-caption">
              <h4>Video</h4>
              <h1>
                Participatory Data Collection for a Disability-Inclusive City: Banjarmasin
              </h1>
              <p>
                <small>
                  Participatory process enables mapping of various key determinants of exclusion and inclusion.
                </small>
              </p>
              <p>
                <a
                  class="btn btn-lg btn-default"
                  target="_blank"
                  href="https://www.youtube.com/watch?v=AJ7OUziayVw"
                  role="button"
                  >Watch here</a
                >
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="item" style="background-image:url(./src/img/feature/mongolia-planning/banner-dark.jpg)">
				<div class="container">
					<div class="carousel-caption">
						<h4>Feature</h4>
						<h1>Participatory Urban Planning Takes Hold in Mongolia</h1>
						<p>Mapping enables citizens to interact in planning, budgeting, &amp; urban development decisions</p>
						<p><a class="btn btn-lg btn-default" href="feature-mongolia-planning" role="button">Read more</a></p>
					</div>
				</div>
			</div> -->

        <!-- <div class="item" style="background-image:url(./src/img/feature/water-water/banner.jpg)">
				<div class="container">
					<div class="carousel-caption">
						<h4>Feature</h4>
						<h1>Water, water everywhere but not a drop to drink</h1>
						<p>Poor distribution and poor infrastructure makes it very difficult to access water</p>
						<p><a class="btn btn-lg btn-default" href="feature-water-water" role="button">Read more</a></p>
					</div>
				</div>
			</div> -->
      </div>
      <a
        class="left carousel-control"
        href="#myCarousel"
        role="button"
        data-slide="prev"
      >
        <span
          class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="right carousel-control"
        href="#myCarousel"
        role="button"
        data-slide="next"
      >
        <span
          class="glyphicon glyphicon-chevron-right"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /.carousel -->

    <!-- Marketing messaging and featurettes
	================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
      <!-- Three columns of text below the carousel -->
      <div
        id="projects"
        class="row"
        style="background-color:#FEF7EC; padding-top: 24px;"
      >
        <div class="col-md-3">
          <div class="section-shift section-intro">
            <h1>Our Projects</h1>
            <a href="projects"
              ><p class="btn btn-lg btn-default" role="button">See all</p></a
            >
          </div>
        </div>

        {% for project in site.data.projects.water-as-leverage %}
          {% include components/projects/front-home.html
            url="project-water-as-leverage.html"
            title=project.name
            teaser=project.teaser
            image=project.thumbnail
          %}
        {% endfor %}
        {% for project in site.data.projects.karimunjawa-community-planning %}
          {% include components/projects/front-home.html
            url="project-karimunjawa-community-planning.html"
            title=project.name
            teaser=project.teaser
            image=project.thumbnail
          %}
        {% endfor %}
        {% for project in site.data.projects.building-capacity-and-participation-for-community-led-solutions %}
          {% include components/projects/front-home.html
            url="project-building-capacity-and-participation-for-community-led-solutions.html"
            title=project.name
            teaser=project.teaser
            image=project.thumbnail
          %}
        {% endfor %}

      </div>

      {% include components/video-container.html %}
    </div>
    <!-- /.container -->

    {% include footer.html %} {% include core-js.html %}
  </body>
</html>
