---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./src/css/iconic-bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->
	{% include stylesheets.html %}
	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<!-- Carousel
	================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active" style="background-image:url(./src/img/carousel/ex_slider_01.jpg)">
				<div class="container">
					<div class="carousel-caption">
						<h4>Our Mission</h4>
						<h1>A City for All</h1>
						<p>Improving participatory planning and budgeting processes by making information available to citizens.</p>
						<p><a class="btn btn-lg btn-default" href="about-us#our-mission" role="button">Learn about our mission</a></p>
					</div>
				</div>
			</div>
			<div class="item" style="background-image:url(./src/img/carousel/slider_usf-2014.jpg)">
				<div class="container">
					<div class="carousel-caption">
						<h4>Latest News</h4>
						<h1>Another City is Possible</h1>
						<p>The 2nd Urban Social Forum was hosted and organized by Kota Kita on December 20th, 2014 in Solo.</p>
						<p><a class="btn btn-lg btn-default" href="http://kotakita-journal.tumblr.com/post/109590341832/another-city-is-possible" role="button">Read more</a></p>
					</div>
				</div>
			</div>
			<div class="item" style="background-image:url(./src/img/carousel/ex_slider_03.jpg)">
				<div class="container">
					<div class="carousel-caption">
						<h4>Latest News</h4>
						<h1>Water, water everywhere but not a drop to drink</h1>
						<!-- <p>Promoting awareness of urban issues, improving understanding of current practices and promoting collaboration</p> -->
						<p><a class="btn btn-lg btn-default" href="#" role="button">Read more</a></p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
	</div><!-- /.carousel -->


	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container">

		<!-- Three columns of text below the carousel -->
		<div id="projects" class="row" style="background-color:#FEF7EC;">

			<div class="col-md-3">
				<div class="section-shift section-intro">
					<h1>Our Projects</h1>
					<a href="projects"><p class="btn btn-lg btn-default" role="button">See all</p></a>
				</div>
				<!-- <h3>Support our campaign for lorem ipsum</h3>
				<p>Donate to give 30 women the opportunity to start clean technology businesses in their communities</p>
				<a href="#"><p class="btn btn-lg btn-primary" role="button">Learn more</p></a> -->
			</div>

			<div class="project block-item col-md-3">
				<hr class="featurette-divider visible-xs visible-sm">
				<a href="project-firm-foundation.html">
					<div class="project-top-box"></div>
					<img class="publication-image img-responsive" src="./src/img/projects/firm-foundation/thumb.jpg">
					<h3>Firm Foundation</h3>
					<p>Residents of riverbank villages get involved in the restoration of a port, creating an innovative multifunctional public space</p>
					<p class="btn btn-default" role="button">View details &raquo;</p>
				</a>
			</div>

			<div class="project block-item col-md-3">
				<hr class="featurette-divider visible-xs visible-sm">
				<a href="project-solo-kota-kita.html">
					<div class="project-top-box"></div>
					<img class="publication-image img-responsive" src="./src/img/projects/solo-kota-kita/thumb.jpg">
					<h3>Solo Kota Kita</h3>
					<p>Community mapping of neighborhoods gives local governments a new tool to serve the people</p>
					<p class="btn btn-default" role="button">View details &raquo;</p>
				</a>
			</div>
			
			<div class="project block-item col-md-3">
				<hr class="featurette-divider visible-xs visible-sm">				<a href="project-pekalongan-ccva.html">
					<div class="project-top-box"></div>
					<img class="publication-image img-responsive" src="./src/img/projects/pekalongan-ccva/thumb.jpg">
					<h3>Pekalongan Climate Change Vulnerability Assessment</h3>
					<p>A creative hub for traditional fabrics stands to be hit hard by climate change and urbanization</p>
					<p class="btn btn-default" role="button">View details &raquo;</p>
				</a>
			</div>
			
			<!-- <div class="project col-xs-6 col-md-3">
				<a  href="firm-foundation.html" >
					<div class="project-top-box"></div>
					<img src="./src/img/ex_thumb.jpg" alt="Generic placeholder image" >
					<h3>Manaikhoroo Participatory Mapping of the Ger Areas</h3>
					<p>Kota Kita takes its Solo mapping project to the Mongolian capital</p>
					<p class="btn btn-default" role="button">View details &raquo;</p>
				</a>
			</div> -->
		
		</div><!-- /.row -->


		<!-- START THE FEATURETTES -->

		<!-- <hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-8 col-md-7">
				<h3 class="featurette-heading">Kota Kita's mission is to improve participatory planning and budgeting processes by making information available to help citizens understand and take advantage of the opportunities that come with rapid urbanization. <span class="text-primary">We'd love your help to reach many more.</span></h3>
				<p class="lead">Kota Kita works at the grass-roots community level as well as the city government level and often facilitates engagement between a range of stakeholders. We've worked on a wide range of urban issues such as water, urban poverty, mobility and transportation, climate change resilience, participation and urban policymaking.</p>
				<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn about our process</a></p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/ex_thumb.jpg" alt="Generic placeholder image">
			</div>
		</div> -->

		<div id="features" class="row featurette">
			<div class="col-xs-12">
				<h1 class="text-center">Kota Kita Today</h1>
				<hr class="featurette-divider">	
			</div>
			<div class="block-item col-sm-3">
				<div class="news-top-box"></div>
				<a href="https://www.youtube.com/watch?v=3HseJlc6KsY">
					<img class="featurette-image img-responsive" src="./src/img/news/tedx_thumb_sq.jpg" target="_blank">
					<h5 class="text-primary text-uppercase small"><span class="iconic iconic-video iconic-sm" title="flag" aria-hidden="true"></span> TEDxUbud</h5>
					<h3>Making invisible cities visible | John Taylor</h3>
					<p class="text-uppercase small">27 September, 2010</p>
				</a>
				<hr class="featurette-divider visible-xs">
			</div>
			<div class="block-item col-sm-3">
				<div class="news-top-box"></div>
				<a href="feature-new-leaders">
					<img class="featurette-image img-responsive" src="./src/img/ex_news.jpg">
					<h5 class="text-primary text-uppercase small"><span class="iconic iconic-flag iconic-sm" title="flag" aria-hidden="true"></span> Feature</h5>
					<h3>Indonesian parliament backs new leaders building better cities</h3>
					<p>Indonesia’s parliament has voted unanimously to let the people elect their own local leaders</p>
					<h4>January 20th, 2015</h4>
				</a>
			</div>
			<div class="block-item col-sm-3">
				<div class="news-top-box"></div>
				<a href="feature-water-water">
					<img class="featurette-image img-responsive" src="./src/img/ex_news.jpg">
					<h5 class="text-primary text-uppercase small"><span class="iconic iconic-flag iconic-sm" title="flag" aria-hidden="true"></span> Feature</h5>
					<h3>Water, water everywhere but not a drop to drink</h3>
					<p>Getting clean water to all 250 million people in the country is an enormous challenge</p>
					<h4>January 20th, 2015</h4>
				</a>
			</div>
			<div class="block-item col-sm-3">
				<div class="news-top-box"></div>
				<a href="blog">
					<img class="featurette-image img-responsive" src="./src/img/feature/blog-thumb_another-city.jpg">
					<h5 class="text-primary text-uppercase small"><span class="iconic iconic-microphone iconic-sm" title="microphone" aria-hidden="true"></span> Blog</h5>
					<h3>Another City is Possible</h3>
					<p>The 2nd Urban Social Forum was hosted and organized by Kota Kita on December 20th, 2014 in Solo.</p>
					<h4>January 30th, 2015</h4>
				</a>
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
