---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./src/css/iconic-bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/publication_thumb/banner.jpg)">
    </div>

	<div class="container library-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<div class="section-intro">
					<h1 style="font-size: 1.5em;">Our Publications</h1>
				</div>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/2nd Urban Social Forum Event Report_cover_ENG.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Event Report_2nd Urban Social Forum_ENG_Low Res.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Event Report_2nd Urban Social Forum_IND_Low Res.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>2nd Urban Social Forum Event Report <span class="small">Another City is Possible</span></h4>
				<h5 class="text-primary">Kota Kita, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/USF_2014_poster.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/USF_2014_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>2nd Urban Social Forum Poster <span class="small">Another City is Possible</span></h4>
				<h5 class="text-primary">Kota Kita, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/StrategicUsesofData.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Strategic Uses of Data for Urban Development in Asian Cities_2014.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Strategic Uses of Data for Urban Development in Asian Cities</h4>
				<h5 class="text-primary">The Asia Foundation, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/TheNewUrban_cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/The New Urban_Oxfam Publication.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Doing More with Less – Resource Challenges for Secondary Cities in South-East Asia <span class="small">The New Urban: Towards Progressive Secondary Cities</span></h4>
				<h5 class="text-primary">OXFAM, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Climate Change Vulnerability Assessment_Manado_ENG.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/140915_Manado CCVA_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Climate Change Vulnerability Assessment, Manado</h4>
				<h5 class="text-primary">CCRD-USAID, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Ulaanbaatar-Neighborhood-Profile_MON.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Songinokhairkan 25_Profile.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Mongolian</a>
				</div>
				<h4>Manaikhoroo Neighborhood Profile</h4>
				<h5 class="text-primary">The Asia Foundation, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/SocialFieldGuide.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="http://issuu.com/stephenjameskennedy/docs/2013_08_02_social_design_field_guid" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Social Field Design Guide <span class="small">A Handbook from Experiences in Participatory Design in Indonesia</span></h4>
				<h5 class="text-primary">Kickstarter Campaign, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/USF_2013_poster.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<!-- <a href="./publications-docs/USF_2013_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a> -->
					<a href="./publications-docs/USF_2013_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>1st Urban Social Forum Poster <span class="small">Another City is Possible</span></h4>
				<h5 class="text-primary">Kota Kita, 2013</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Climate Change Vulnerability Assessment_Makassar_ENG.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a> -->
					<a href="./publications-docs/MAKASSAR_BAHASA.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Climate Change Vulnerability Assessment, Makassar</h4>
				<h5 class="text-primary">UN HABITAT/ UNDP/ UNEP, 2013</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/When-non-climate-urban-policies-contribute-to-building-urban-resilience-to-climate-change_cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/IIED Research Paper_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>When non-climate urban policies contribute to building urban resilience to climate change: lessons learned from Indonesian cities <span class="small">Asian Cities Climate Resilience Working Paper Series</span></h4>
				<h5 class="text-primary">IIED, 2013</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-and-Community-Profile-Report-Solo_cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/City and Community Profile Report_Solo_2013.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>City and Community Profile: Solo, Central Java, Indonesia <span class="small">Participatory Approaches to Community Water Management</span></h4>
				<h5 class="text-primary">National University of Singapore, 2013</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-Visioning-Profile_Solo.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 08 29 Solo Profile_FINAL_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/2012 08 29 Solo Profile_FINAL_INDO.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Solo Visioning Profile <span class="small">Cities Development Strategy</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-Visioning-Profile_Banjarmasin.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 08 15 Banjarmasin Profile_FINAL_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/2012 08 15 Banjarmasin Profile_FINAL_INDO.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Banjarmasin Visioning Profile <span class="small">Cities Development Strategy</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-Visioning-Profile_Pekalongan.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 08 16 Pekalongan City Profile_FINAL_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/2012 08 16 Pekalongan Profile_FINAL_INDO.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Pekalongan Visioning Profile <span class="small">Cities Development Strategy</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/NeighborhoodAssessment_Banjarmasin.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 7 4 Banjarmasin Neighborhood Assessment_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Banjarmasin Neighborhood Assessment <span class="small">Sungai Jingah Neighborhood Assessment</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MiniAtlas_2012_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/NUSUKAN_ENGLISH.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Mini Atlas <span class="small">Nusukan</span></h4>
				<h5 class="text-primary">Ford Foundation, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/SondakanTourismPamflet.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Sondakan Tourism Pamflet.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Sondakan Tourism Pamphlet</h4>
				<h5 class="text-primary">Kota Kita, 2012</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/InformalPublicTransportation.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Informal Public Transportation Networks_2011.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Informal Public Transportation Networks in Three Indonesian Cities <span class="small">Jogyakarta, Solo, Palembang</span></h4>
				<h5 class="text-primary">CDIA, 2011</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Solo-Kota-Kita_2010_poster.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita_2010_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Solo Kota Kita <span class="small">Understanding Our City, Developing Surakarta</span></h4>
				<h5 class="text-primary">Kota Kita, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Purus_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Community Action Planning Poster_Purus_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Community Action Planning Poster_Purus_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Purus Community Action Plan Poster <span class="small">Padang, West Sumatra</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Padang_House-by-House.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Padang Housing and Vulnerability Assessment_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Padang House by House: A Housing and Vulnerability Assessment <span class="small">Padang, West Sumatra</span></h4>
				<h5 class="text-primary">Mercy Corps, 2010</h5>
			</div>
			
			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/ColoredWater.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Climate Change Vulnerability Assessment Pekalongan_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Colored Water <span class="small">Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/FacilitatorManual_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita Facilitator Manual_ENG_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Solo Kita Kita Facilitator Manual_IND_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Solo Kota Kita Facilitator Manual <span class="small">A Facilitator's Guide to Using a Mini Atlas</span></h4>
				<h5 class="text-primary">Kota Kita, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Intro_KotaSolo.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita City Scale Analysis_ENG_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Introduction to Kota Solo and Its Urban Systems <span class="small">Analisis Perkotaan Skala Kota</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MengenalSistemPerkotaan_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita City Scale Analysis_IND_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Mengenal Sistem Perkotaan <span class="small">Analisis Perkotaan Skala Kota</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>
			
			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MiniAtlas_2010_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Mojosongo_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Mojosongo_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Mini Atlas <span class="small">Mojosongo</span></h4>
				<h5 class="text-primary">USAID-SERASI, 2010</h5>
			</div>

			<div class="clearfix"></div>

		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
