---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/publication_thumb/banner.jpg)">
    </div>

	<div class="container library-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<div class="section-intro">
					<h1 style="font-size: 1.5em;">Our Publications</h1>
				</div>
			</div>
			
			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/making_the_alun_alun_bloom.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Making_the_Alun-Alun_Bloom_-_Lieuwe_de_Boer_and_Kota_Kita_2016.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Making the Alun-Alun Bloom</h4>
				<h5 class="text-primary">Lieuwe de Boer, Kota Kita, 2016</h5>
			</div>
			
			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MAVC__Improving_the_Transparency,_Inclusivity,_and_Impact_of_Participatory_Budgeting_in_Indonesian_Cities.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/MAVC__Improving_the_Transparency,_Inclusivity,_and_Impact_of_Participatory_Budgeting_in_Indonesian_Cities.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Making All Voices Count: Improving the Transparency, Inclusivity and Impact of Participatory Budgeting in Indonesia</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MAVC_ National_Dissemination_Workshop_Event_Report.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/MAVC_ National_Dissemination_Workshop_Event_Report.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Making All Voices Count: National Dissemination Workshop Event Report</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Return to the Streets_Cityscape vol 18_2016.png">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Return to the Streets_Cityscape vol 18_2016.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Return to the Streets</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Posters_Resilient-Village.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Posters_Resilient Village.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Resilient</a>
					<a href="./publications-docs/Posters_Vulnerable Village.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Vulnerable</a>
				</div>
				<h4>Resilient &amp; Vulnerable Village, Solomon Islands Water Sector Adaptation Project</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Posters_Resilient-Township.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Posters_Resilient Township.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Resilient</a>
					<a href="./publications-docs/Posters_Vulnerable Township.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Vulnerable</a>
				</div>
				<h4>Resilient &amp; Vulnerable Township Posters, Solomon Islands Water Sector Adaptation Project</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Poster-CommunityMapping-Process_ENG.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Poster Community Mapping Process_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Poster Community Mapping Process_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Understanding Our City, Developing Surakarta: Step-by-step Guide to the Community Mapping Process</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Lessons from Improving a Gender-based Climate Change Vulnerability Assessment.png">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Lessons from Improving a Gender-based Climate Change Vulnerability Assessment.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Lessons from Improving a Gender-based Climate Change Vulnerability Assessment</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Kota Kita_AIIRA Final Report_071115.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Kota Kita_AIIRA Final Report_071115.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>AAIRA: Toward Pro-Poor and Accountable Infrastructure Development Planning</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Climate Change Vulnerability Assessments in Indonesia_ Where are the women's perspectives.png">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Climate Change Vulnerability Assessments in Indonesia_ Where are the women's perspectives.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>CCVA in Indonesia: Where are the women's perspectives?</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/CCVA Solomon Islands_GIZO_FINAL.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/CCVA Solomon Islands_GIZO_FINAL.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>CCVA Gizo, Western Province, Solomon Islands</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/CCVA Solomon Islands_TARO_FINAL.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/CCVA Solomon Islands_TARO_FINAL.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>CCVA Taro Island, Choiseul Province, Solomon Islands</h4>
				<h5 class="text-primary">Kota Kita, 2016</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/3rd-Urban-Social-Forum-Event-Report_ENG_thumb.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/3rd Urban Social Forum Event Report_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/3rd Urban Social Forum Event Report_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>3rd Urban Social Forum Event Report</h4>
				<h5 class="text-primary">Kota Kita, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/USF 2015 guidebook.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/3rd Urban Social Forum 2015_Information Booklet_ENGLISH.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/3rd Urban Social Forum 2015_Information Booklet_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>3rd Urban Social Forum Information Booklet</h4>
				<h5 class="text-primary">Kota Kita, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/USF2015_Poster-02.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/USF2015_Poster-02.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/UCRMP_Kupang_21082015_Bahasa.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>3rd Urban Social Forum Poster</h4>
				<h5 class="text-primary">Kota Kita, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/UCRMP_Kupang-01.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/UCRMP_Kupang_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/UCRMP_Kupang_21082015_Bahasa.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Urban Climate Risk Management Plan – City of Kupang</h4>
				<h5 class="text-primary">UNDP, City Government of Kupang, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/WOW_Program Design Cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/WOW_Program Design_251015.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/UCRMP Makassar_BAHASA_130815.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Women on Wheels Program Design</h4>
				<h5 class="text-primary">Living Cities, VINOVA, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/How can climate change vulnerability assessments best impact policy and planning_COVER.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/How Can Climate Change Vulnerability Assessments Best Impact Policy and Planning_ Lessons from Indonesia.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/UCRMP Makassar_BAHASA_130815.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>How Can Climate Change Vulnerability Assessments Best Impact Policy and Planning: Lessons from Indonesia</h4>
				<h5 class="text-primary">IIED, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Environment and Urbanization_Oct 2015.gif">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Environment and Urbanization-2015-Taylor-621-36.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/UCRMP Makassar_BAHASA_130815.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>A Tale of Two Cities: Comparing Alternative Approaches to Reducing the Vulnerability of Riverbank Communities in Two Indonesian Cities</h4>
				<h5 class="text-primary">Environment and Urbanization, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/UCRMP_MAKASSAR_Cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/UCRMP_Makassar_ENG_13082015.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/UCRMP Makassar_BAHASA_130815.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Urban Climate Risk Management Plan – City of Makassar</h4>
				<h5 class="text-primary">UNDP, City Government of Makassar, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Manual for Urban Climate Risk Management Planning.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Manual for Urban Climate Risk Management Planning_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Urban Climate Risk Management Planning Manual</h4>
				<h5 class="text-primary">UNDP, UN-SCDRR, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Manual for Gender-Responsive CCVA.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Manual for Gender Responsive Climate Change Vulnerability Assessment_070815_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Manual for Gender-Responsive Climate Change Assessments</h4>
				<h5 class="text-primary">UNDP, UN-SCDRR, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Kupang_CCVA_Final_150530.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Kupang_CCVA_Final_150530.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Climate Change Vulnerability Assessment, Kupang City</h4>
				<h5 class="text-primary">CCRD-USAID, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/The-Angkots-of-Solo_150528.png">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/The Angkots of Solo_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>The Angkots of Solo, Report on Batik Solo Transit &amp; Angkot Integration</h4>
				<h5 class="text-primary">Kota Kita, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Women-on-Wheels-Report_150528.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Women on Wheels in Indonesia, Research Report &amp; Feasibility Study</h4>
				<h5 class="text-primary">Living Cities &amp; Vinnova, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/2nd Urban Social Forum Event Report_cover_ENG.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Event Report_2nd Urban Social Forum_ENG_Low Res.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Event Report_2nd Urban Social Forum_IND_Low Res.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>2nd Urban Social Forum Event Report <span class="small">Another City is Possible</span></h4>
				<h5 class="text-primary">Kota Kita, 2015</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/USF_2014_poster.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/USF_2014_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>2nd Urban Social Forum Poster <span class="small">Another City is Possible</span></h4>
				<h5 class="text-primary">Kota Kita, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/StrategicUsesofData.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Strategic Uses of Data for Urban Development in Asian Cities_2014.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Strategic Uses of Data for Urban Development in Asian Cities</h4>
				<h5 class="text-primary">The Asia Foundation, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/TheNewUrban_cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/The New Urban_Oxfam Publication.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Doing More with Less – Resource Challenges for Secondary Cities in South-East Asia <span class="small">The New Urban: Towards Progressive Secondary Cities</span></h4>
				<h5 class="text-primary">OXFAM, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Climate Change Vulnerability Assessment_Manado_ENG.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/140915_Manado CCVA_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Climate Change Vulnerability Assessment, Manado</h4>
				<h5 class="text-primary">CCRD-USAID, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Ulaanbaatar-Neighborhood-Profile_MON.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Songinokhairkan 25_Profile.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Mongolian</a>
				</div>
				<h4>Manaikhoroo Neighborhood Profile</h4>
				<h5 class="text-primary">The Asia Foundation, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/SocialFieldGuide.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="http://issuu.com/stephenjameskennedy/docs/2013_08_02_social_design_field_guid" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Social Field Design Guide <span class="small">A Handbook from Experiences in Participatory Design in Indonesia</span></h4>
				<h5 class="text-primary">Kickstarter Campaign, 2014</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/USF_2013_poster.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<!-- <a href="./publications-docs/USF_2013_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a> -->
					<a href="./publications-docs/USF_2013_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>1st Urban Social Forum Poster <span class="small">Another City is Possible</span></h4>
				<h5 class="text-primary">Kota Kita, 2013</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Climate Change Vulnerability Assessment_Makassar_ENG.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Makassar Climate Change Vulnerability Assessment_Nov 2013.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/MAKASSAR_BAHASA.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Climate Change Vulnerability Assessment, Makassar</h4>
				<h5 class="text-primary">UN HABITAT/ UNDP/ UNEP, 2013</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/When-non-climate-urban-policies-contribute-to-building-urban-resilience-to-climate-change_cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/IIED Research Paper_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>When non-climate urban policies contribute to building urban resilience to climate change: lessons learned from Indonesian cities <span class="small">Asian Cities Climate Resilience Working Paper Series</span></h4>
				<h5 class="text-primary">IIED, 2013</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-and-Community-Profile-Report-Solo_cover.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/City and Community Profile Report_Solo_2013.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>City and Community Profile: Solo, Central Java, Indonesia <span class="small">Participatory Approaches to Community Water Management</span></h4>
				<h5 class="text-primary">National University of Singapore, 2013</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-Visioning-Profile_Solo.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 08 29 Solo Profile_FINAL_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/2012 08 29 Solo Profile_FINAL_INDO.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Solo Visioning Profile <span class="small">Cities Development Strategy</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-Visioning-Profile_Banjarmasin.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 08 15 Banjarmasin Profile_FINAL_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/2012 08 15 Banjarmasin Profile_FINAL_INDO.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Banjarmasin Visioning Profile <span class="small">Cities Development Strategy</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/City-Visioning-Profile_Pekalongan.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 08 16 Pekalongan City Profile_FINAL_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/2012 08 16 Pekalongan Profile_FINAL_INDO.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Pekalongan Visioning Profile <span class="small">Cities Development Strategy</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/NeighborhoodAssessment_Banjarmasin.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/2012 7 4 Banjarmasin Neighborhood Assessment_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Banjarmasin Neighborhood Assessment <span class="small">Sungai Jingah Neighborhood Assessment</span></h4>
				<h5 class="text-primary">UN HABITAT, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MiniAtlas_2012_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/NUSUKAN_ENGLISH.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Mini Atlas <span class="small">Nusukan</span></h4>
				<h5 class="text-primary">Ford Foundation, 2012</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/SondakanTourismPamflet.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Sondakan Tourism Pamflet.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Sondakan Tourism Pamphlet</h4>
				<h5 class="text-primary">Kota Kita, 2012</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/InformalPublicTransportation.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Informal Public Transportation Networks_2011.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Informal Public Transportation Networks in Three Indonesian Cities <span class="small">Jogyakarta, Solo, Palembang</span></h4>
				<h5 class="text-primary">CDIA, 2011</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Solo-Kota-Kita_2010_poster.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita_2010_poster.jpg" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Solo Kota Kita <span class="small">Understanding Our City, Developing Surakarta</span></h4>
				<h5 class="text-primary">Kota Kita, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Purus_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Community Action Planning Poster_Purus_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Community Action Planning Poster_Purus_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Purus Community Action Plan Poster <span class="small">Padang, West Sumatra</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Padang_House-by-House.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Padang Housing and Vulnerability Assessment_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<!-- <a href="./publications-docs/XXX.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a> -->
				</div>
				<h4>Padang House by House: A Housing and Vulnerability Assessment <span class="small">Padang, West Sumatra</span></h4>
				<h5 class="text-primary">Mercy Corps, 2010</h5>
			</div>
			
			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/ColoredWater.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Climate Change Vulnerability Assessment Pekalongan_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Colored Water <span class="small">Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>		

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/FacilitatorManual_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita Facilitator Manual_ENG_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Solo Kita Kita Facilitator Manual_IND_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Solo Kota Kita Facilitator Manual <span class="small">A Facilitator's Guide to Using a Mini Atlas</span></h4>
				<h5 class="text-primary">Kota Kita, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/Intro_KotaSolo.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita City Scale Analysis_ENG_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
				</div>
				<h4>Introduction to Kota Solo and Its Urban Systems <span class="small">Analisis Perkotaan Skala Kota</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>

			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MengenalSistemPerkotaan_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Solo Kota Kita City Scale Analysis_IND_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Mengenal Sistem Perkotaan <span class="small">Analisis Perkotaan Skala Kota</span></h4>
				<h5 class="text-primary">UN HABITAT, 2010</h5>
			</div>
			
			<div class="thumb col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<img class="publication-image img-responsive" src="./src/img/publication_thumb/MiniAtlas_2010_IND.jpg">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a href="./publications-docs/Mojosongo_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					<a href="./publications-docs/Mojosongo_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
				</div>
				<h4>Mini Atlas <span class="small">Mojosongo</span></h4>
				<h5 class="text-primary">USAID-SERASI, 2010</h5>
			</div>

			<div class="clearfix"></div>

		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
