---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./src/css/iconic-bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/ex_slider_02.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-3">
				<div class="section-intro">
					<h1>Funding Partners</h1>
				</div>
				<p>Kota Kita has worked with, and for, a number of international development agencies, private foundations and NGOs who have supported and funded our research and development activities.</p>
			</div>

			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/FordFoundation.jpg">
				<a href="http://www.fordfoundation.org/regions/indonesia" target="_blank"><h3>Ford Foundation</h3></a>
				<h5>The Ford Foundation has been supporting civil society initiatives in Indonesia for more than 60 years, promoting tolerance, social equity and environmental sustainability. The Ford Foundation has enabled Kota Kita to develop community mapping and participatory budgeting initiatives in many cities across the country.</h5>
			</div>
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/UN-HABITAT.jpg">
				<a href="http://www.fukuoka.unhabitat.org/about/office_en.html" target="_blank"><h3>UN-HABITAT</h3></a>
				<h5>The United Nations Human Settlements Programme (UN-HABITAT) Regional Office for Asia and the Pacific (ROAP) in Fukuoka was one of the initial funders for the Solo community mapping project, Solo Kota Kita, and has since asked Kota Kita to partner with them to implement the Cities Development Strategies process in Solo, Pekalongan and Banjarmasin, a climate change vulnerability assessment in Pekalongan and post-earthquake community action planning in Padang.</h5>
			</div>
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/UNDP.jpg">
				<a href="http://www.id.undp.org" target="_blank"><h3>UNDP</h3></a>
				<h5>The United Nations Development Program has commissioned Kota Kita to implement several climate change vulnerability assessments in the cities of Makassar, Kupang and Kendari, as well as facilitate participatory urban risk management planning processes in each city.</h5>
			</div>

			<div class="clearfix"></div><hr class="featurette-divider">

			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/UNEP.jpg">
				<a href="http://www.unep.org/roap/ROAPHome/tabid/794453/Default.aspx" target="_blank"><h3>UNEP</h3></a>
				<h5>The United Nations Environment Program invited Kota Kita to partner with them, UNDP and UN-HABITAT to develop an urban climate change vulnerability assessment methodology focusing on critical ecosystems. The process was carried out in the city of Makassar and sought ways to combine urban and environmental planning strategies to boost climate change resilience.</h5>
			</div>
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/AsiaFoundation.jpg">
				<a href="http://asiafoundation.org" target="_blank"><h3>The Asia Foundation</h3></a>
				<h5>The Asia Foundation works across Asia to promote good governance. The Asia Foundation Mongolia asked Kota Kita to partner with them to support the government of the City of Ulaanbaatar on a community mapping initiative of the unplanned Ger districts of the city. Kota Kita also hosted two Mongolian delegations in Solo, Jakarta and Jogyakarta to learn about urban governance policies.</h5>
			</div>
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/CDIA.jpg">
				<a href="http://cdia.asia" target="_blank"><h3>Cities Development Initiative for Asia (CDIA)</h3></a>
				<h5>The Cities Development Initiative for Asia commissioned Kota Kita to carry out an in-depth study of the impact of public transportation projects on urban poor communities in Solo, Jogyakarta and Palembang. The research focused upon drivers and riders of becak, angkot and ojek, all informal modes of public transportation, and resulted in the creation of a publication and a regional workshop that Kota Kita helped facilitate.</h5>
			</div>		
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/MercyCorps.jpg">
				<a href="http://www.mercycorps.org/indonesia" target="_blank"><h3>Mercy Corps Indonesia</h3></a>
				<h5>Mercy Corps Indonesia asked Kota Kita to carry out community-based vulnerability assessments in two cities, Semarang and Bandar Lampung, in order to support their comprehensive climate change resilience strategies in those cities under the Asian Cities Climate Change Resilience Network (ACCCRN) initiative.</h5>
			</div>		

			<div class="clearfix"></div><hr class="featurette-divider">

			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/IIED.jpg">
				<a href="http://www.iied.org" target="_blank"><h3>The International Institute for Environment and Development (IIED)</h3></a>
				<h5>IIED is an independent policy research institute, or think tank, whose stated mission is to "build a fairer, more sustainable world, using evidence, action and influence in partnership with others.” IIED has supported two research studies by Kota Kita about urban resilience policies and methodological approaches to vulnerability assessments.</h5>
			</div>
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/SERASI.jpg">
				<a href="http://www.ird.org/our-work/programs/serasi" target="_blank"><h3>USAID – SERASI</h3></a>
				<h5>The USAID-funded SERASI program was a post-conflict peacebuilding and governance project. SERASI helped support Kota Kita’s city-wide participatory mapping project, Solo Kota Kita, in 2010.</h5>
			</div>
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/CCRD.jpg">
				<a href="http://www.ccrdproject.com" target="_blank"><h3>USAID – CCRD</h3></a>
				<h5>The USAID-funded Climate Change Resilient Development (CCRD) was a global, four-year project to support climate change adaptation in 33 countries. CCRD funded a grant that allowed Kota Kita to conduct a climate change vulnerability assessment of the city of Manado and build the capacity of government officials and academicians in the city to build resilience to climate change.</h5>
			</div>		
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/AECOM.jpg">
				<a href="http://www.aecom.com/urbansos" target="_blank"><h3>AECOM</h3></a>
				<h5>AECOM is an international architecture, engineering and planning firm that hosts Urban SOS, an annual design competition for students. In 2011, a team made up of two urban planning students from the Massachusetts Institute of Technology interning at Kota Kita and two staff members won the competition with an entry entitled Firm Foundation. The $25,000 prize was awarded to implement the winning design, resulting in a participatory design-and-build process with community members in the city of Banjarmasin.</h5>
			</div>	

			<div class="clearfix"></div><hr class="featurette-divider">

			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<img class="featurette-image img-responsive" src="./src/img/partner_thumb/AusAID.jpg">
				<a href="http://www.indii.co.id" target="_blank"><h3>AusAID – Indonesia Infrastructure Initiative (IndII)</h3></a>
				<h5>The AusAID-funded Indonesia Infrastructure Initiative (IndII) is supporting Kota Kita in the development of research and a participatory community monitoring tool that makes the planning and implementation of infrastructure projects more transparent.</h5>
			</div>
			<div class="col-sm-3">
				<div class="intern-top-box"></div>
				<h3>The Giles Family</h3>
				<h5>The Giles Family is dedicated to empowering promising social development initiatives throughout the world, being amongst the first to provide financial support and guidance to Room to Read and Direct Relief, now widely recognized development organizations. They have generously supported Kota Kita in our capacity building efforts, strategic initiatives and organizational strengthening. </h5>
			</div>
		</div>

		<hr class="featurette-divider">

		<div id="collaboration" class="featurette row">
				<div class="col-sm-3">
					<div class="section-intro">
						<h1 style="font-size:1.675em;">Collaboration Partners</h1>
					</div>
					<h4>The following organizations, universities, think tanks and companies have collaborated with Kota Kita on a range of activities, projects and research initiatives. Collaborators work with Kota Kita exchanging ideas and technical knowledge to come up with innovative solutions to urban problems.</h4>
				</div>

				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/UrbanLaunchpad.jpg">
					<a href="http://www.urbanlaunchpad.org" target="_blank"><h3>Urban Launchpad</h3></a>
					<h5>Urban Launchpad is a firm based in San Francisco that develops and deploys digital innovations to solve a range of urban problems in cities throughout the world. Their innovations have ...</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/BlinkTag.jpg">
					<a href="http://blinktag.com" target="_blank"><h3>Blink_Tag Inc.</h3></a>
					<h5>Blink_Tag Inc. is a company based in San Francisco dedicated to developing mapping and database applications for cities. Blink_Tag has partnered with Kota Kita for over five years, most notably in the development of our first project, Solo Kota Kita, a city-wide database and map of the city.</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/PacificInstitute.jpg">
					<a href="http://pacinst.org" target="_blank"><h3>Pacific Institute</h3></a>
					<h5>The Pacific Institute is an US-based non-profit research institute created in 1987 to provide independent research and policy analysis on issues of development, environment and security, with a particular focus on global and regional freshwater issues. The Pacific Institute and Kota Kita have teamed up to implement WATER SMS, a crowd-sourced information gathering approach in the cities of Makassar and Malang, whose objective is to improve governance and accountability in the water sector.</h5>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/Cornell.jpg">
					<a href="http://www.cornell.edu" target="_blank"><h3>Cornell University</h3></a>
					<h5>Cornell University in the US has been collaborating with Kota Kita since 2013 to educate students through a semester-long engagement with the city of Solo on a variety of urban issues. In 2013 and 2014, Cornell students visited Solo’s riverbank communities to conduct fieldwork and have presented their findings to government officials and community leaders. Kota Kita’s partnership with Cornell facilitates the exchange of information, provides opportunities for internships and creates co-produced research publications.</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/NUS.jpg">
					<a href="http://www.nus.edu.sg" target="_blank"><h3>National University of Singapore</h3></a>
					<h5>The National University of Singapore, through the Institute of Water Policy, collaborates with Kota Kita to research participatory approaches to urban water delivery and management. The joint research initiative, now in its second phase, will provide more information to improve citizen participation in formulation of more</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/P5.jpg">
					<a href="http://p5undip.org" target="_blank"><h3>Center for Participatory Planning (P5)</h3></a>
					<h5>The Center for Participatory Planning (P5) at the Universitas Diponegoro in the Indonesian city of Semarang is a research and development organization that is part of the Department of Urban and Regional Planning. They have collaborated with Kota Kita on a number of activities, including training government officials about climate change in Manado, and coming up with strategic development plans for the cities of Pekalongan, Solo and Banjarmasin through the Cities Development Strategies project.</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/TransparentChennai.jpg">
					<a href="http://www.transparentchennai.com" target="_blank"><h3>Transparent Chennai</h3></a>
					<h5>Transparent Chennai is a think-tank, based in India’s Chennai city, that aggregates, creates and disseminates data and research about important civic issues facing Chennai, including those issues faced by the poor. Transparent Chennai is a like-minded organization to Kota Kita in its approach to using maps and data, and making information available to communities to empower them to advocate for better urban development and policies.</h5>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/CasaFluminense.jpg">
					<a href="http://casafluminense.org.br" target="_blank"><h3>Casa Fluminense</h3></a>
					<h5>Casa Fluminense is a civil society organization based in Brazil dedicated to the formulation of progressive urban policies and activities for the metropolitan region of Rio de Janeiro. Kota Kita and Casa Fluminense both promote public access to urban data and collective discussion concerning socially just and participatory urban policies.</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/DW.jpg">
					<a href="http://www.dw.angonet.org" target="_blank"><h3>Development Workshop Angola</h3></a>
					<h5>Development Workshop (DW) has been working in Angola on a range of human settlements issues since 1981 supporting the emerging Angolan civil society and the process of local government decentralisation, while working closely with local community organizations. Kota Kita has helped DW to create municipal profiles for the capital, Luanda, and participatory planning tools similar to Solo’s Mini-Atlases for the project Solo Kota Kita.</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/IGRSC.jpg">
					<a href="http://www.irgsc.org" target="_blank"><h3>Institute of Resource Governance and Social Change</h3></a>
					<h5>The Institute of Resource Governance and Social Change (IRGSC) is a Kupang-based policy research institute and think tank whose mission is to produce knowledge, and inspire policy innovation and change, principally in the eastern region of Indonesia. Kota Kita is working with IRGSC to research methods of assessing social and physical vulnerability to climate change in a number of cities across Indonesia.</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<!-- <img class="featurette-image img-responsive" src="./src/img/partner_thumb/Addina-Amalia.jpg"> -->
					<a href="http://www.sapa.or.id" target="_blank"><h3>Strategic Alliance for Poverty Alleviation</h3></a>
					<h5>The Strategic Alliance for Poverty Alleviation (SAPA) is a consortium including the Ministry of Welfare, various local governments and a network of civil society organizations working together to reduce poverty in Indonesia. Kota Kita has provided maps and facilitation support to assist in identifying pockets of urban poverty and advocate for better planning in those areas.</h5>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/KuPAS.gif">
					<a href="https://kupasmakassar.wordpress.com" target="_blank"><h3>KUPAS</h3></a>
					<h5>KUPAS (Koalisi untuk Pemberdayaan Masyarakat Sipil) is a local NGO coalition based in Makassar dedicated to empowering civil society groups. They work together with local government to encourage participation in local development planning through the online musrenbang process. Kota Kita supported KUPAS in the formulation of neighborhood maps and data collection to assist their work.</h5>
				</div>
				<div class="col-sm-3">
					<div class="intern-top-box"></div>
					<img class="featurette-image img-responsive" src="./src/img/partner_thumb/SocialBusiness.jpg">
					<a href="http://www.socialbusinessconsulting.org" target="_blank"><h3>Social Business Consulting</h3></a>
					<h5>Social Business Consulting (SBC) is an organization based at Cornell University and run by undergraduate students seeking to make a difference in the world of development. They provide pro-bono consulting support to NGOs around the world, providing them a range of services and tailoring strategies to their needs. SBS helped Kota Kita develop a new marketing strategy, gave suggestions about a social media campaigns and ideas about fundraising.</h5>
				</div>
				<div class="col-sm-6">
					<h3>The City Governments of Solo, Banjarmasin, Pekalongan, Padang, Manado, Makassar, Kupang, Ulaanbaatar.</h3>
				</div>
		</div>

		<hr class="featurette-divider">

		<div id="expert" class="featurette row">
				<div class="col-sm-3">
					<div class="section-intro">
						<h1>Expert Partners</h1>
					</div>
				</div>

				<div class="col-sm-9">
					<h2>Kota Kita works with a wide range of thematic and technical experts, academics and activists to take forward our mission and research interests.</h2>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<h4>Michael Haggerty</h4>
					<h5>Candidate for Master of Architecture, Graduate School of Design, Harvard University, USA</h5>
				</div>
				<div class="col-sm-3">
					<h4>Dodo Juliman</h4>
					<h5>Chairman, Combine Resource Institution, Yogyakarta, Indonesia</h5>
				</div>
				<div class="col-sm-3">
					<h4>Dr. Peter McCawley</h4>
					<h5>Visiting Fellow, College of Asia and the Pacific, Australian National University, Canberra, Australia</h5>
				</div>

				<div class="col-sm-3">
					<h4>Dr. John Mendelsohn</h4>
					<h5>Director of Research and Information Services of Namibia (RAISON), Namibia</h5>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<h4>Tara Grillos</h4>
					<h5>PhD Candidate, Kennedy School of Government, Harvard University, USA</h5>
				</div>
				<div class="col-sm-3">
					<h4>Tanya Chiranakhon</h4>
					<h5>Managing Partner, Land Economy Group, San Francisco, USA</h5>
				</div>
				<div class="col-sm-3">
					<h4>Dr. John McCarthy</h4>
					<h5>Senior Lecturer, Environmental Management and Development Programme, Crawford School of Public Policy, Australian National University, Canberra, Australia</h5>
				</div>

				<div class="col-sm-3">
					<h4>Dr. Victoria Beard</h4>
					<h5>Associate Professor of City and Regional Planning, Cornell University, USA</h5>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<h4>Dr. Rita Padawangi</h4>
					<h5>Senior Research Fellow, Asia Research Institute, National University of Singapore</h5>
				</div>
				<div class="col-sm-3">
					<h4>Dr. Jonatan Lassa</h4>
					<h5>Research Fellow with the Centre for Non-Traditional Security (NTS) Studies, S. Rajaratnam School of International Studies (RSIS), Nanyang Technological University (NTU), Singapore</h5>
				</div>
				<div class="col-sm-3">
					<h4>Su Li Chong</h4>
					<h5>Research associate at the Institute of Water Policy, Lee Kuan Yew School of Public Policy, National University of Singapore</h5>
				</div>
				<div class="col-sm-3">
					<h4>Omar Saracho</h4>
					<h5>Senior Urban Program Advisor, Institute for Sustainable Communities, Vermont, USA</h5>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<h4>Albert Ching</h4>
					<h5>Co-director, Urban Launchpad, San Francisco, USA</h5>
				</div>
				<div class="col-sm-3">
					<h4>Stephen Kennedy</h4>
					<h5>Co-director, Urban Launchpad, San Francisco, USA</h5>
				</div>
				<div class="col-sm-3">
					<h4>Daniel Heriberto Palencia Arreola</h4>
					<h5>Associate, Urban Launchpad, San Francisco, USA</h5>
				</div>
				<div class="col-sm-3">
					<h4>Brendan Nee</h4>
					<h5>Principal Blink Tag Inc., San Francisco, USA</h5>
				</div>

				<div class="clearfix"></div><hr class="featurette-divider">

				<div class="col-sm-3">
					<h4>Holi Bina Wijaya</h4>
					<h5>Chairman, The Center for Participatory Planning (P5) at Universitas Diponegoro, Semarang, Indonesia</h5>
				</div>
				<div class="col-sm-3">
					<h4>Erick Guerra</h4>
					<h5>Assistant Professor of City and Regional Planning at University of Pennsylvania</h5>
				</div>
				<div class="col-sm-3">
					<h4>Pramita Harjati</h4>
					<h5>Climate Change Consultant, Indonesia</h5>
				</div>
				<div class="col-sm-3">
					<h4>Kemal Taruc</h4>
					<h5>Urban Development specialist, Indonesia</h5>
				</div>
		</div>

		<hr class="featurette-divider">

		<!-- FOOTER -->
	{% include footer.html %}

	</div><!-- /.container -->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="./src/js/bootstrap.min.js"></script>
	<script src="./src/js/docs.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="./src/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
