---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/aiira-participatory-budgeting/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Toward Pro-Poor &amp; Accountable Infrastructure Development Planning</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta, Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Research Report &amp; Feasibility Study</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Indonesia Infrastructure Initiative, Australian Government Department of Foreign Affairs and Trade, Australian Agency for International Development</h4>
					<h5>Duration:</h5>
					<h4>2015</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>The <i>Musrenbang</i>, is a participatory budgeting process that has been implemented in the City of Surakarta for over 15 years; it has been held up as an example of an inclusive and participatory policy because it allows residents to vote and prioritize small small-scale infrastructure to improve their neighborhoods. But there has been very little research conducted into tracking the process, determining whether the outcomes are indeed democratic and effective. For example few people really understand what projects are approved, when they are to be implemented, and if they’re ever finished. Kota Kita collected and studied data from four years of the Musrenbang, from each of the city’s 51 neighborhoods, to better understand the results of this process. In addition Kota Kita developed a web-based accountability tool to help citizens monitor the process in future years.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>Part of the difficulty of evaluating the effectiveness of the Musrenbang stems from the fact that following voting approval is required from both local government agencies as well as the local Parliament. This makes the process quite lengthy (lasting over 16 months) and there is a lack of mechanisms to inform the public about the results. Since Kota Kita is dedicated to enhancing transparency and accountability, as well as promoting effective citizen participation, we saw that further scrutiny of the Musrenbang would help better understand how it works and indicate ways to improve it.</p>
						</div>
						<div class="col-md-6">
							<p>Kota Kita’s research team gathered data from all 51 of the city’s neighborhoods, or kelurahans, about the citizens’ choices of projects, how they ranked in terms of priority, their budget amount, and whether they were approved and executed (built) at the end of the process. This information, over 50,000 data points in all, was digitized to create a publicly-accessible citywide database that can be studied to analyze the performance of the Musrenbang in delivering upon citizens’ democratically selected preferences. Other research was conducted through surveys, interviews, and focus group discussions.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/aiira-participatory-budgeting/Citywide pipe water layer.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/aiira-participatory-budgeting/Citywide private WC layer.jpg">
				<hr class="featurette-divider">
			</div>		
			<div class="col-sm-8 col-md-7">
				<h3>Among the key findings the research reveals that poverty rates do not significantly influence project prioritization; thus the neediest areas of the city, where poverty concentrates and which lack services, do not receive more funding than other areas.</h3>
				<p>In fact poverty rates actually have an opposite effect, in that the areas that receive most projects are those with least poverty. The Musrenbang, however, does seem operate democratically, with the most populous areas receiving more projects. Other findings include the discovery of opportunities for elite capture during the Public Phase of the process, in which citizens discuss and prioritize their needs. While the research cannot say with certainty how this occurs, it is likely that insufficient turnout by poor communities is an important factor. The research also found that a significant amount of the projects that are allocated for implementation originate outside of the voting process; these are referred to as ‘ghost projects’ in the report.</p>
				<p>In addition Kota Kita developed an online application called the Musrenbang Tracker (or Mus-Tracker for short) to monitor the execution or implementation phase of the Musrenbang. This web-tool links the citywide database to a web browser that can be accessed by anyone with Internet, for example through his or her smart phone or laptop. Citizens can use this to track individual projects that they voted on and monitor their status, as well as make comments about these projects. It allows the public to participate in monitoring the implementation of projects, and provide oversight.</p>
				<p>The research can help promote better understanding amongst policy makers about the limitations and potential of the Musrenbang process in addressing infrastructure needs; it can also indicate how data can be used to better follow and evaluate urban policies. Our recommendations can be used by the city government of Surakarta to support the evaluation and improvement of the current process, build capacity, and promote the use of new monitoring tools.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/aiira-participatory-budgeting/AIIRA Final Report_Cover01.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/aiira-participatory-budgeting/AIIRA Final Report_Cover02.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
