---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="././favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./src/css/iconic-bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="././assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/manaikhoroo/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Manaikhoroo Participatory Mapping of the Ger Areas</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span>  Ulaanbaatar, Mongolia</h4>
				</div>
				<div class="section-meta">
					<h5>Example Khoroo Atlas:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Songinokhairkan 25_Profile.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Mongolian</a>
					</div>
					<h5>Website:</h5>
					<h4><a href="http://manaikhoroo.ub.gov.mn">manaikhoroo.ub.gov.mn</a></h4>
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; The Asia Foundation Mongolia; City Municipality of Ulaanbaatar; AusAID</h4>
					<h5>Duration:</h5>
					<h4>2012-2013</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>Rapid rates of urbanization are causing the concentration of more than half of Ulaanbaatar’s residents (a quarter of Mongolia’s total population) in ger districts, sprawling hillside neighborhoods comprised mainly of traditional tents, or gers. Kota Kita trained and supported the municipal government, together with The Asia Foundation and local leaders and activists, to conduct a community mapping initiative and to provide planning tools so that residents and city government could better understand the context and needs of these marginalized communities and allocate resources accordingly.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>Portable Mongolian yurts, or gers, have been homes to generations of nomadic Mongolians. Though they were never meant for permanent urban housing, they are now being used as such by the many new immigrants to Ulaanbaatar. Mongolians have flocked to the capital from the steppes in droves, partly in response to the recent severe winters in which herders faced devastating losses. The extreme climate of Mongolia, combined with the low-density ad-hoc settlement of the ger districts, means that the government has had difficulty delivering services such as water, waste management, electricity, and other basic needs to these communities.</p>
						</div>
						<div class="col-md-6">
							<p>As Ulaanbaatar prepares for continued rapid growth, the government needs reliable data and accurate and up-to-date maps of these expanding urban areas and the services available within them. Our Kota Kita team worked together with the City Municipality of Ulaanbaatar and The Asia Foundation to carry out a community mapping initiative that covered 87 neighborhoods, comprising over 800,000 people—around 70% of the city’s entire population. Two delegations of Mongolian government officials were brought to Solo, Indonesia, to meet the Mayor and learn firsthand about the successful community mapping previously undertaken by Kota Kita in the city.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/manaikhoroo/manaikhoroo_00.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-sm-8 col-md-7">
				<h3 class="featurette-heading">The completed maps measure the availability and accessibility of neighborhood services in six sectors: water, health, education, public transport, solid waste management, and vulnerability and safety. The data were used in the 2014 budgetary discussions, the first time that spatial analysis played a key role in such planning.</h3>
				<hr class="featurette-divider">
				<p>Our team also helped the City Municipality of Ulaanbaatar and The Asia Foundation to launch an online community website and interactive platform, www.manaikhoroo.mn, where both citizens and government officials can access the completed maps and display indicators with information on available services organized by khoroo, or neighborhood. Such visual and data-based evidence now serves as a reference for all stakeholders, helping the government and citizen advocates better understand the context and needs of marginalized areas and their public services. The success of the project speaks to the scalability of our methodology and its applicability to a variety of urban and national contexts.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/manaikhoroo/manaikhoroo_01.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/manaikhoroo/manaikhoroo_03.jpg">
			</div>
			<div class="col-xs-12">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/manaikhoroo/manaikhoroo_02.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
