---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/kupang-climate-risk/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Kupang Urban Climate Risk Management Plan</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Kupang, West Timor, East Nusa Tenggara, Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Research Report &amp; Feasibility Study</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; United Nations Development Program (UNDP); United Nations Safer Communities Through Disaster Risk Reduction Program (SC-DRR); Kupang Municipal Government</h4>
					<h5>Duration:</h5>
					<h4>May 2015 to August 2015</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>Kupang, a coastal city on the island of Timor—shared with the independent country of East Timor—is the capital and economic center of the Indonesian province of East Nusa Tenggara. A 2015 Climate Change Vulnerability Assessment (CCVA) undertaken by Kota Kita and its colleagues for the city gathered data to outline the city’s vulnerabilities to climate change and provided recommendations and policy considerations. The current Urban Climate Risk Management Plan (UCRMP) builds on the CCVA’s findings and proposals to streamline climate-change adaptation and disaster risk reduction policies into a coordinated framework of action and a working group. This amalgamation of government programs and other elements (like NGOs and private programs) bolsters pro-poor responses to the current and future climate-change hazards that face the city.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>As the economic center of the region, the city of Kupang is growing rapidly due to large-scale movement of people from rural areas of Timor as well as neighboring islands, with a population estimated to double in 15 years. This growth, however, is mostly concentrated around areas most vulnerable to climate change, such as the coastline and surrounding hills vulnerable to flooding.</p>
						</div>
						<div class="col-md-6">
							<p>Kota Kita and the Kupang Municipal Government, with the support of the United Nations Development Programme, previously collected and analyzed data related to the city’s vulnerabilities to climate change that culminated as detailed in the CCVA. The current Kupang UCRMP document coordinates among various government and civil society programs and creates a communication infrastructure to synchronize climate change and disaster risk reduction efforts.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/kupang-climate-risk/Women-waiting-for-water.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/kupang-climate-risk/Retaining-wall.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/kupang-climate-risk/Fisherman-Boat.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/kupang-climate-risk/Queuing-water.jpg">
				<hr class="featurette-divider">
			</div>			
			<div class="col-sm-8 col-md-7">
				<h3>The UCRMP was established in early May 2015 in Kupang through the efforts of a participatory workshop involving representatives from the government, academia, NGOs, and local media.</h3>
				<p>This workshop used the findings and recommendations of the earlier CCVA to channel various government and non-government stakeholder programs into a newly recreated resilience vision statement and framework. The UCRMP integrates these various documents and stakeholders into a collaborative structure in the establishment of a climate change working group (POKJA API-PRB), which will bolster coordinated efforts across different agencies and NGOs. The Working Group consists of Advisor and Technical Teams, the latter divided into three groups: the Mitigation, Emergency and Post-disaster, and Data and Monitoring. The POKJA API-PRB Working Group can provide regular data updates that are necessary to obtain a full picture of, and coordinate responses to, the latest climate-change conditions, while protecting the city’s most vulnerable populations.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/kupang-climate-risk/Creating-basket-from-trash.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
