---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/second-urban-social-forum/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">2nd Urban Social Forum</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Research Report &amp; Feasibility Study</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; 2nd Urban Social Forum Committee</h4>
					<h5>Duration:</h5>
					<h4>December 20th, 2014</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>The annual Urban Social Forum provides a public and democratic space for Indonesian civil society leaders to exchange ideas, experiences and knowledge. As organizers of the Forum, Kota Kita believes that inclusive, participatory and progressive policies are necessary for the development of successful cities and that the role of civil society is critical in developing solutions to our urban problems. 2014’s Forum in Surakarta (Solo), Indonesia, had a plenary session followed by a series of parallel panels, with themes as various as informal riverbank settlements to engaging youth as change-makers. This forum creates a strong foundation for successive national and local forum events, and serves as proof of civil society’s interest in urban issues and their commitment to solve them.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>The 2nd Urban Social Forum of 2014 included 13 panel discussions in total, starting with a plenary session headlined by prominent civil society leaders Ainun Najib, from Kawal Pemilu, I Wayan Gendo, from Forum Bali, and Marco Kusumawijaya, from Rujak Center. This session was followed by a series of parallel sessions, which brought together very different initiatives. The final plenary panel discussed the ways in which tolerance and diversity are being promoted in cities, and explored the potential to transform cities into more inclusive societies.</p>
						</div>
						<div class="col-md-6">
							<p>Mayors, professors, NGO heads, and many others from all over Indonesia came to Solo to network with diverse leaders and organizations working on pressing urban issues. The panels provided an opportunity for participants to learn about cities and issues other than their own. Because attendance was entirely on a volunteer basis, the success of the event demonstrates a great deal of concern, interest and commitment by civil society to generate change in the urban sector.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/second-urban-social-forum/Panel-Discussion.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/second-urban-social-forum/Closing-Panel.jpg">
				<hr class="featurette-divider">
			</div>			
			<div class="col-sm-8 col-md-7">
				<p>From new approaches to trash in Malang to the restoration of vital coastal ecosystems in Semarang and Makassar, and even to virtual online spaces created by netizens to improve democracy and transparency, participants demonstrated to each other how thinking about cities extends beyond the  physical space of the city itself into questions about values and how we interact with one another. In organizing the Forum, Kota Kita hopes that it is not just a one-day event but rather the beginning of new conversations and initiatives to help us live in socially just, sustainable and humane cities.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/second-urban-social-forum/Discussion-Panel_02.jpg">
			</div>
			<!-- <div class="col-xs-12">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/second-urban-social-forum/Water-issue-Pabean.jpg">
			</div> -->
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
