---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./src/css/iconic-bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="././assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/makassar-ccva/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Makassar Climate Change Vulnerability Assessment</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span>  Makassar, South Sulawesi, Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/140915_Manado CCVA_ENG.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
						<a href="./publications-docs/140919_Manado CCVA_IND.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
					</div> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; UN Habitat; United Nations Development Programme (UNDP), United Nations Environment Programme (UNEP); Makassar Development Planning Agency (BAPPEDA Makassar)</h4>
					<h5>Duration:</h5>
					<h4>2013</h4>
					<img class="featurette-image img-responsive" src="./src/img/projects/makassar-ccva/Makassar-VA.jpg">
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h2>A booming city faces climate change challenges as it reclaims land along its coast</h2>
					<h3>As the “Gateway to Eastern Indonesia,” Makassar’s economy is booming as the country’s east develops and demands more commodities. Despite this economic success, the rapid urbanization of the city’s periphery and the changing landscape of the coast through land reclamation projects threaten to damage its natural ecosystems and stress its water supply system. To examine the effects on the city’s long-term environmental sustainability, Kota Kita and three United Nations agencies, along with the city government of Makassar, teamed up to identify the city’s most vulnerable people, communities, and eco- and urban systems.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>Makassar is growing rapidly and development there is profoundly affecting the city in both positive and negative ways. New commercial and residential developments along the coastal wetlands, combined with plans to increase the city’s size by 20 percent — by taking land from the periphery and dumping it in the sea to create landfill — promise a boost to the city’s economy. But this simultaneously threatens Makassar’s many traditional fishing communities by blocking their access to the ocean or evicting them entirely, and causes ecological harm that results in fewer fish stocks farther from shore.</p>
						</div>
						<div class="col-md-6">
							<p>Despite this tension, the new development and the city’s long-established fishing industry — integral to Makassarese identity — both rely on the shoreline, itself vulnerable to a sea-level rise that could cause coastal abrasion. Alteration of the coast and its wetlands through the twin drivers of climate change and urban development disrupts the interrelation between rich ecological systems, hampering the wetlands’ important role in water purification, flood control and shoreline stability. This makes the city and its residents more vulnerable to further climate change effects, as weather patterns become more intense and seasonal changes harder to predict.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-ccva/Landfill-Island-1.jpg">
				<hr class="featurette-divider">
				<h3 class="featurette-heading">Our team gathered information from available government, geospatial and satellite data, observation field trips, and community meetings and focus group discussions with civil society organizations, community members and government officials. The resulting analysis identified the city’s most vulnerable areas and people, and then prioritized these ‘hotspots’ of vulnerability.</h3>
				<hr class="featurette-divider">
			</div>
			<div class="col-sm-6">
				<p>Our vulnerability assessment aimed to bring together an understanding of urban growth dynamics with that of climate trends and their impacts. The vulnerability assessment involved measuring and mapping by neighborhood the susceptibility to climate change impacts, assessing the capacity of a range of governmental, civil society and community bodies dealing with climate hazards, and an assessment of ecosystem-based adaptation, focusing on watersheds and wetlands, which play an essential role in minimizing sensitivity to climate change impacts for poor and vulnerable communities.</p>
				<p>We found that the urban poor living along the coast and along rivers are among the city’s most vulnerable, as they live in areas most affected by current and future climate change hazards. Climate change threatens their livelihoods and physical safety, and this compounds their existing social vulnerabilities of low income and lack of access to water.</p>
				<p>Finally, given the lack of fine-grain local data, through observation, interviews and data analysis, we carried out a neighborhood analysis of three representative typologies of neighborhoods and show how vulnerability affects some communities more than others in the city.</p>
				<p>In June 2013 we organized a city-wide workshop involving civil society organizations and government officials from relevant sectors to present the assessment findings and discuss our set of recommendations with participants. The recommendations in this report are informed by the conclusions of this workshop.</p>
			</div>
			<div class="col-sm-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-ccva/Kota-Kita-Vulnerability-Mapping.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-ccva/Dredging-river.jpg">
			</div>
			<div class="col-xs-12">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-ccva/Relocation-community.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
