---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="././favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="././assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/pekalongan-ccva/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Pekalongan Climate Change Vulnerability Assessment</h1>
					<h4>Pekalongan, Central Java, Indonesia</h4>
				</div>
				<div class="section-meta">
					<h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Climate Change Vulnerability Assessment Pekalongan_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Colored Water (English)</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4>
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; P5 (Pusat Pelayanan Perencanaan Pembangunan Partisipatif/Center for Participatory Development Planning Services); UN-HABITAT</h4>
					<h5>Duration:</h5>
					<h4>2010</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>Kota Kita and P5 (Center for Participatory Development Planning Services) collaborated in creating a climate change vulnerability assessment for the low-lying Pabean neighborhood in coastal Pekalongan, Central Java, an area in which almost every available space is used for batik production. The assessment, which relies on interviews and focus group discussions with the community, identifies the physical areas, urban systems, groups of people, and cultural and economic sectors most vulnerable to climate change. The data collected and its analysis informed the city-wide climate-change resilience strategy developed by P5 for UN-HABITAT’s Climate Change Cities Initiative.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>Climate change impacts, such as increased flooding from heavy rainfall, may be exacerbated by rapid urbanization. Addressing climate change in the Pabean neighborhood, which reflects the conditions of most neighborhoods in Pekalongan, means addressing the current urban development pattern and therefore land-use policy and development regulations. The conversion of agricultural land to housing has relevance for future climate change, because when land is developed, standing water increases in the neighborhood, in turn reducing the amount of habitable land.</p>
						</div>
						<div class="col-md-6">
							<p>Proximity to two rivers and the sea makes Pabean, a neighborhood with a high level of poverty, vulnerable to both rising sea-levels and high river peak flows. This variation in water level creates floods several times a year, which residents informed us are becoming more frequent and prolonged.</p>
							<p>Our analysis focused on three vulnerabilities: the batik sector, the drainage system, and the drinking water system, and analyzed them in terms of hazards, direct impacts, indirect impacts, and adaptive capacity.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/pekalongan-ccva/shrimp_farm.jpg">
				<hr class="featurette-divider">
				<h3 class="featurette-heading">Despite the many climate change-related obstacles, the batik sector in Pabean is thriving. The community has also successfully implemented government-sponsored infrastructure and water projects, such as an artesian well system, which is locally managed and offers drinking water service at a low price. The lessons from our neighborhood assessment informed the city of Pekalongan’s city-wide climate change resilience strategy, and supported the mobilization of local residents to become their own advocates for resilience strategies.</h3>
			</div>
			<div class="col-sm-8 col-md-7">
				<hr class="featurette-divider">
				<h3>Here are the main findings of the assessment:</h3>
				<h2 class="text-primary">The batik sector</h2>
				<p>The use of chemical dyes for batik production creates health hazards for community residents, as dyes are routinely dumped into the local drainage system and can be found in standing water. Increased flooding will further expose residents to wastewater from batik production. Though the batik industry is local, it is also specialized, making workers less resilient to sudden market changes. Since the city of Pekalongan is well known in Indonesia for its batik, losing the craft would mean the a loss of residents’ identity and heritage.</p>
				<h2 class="text-primary">The drainage system</h2>
				<p>The clogged canals and drains in Pabean bring prolonged floods, contaminated water, and waterborne disease, and so the drainage system is a significant source of vulnerability. An increase in floods, heavy rains, and rising sea-levels means “helicopter toilets”—constructed by many households in the canal, either because home drainage systems do not work or for lack of space in the home—will only further expose residents to water contaminated by human waste.</p>
				<h2 class="text-primary">The drinking water system</h2>
				<p>Pabean has developed an effective artesian bore well system to supply water and meet community needs, since private wells are contaminated and only five percent of households have access to the piped water system. Nevertheless, because the drinking water system essentially relies on a single source, residents are vulnerable to climate change if the artesian wells are compromised in the future.</p>
			</div>
			<!-- <div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/MANADO_CCVA/Landslides_web.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/MANADO_CCVA/Housing_hills_web.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/MANADO_CCVA/Bridge_web.jpg">
			</div> -->
		</div>

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

	{% include footer.html %}

	</div><!-- /.container -->

	{% include core-js.html %}

	</body>
</html>
