---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/third-urban-social-forum/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">2nd Urban Social Forum</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surabaya, East Java, Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Research Report &amp; Feasibility Study</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; 3rd Urban Social Forum Committee</h4>
					<h5>Duration:</h5>
					<h4>December 19th, 2015</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>The 3rd Urban Social Forum took place in Surabaya on December 19th 2015, marking the third consecutive year that the Forum gathers civil society activists, social leaders, students and community members from throughout Indonesia to discuss how to bring about important change to our cities. Kota Kita partnered with civil society organizations from Surabaya to host the one-day event that offered twenty different panels on a broad range of urban issues, with nearly 90 panelists, and attracted over 1000 participants.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>The Urban Social Forum is an annual event that Kota Kita co-organizes in order to create a democratic, open and free space for urban civil society to meet and discuss what ways to improve our cities, and to share and exchange knowledge. The 3rd Urban Social Forum was hosted in Indonesia’s second largest city, Surabaya, with the presence of the influential and well-recognized Mayor Tri Rismaharini; this was first time it has been hosted outside of Solo.</p>
						</div>
						<div class="col-md-6">
							<p>With an expanded selection of panels that included ‘human rights cities’, ‘child-friendly cities’, ‘participatory budgeting’, and ‘improving literacy in the city’, a fresh perspective was the large presence of youth. Not only was the over 1,000 participants strongly represented by students and youth leaders from throughout Indonesia, there were many panelists and social leaders presenting their work in booths and musical performances, who were below 25 years of age. The energy, boundless enthusiasm and optimism of the young participants helped to provide a lot of new excitement to the event and to urban civil society movements in general.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/third-urban-social-forum/FPS_5210.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/third-urban-social-forum/XFPS2900.jpg">
				<hr class="featurette-divider">
			</div>			
			<div class="col-sm-8 col-md-7">
				<p>Another important characteristic of the event was its international nature – this year the Urban Social Forum received visitors from countries throughout Asia and beyond. To coincide with the upcoming ‘Prep Com 3’ meeting, which proceeds the Habitat 3 global summit in October 2016, a number of urban activists came to the Urban Social Forum to take the pulse of Indonesian activists and their concerns. These activists then connected with Indonesian organizations on Sunday 20th December to realize the Asia Regional Meeting of the Global Platform for the Right to the City. The event received activists from Thailand, Brazil, India, Cambodia, Singapore, Vietnam and the United States.</p>
				<p>As the Urban Social Forum grows it signals building momentum -- fresh and creative ideas, renewed enthusiasm, and more networked and active civil society organizations and community leaders all seeking change in our cities. The event helps to break down some of the issues faced in the past, namely geographic isolation, lack of access to knowledge, and very sector-specific approaches. Kota Kita and our partners hope that by continuing to support its growth we can support the further strengthening, confidence building and partnership that essential for urban civil society to flourish.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/third-urban-social-forum/FPS_4952.jpg">
			</div>
			<div class="col-xs-12">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/third-urban-social-forum/FPS_5080.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
