---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="././favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="././assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/MANADO_CCVA/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Informal Transportation Networks in Three Indonesian Cities</h1>
					<h4>Surakarta (Solo) and Jogjakarta, Central Java, Indonesia; Palembang, South Sumatra, Indonesia</h4>
				</div>
				<div class="section-meta">
					<h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Informal Public Transportation Networks_2011.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					</div>
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; Cities Development Initiative for Asia (CDIA)</h4>
					<!-- <h5>Duration:</h5>
					<h4>2013-2014</h4> -->
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>This study focuses on three modes of informal public transportation (IPT) — the <i>becak</i> (three-wheeled pedicab), <i>angkot</i> (share taxi) and <i>ojek</i> (motorcycle taxi) — in Solo, Jogjakarta and Palembang, three midsize Indonesian cities. In this report, Kota Kita, along with the Cities Development Initiative for Asia, examines the various advantages, disadvantages and opportunities of each form of transportation in the three cities, while presenting various case studies and interviews with residents in order to identify strategies for improving mobility options. </h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>We found that informal public transportation providers create tremendous value for the overall urban transportation system, especially for the urban poor, whose needs are often not well served by formal transportation. IPT operates not in isolation from formal public transportation, but as a flexible complement to public services. We suggest that the mobility needs of the urban poor can therefore be met by supporting and harnessing the solutions created by IPT providers, rather than by introducing new technologies or services.</p>
						</div>
						<div class="col-md-6">
							<p>As Indonesian cities today become more prosperous, the demand for mobility among the urban poor is rapidly growing. This growth — and the accompanying traffic — is not just confined to large megacities like Jakarta, but also medium-sized cities as well. However, since the growth and mobility in medium-sized cities are different from those of Indonesia’s biggest cities, the solutions that are needed are different as well. For instance, these cities have different kinds of relationships with neighboring municipalities and surrounding villages, and their home-based and cottage industries are growing at a different scale.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<!-- <div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/MANADO_CCVA/Manado_City_web.jpg">
				<hr class="featurette-divider">
			</div> -->
			<div class="col-sm-8 col-md-7">
				<h3 class="featurette-heading">Through a thorough analysis of the transportation options available in each city — and how they are actually used — we found that IPT not only increases mobility but is also a provider of employment and are part of the backbone of these cities’ informal economies. IPT offers potential alternatives to the negative stresses of growth on urban transportation systems, as well as innovative approaches to providing service to people in poverty.</h3>
				<hr class="featurette-divider">
				<p>This is because IPT is flexible — the drivers accommodate variety of demands and uses. It fills in gaps, in that drivers pick up where formal public transportation networks end and go where formal public transportation coverage is lacking. And lastly, IPT serves niches, as drivers adjust routes, fares and schedules based on needs of specialized user groups, including students, women, informal vendors and the elderly.</p>
				<p>In addition to the different urban texture of migration of midsize cities, the fairly recent decentralization of urban management from national government to municipalities is increasingly placing responsibility for transportation on the shoulders of local leaders. However, local governments do not necessarily yet have the capacity to manage large-scale transit systems, such as bus rapid-transit, and such systems may not even be serving the needs of the poor.</p>
				<p>Without support or investment from local government, IPT providers have developed an adaptive alternative to insufficient formal transportation, while serving as a flexible complement to formal transportation systems where they are available. We suggest that local government can support informal public transportation providers in very simple ways, by assisting in the creation of “transportation facilitators.” Developed independently by IPT providers, transportation facilitators are both built and non-physical small-scale strategies to facilitate connections between modes, create accountability to provide good service and increase safety.</p>
			</div>
			<!-- <div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/MANADO_CCVA/Landslides_web.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/MANADO_CCVA/Housing_hills_web.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/MANADO_CCVA/Bridge_web.jpg">
			</div> -->
		</div>

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

	{% include footer.html %}

	</div><!-- /.container -->

	{% include core-js.html %}

	</body>
</html>
