---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/urban-citizenship-academy/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Urban Citizenship Academy</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Cities across Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Research Report &amp; Feasibility Study</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita, Ford Foundation Indonesia</h4>
					<!-- <h5>Duration:</h5>
					<h4>December 19th, 2015</h4> -->
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>The Urban Citizenship Academy program is an initiative by Kota Kita to engage a new generation of young leaders and support them in solving pressing urban problems. This program provides a platform for transmitting our approach and methodologies to youth in cities across Indonesia. Training develops their capacity to analyze problems, to understand that these problems are not inevitable, and to see that they can play an active role in addressing them to create a better future.</h3>
					<p>Youth have energy, creativity, and awareness about issues faced by their communities – they can harness these traits to support improving the urban environment around them. By empowering young civil society leaders with data-driven advocacy skills and mentor support, we can begin to inspire a movement of active citizens who are capable of bringing about change. The Urban Citizenship Academy guides teams of participants through a process of analyzing an urban problem and developing a feasible, compelling, and impactful plan for a neighborhood scale intervention. It is a hands-on training exercise in which participants accumulate skills that advance their own ideas and agendas for improving their communities.</p>
					<!-- <hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p></p>
						</div>
						<div class="col-md-6">
							<p></p>
						</div>
					</div> -->
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-6">
				<img alt="" class="featurette-image img-responsive" src="./src/img/projects/urban-citizenship-academy/IMG_9648.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img alt="" class="featurette-image img-responsive" src="./src/img/projects/urban-citizenship-academy/DSC_0383.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-12">
				<img alt="" class="featurette-image img-responsive" src="./src/img/projects/urban-citizenship-academy/POSTER-1.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-sm-8 col-md-7">
				<h3>The program consists of a series of three 2-day trainings, spaced over several months, with intensive fieldwork in between:</h3>
				<h4>Training 1: Mapping &amp; Issue Identification</h4>
				<p>Participants practice the community mapping process and begin to understand urban problems. Subsequent fieldwork consists of data collection on a selected urban problem.</p>
				<h4>Training 2: Data Analysis &amp; Proposal Development</h4>
				<p>Participants are guided through analyzing the data they’ve collected, and use this a basis to formulate a plan for an intervention. Fieldwork consists of refining this proposal.</p>
				<h4>Training 3: Advocacy Tools</h4>
				<p>Participants learn to construct maps and infographics to communicate their findings and message to a wider audience, and to construct a compelling narrative to garner support. UCA concludes with a graduation ceremony in which they have a public platform to present these materials to stakeholders and local government representatives.</p>
				<hr class="featurette-divider">
				<p>Through the Urban Citizenship Academy we hope to promote community activism and build the capacity of young leaders to launch further campaigns and engage with their local governments, eventually creating a broader movement of more active urban citizens. After two successful pilot sessions in Solo between May and December 2015, the program is expanding across Indonesia to reach a greater number of youth in different cities facing different problems. As these cohorts interact and share ideas, they will form a network of young urban activists with the skills to make concrete change, and together they plant the seed for a future generation of engaged and active Indonesian citizens.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img alt="" class="featurette-image img-responsive" src="./src/img/projects/urban-citizenship-academy/IMG_9598.jpg">
			</div>
			<!-- <div class="col-xs-12">
				<hr class="featurette-divider">
				<img alt="" class="featurette-image img-responsive" src="./src/img/projects/urban-citizenship-academy/FPS_5080.jpg">
			</div> -->
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
