---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

  <!-- Jumbotron -->
  {% include components/projects/jumbotron.html projects=site.data.projects.women-on-wheels%}

	<div class="container project-page">

    <!-- Header -->
    {% include components/projects/header.html projects=site.data.projects.women-on-wheels%}

    {% for project in site.data.projects.women-on-wheels %}
      {% include components/projects/full-bleed-image.html image=project.img.biker %}
      {% include components/projects/image-right.html
        image=project.img.biker2
        text="
          <p>The project aims to improve these conditions by formulating gender sensitive and context based solutions. In many households, women are least privileged to use the motorcycle for mobility, turning to alternative options such as walking or cycling. The implementation of tools for the promotion and championing of cycling is crucial for the improvement of their quality of life and access to social and economic activities. The bicycle is not only a mode for sustainable mobilization, but also a tool for gender equality and independence.</p>

          <p>The pilot project for Women on Wheels in Indonesia implemented different tools to promote female cycling in Solo. Kota Kita, in partnership with Living Cities , researchers, and the Solo City local government, bicycle groups, and citizens, executed a series of strategic activities that responded to the conditions of our four chosen target groups: schoolgirls, women and women workers, DOTs, and civil society groups. Pro-cycling and awareness raising activities are structured to address the issues of infrastructure and safety, bicycle design and norms and attitudes.</p>
        "
      %}
      {% include components/projects/full-text.html
        text="
          <p>Kota Kita will continue to expand upon the activities of Women on Wheels. Current and future initiatives include a series of  public campaigns and bike clinics to improve cyclists’ capacity and readiness on the road,  integrated bicycle map for tourism, leisure, and safe routes information, and advocacy for inclusion of pro-cycling agenda and initiatives into city budget (APBD or Anggaran Pendapatan dan Belanja Daerah).</p>
        "
      %}

      {% include components/projects/two-column-images.html
        image1=project.img.training
        image2=project.img.training2
      %}

      {% include components/projects/full-text.html
        text="
          <h3>Safe Cycling Campaigns</h3>
          <p>To improve the adoption of bicycle as main alternative mode of transportation, that is affordable, healthy, and sustainable, Kota Kita has been campaigning safe biking practices. Since 2017, Kota Kita has been working  with Solo City Department of Transportation on a number of activities. A bicycle safety workshop and bike clinic where the Kota Kita team and DoT officials share safe riding protocols and practical tips to overcome challenges with bike maintenance . It invited representatives of women groups from all 51 neighborhoods in Solo. As a follow-up , Kota Kita held a safe riding competition for women groups which garnered more than 150 participants.</p>

          <h3>Bike Maps</h3>
          <p>Solo has the opportunity to improve its tourism potential by accommodating robust cycling infrastructure in the city. Kota Kita created a bike map that integrates urban tourism information and safe bike routes derived from context-based research and technical road analysis. The routes are thematically categorized into heritage, craft, and city park. The team conducted consultations with different stakeholders, include  citizens, government agencies, and  tourism board to iterate for optimal functionality. The <a href='http://bit.ly/solomap'>map</a> will be an information tool for locals and visitors that are looking for safer cycling route alternatives to enjoy the city.</p>
        " %}

      {% include components/projects/two-column-images.html
        image1=project.img.discuss
        image2=project.img.meeting
      %}

      {% include components/projects/full-text.html
        text="
          <h3>Advocacy for inclusion to city budget</h3>
          <p>Kota Kita has been working with the Department of Transportation to include budgeting for the initiatives related to gender-inclusive sustainable transportation campaign to the city budget. Utilising the knowledge from the study and research, Kota Kita is campaigning for immediate actions related to slowlane revitalization and infrastructure improvement as a way to complement the ongoing awareness campaigns.</p>
        "
      %}

    {% endfor %}

	</div>

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
