---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

  <!-- Jumbotron -->
  {% include components/projects/jumbotron.html projects=site.data.projects.water-as-leverage%}

	<div class="container project-page">

    <!-- Header -->
    {% include components/projects/header.html projects=site.data.projects.water-as-leverage%}

    {% for project in site.data.projects.water-as-leverage %}

      {% include components/projects/full-bleed-image.html image=project.img.one %}

      {% include components/projects/image-right.html
        image=project.img.two
        text="
          <p>The Water as Leverage Program, organized by the Netherland Enterprise Agency (RVO.nl), aims to develop innovative,
          bankable and implementable design proposals to tackle water-related problems in three different cities in Asia:
          Semarang, Indonesia; Khulna, Bangladesh; and Chennai, India. The challenge is to match long-term comprehensive urban
          planning with short term innovative transformations; ambitious climate adaptation plans with bankable projects; the
          development of more knowledge on water systems with the construction of more resilient cities; research, design and
          implementation with inclusive urban alliances.</p>

          <!-- <p>The pilot project for Women on Wheels in Indonesia implemented different tools to promote female cycling in Solo. Kota Kita, in partnership with Living Cities , researchers, and the Solo City local government, bicycle groups, and citizens, executed a series of strategic activities that responded to the conditions of our four chosen target groups: schoolgirls, women and women workers, DOTs, and civil society groups. Pro-cycling and awareness raising activities are structured to address the issues of infrastructure and safety, bicycle design and norms and attitudes.</p> -->
        "
      %}
      <!-- {% include components/projects/full-text.html
        text="
          <p>Kota Kita will continue to expand upon the activities of Women on Wheels. Current and future initiatives include a series of  public campaigns and bike clinics to improve cyclists’ capacity and readiness on the road,  integrated bicycle map for tourism, leisure, and safe routes information, and advocacy for inclusion of pro-cycling agenda and initiatives into city budget (APBD or Anggaran Pendapatan dan Belanja Daerah).</p>
        "
      %} -->

      {% include components/projects/two-column-images.html
        image1=project.img.three
        image2=project.img.four
      %}

      {% include components/projects/full-text.html
        text="
          <p>The program started at the end of 2018 and two design teams were assigned to work closely with the Semarang City
          Government to build the water-resilient strategies for the Central Java capital city: One Resilient and Cascading
          Semarang Team. Kota Kita acts as a Local Lead in the One Resilient consortium, which includes international
          multidisciplinary organizations such as One Architecture and Urbanism as Team leads, Deltares, Wetlands International,
          Universitas Diponegoro, P5, Grobak Hysteria, and Sherwood Engineers.</p>
        " %}

      {% include components/projects/two-column-images.html
        image1=project.img.five
        image2=project.img.six
      %}

      {% include components/projects/full-text.html
        text="
          <p>During the nine months of the Water as Leverage Program, the two design teams developed five strategic programs from upland to coast that tackle pressing water-problem in Semarang including water supply, land subsidence, flooding, and sea-level rise, under one comprehensive and holistic approach. These five programmatic ideas have been presented at the International Seminar hosted by the Mayor of Semarang on March 13th, 2019, alongside a regional audience. In April 2019, the Water as Leverage Program concluded the Phase 2 with a regional workshop in Singapore attended by international financing institutions (IFIs) such as World Bank, ADB, Green Climate Fund (GCF) along with partners and advisory boards 100RC, PfR and OECD.</p>
        "
      %}

    {% endfor %}

	</div>

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
