---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/banner.jpg)">
    </div>

	<div class="container project-page">

		<div id="projects" class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<div class="section-intro">
					<h1>Our Projects</h1>
				</div>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-manado-ccva.html">
					<img class="publication-image img-responsive" src="./src/img/projects/manado-ccva/thumb.jpg">
					<h3 class="text-primary">Manado Climate Change Vulnerability Assessment</h3>
					<p>A thriving coastal urban hub and tourist spot is threatened by climate change and rapid urbanization</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Manado, North Sulawesi, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-makassar-ccva.html">
					<img class="publication-image img-responsive" src="./src/img/projects/makassar-ccva/thumb.jpg">
					<h3 class="text-primary">Makassar Climate Change Vulnerability Assessment</h3>
					<p>A booming city faces climate change challenges as it reclaims land along its coast</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Makassar, South Sulawesi, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-firm-foundation.html">
					<img class="publication-image img-responsive" src="./src/img/projects/firm-foundation/thumb.jpg">
					<h3 class="text-primary">Firm Foundation</h3>
					<p>Residents of riverbank neighborhoods get involved in the restoration of a port, creating an innovative multifunctional public space</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Banjarmasin, South Kalimantan, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-pekalongan-ccva.html">
					<img class="publication-image img-responsive" src="./src/img/projects/pekalongan-ccva/thumb.jpg">
					<h3 class="text-primary">Pekalongan Climate Change Vulnerability Assessment</h3>
					<p>A creative hub for traditional fabrics stands to be hit hard by climate change and urbanization</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Pekalongan, Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-manaikhoroo.html">
					<img class="publication-image img-responsive" src="./src/img/projects/manaikhoroo/thumb.jpg">
					<h3 class="text-primary">Manaikhoroo Participatory Mapping of the Ger Areas</h3>
					<p>Kota Kita takes its Solo mapping project to the Mongolian capital</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Ulaanbaatar, Mongolia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-solo-city-vision.html">
					<img class="publication-image img-responsive" src="./src/img/projects/solo-city-vision/thumb.jpg">
					<h3 class="text-primary">Solo City Vision Profile</h3>
					<p>A city famous for its traditional textiles and cultural heritage inspires with an eco vision</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-banjarmasin-city-vision.html">
					<img class="publication-image img-responsive" src="./src/img/projects/banjarmasin-city-vision/thumb2.jpg">
					<h3 class="text-primary">Banjarmasin City Vision Profile</h3>
					<p>A port city on the island of Borneo develops a City Vision, serving as a model for other developing Indonesian cities</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Banjarmasin, South Kalimantan, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-transportation-networks.html">
					<img class="publication-image img-responsive" src="./src/img/projects/transportation-networks/thumb.jpg">
					<h3 class="text-primary">Informal Transportation Networks in Three Indonesian Cities</h3>
					<p>Informal transportation in Indonesia's midsize cities provides valuable services to the urban poor</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta, Jogjakarta, &amp; Palembang, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-solo-kota-kita.html">
					<img class="publication-image img-responsive" src="./src/img/projects/solo-kota-kita/thumb.jpg">
					<h3 class="text-primary">Solo Kota Kita</h3>
					<p>Community mapping of neighborhoods gives local governments a new tool to serve residents</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
