---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/cornell-workshop/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Workshop collaboration with Cornell University</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Ithaca, New York; Surakarta (Solo), Central Java, Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Research Report &amp; Feasibility Study</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; Victoria A. Beard (Cornell University); Surakarta municipal government</h4>
					<h5>Duration:</h5>
					<h4>2013 – ongoing</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>Since 2013, Kota Kita and Professor Victoria A. Beard have partnered to co-teach a yearlong sequence of courses at Cornell University. These courses focus on development planning for the informal communities along the Pepe River in Surakarta (Solo), Indonesia. The workshop sequence benefits from Professor Beard’s two decades’ worth of work on urbanization and participatory planning in Indonesia, as well as Kota Kita’s deep involvement and sustained relationships with Solo’s local government and its residents. Through engaged learning, students are exposed to the complexities of informal riverbank communities and examine parallel issues like sanitation infrastructure, access to drinking water and secure shelter.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>The course sequence involves a close partnership between Kota Kita, Professor Beard, and participating students. Kota Kita engages with students pre-departure, accompanies them on a two-week study trip in Solo as they carry out fieldwork, and continues to offer input and support after they return. While the overall purpose of the workshop, in Professor Beard’s words, is “to expose students to the complexity as well as the nuances of planning with poor communities in the global South,” the workshop primarily focuses on riverbank communities in Solo.</p>
						</div>
						<div class="col-md-6">
							<p>Due to the continued expansion of informal settlements in Indonesia and the consequent dependence of many of their residents on local waterways for water and sanitation, this focus on riverbank communities helps students develop tools necessary to understand urban issues facing poor communities in numerous contexts. The recent planning process in Solo, undertaken by the then-mayor, now President of Indonesia Joko Widodo, makes the city a particularly interesting and rich place to study urbanization and planning.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-12">
				<img class="featurette-image img-responsive" src="./src/img/projects/cornell-workshop/IMG_0913.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/cornell-workshop/IMG_0903.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/cornell-workshop/IMG_0929.jpg">
				<hr class="featurette-divider">
			</div>			
			<div class="col-sm-8 col-md-7">
				<h3>By forming relationships and working with the numerous stakeholders involved in the workshop’s field site, students develop sensitivity to working across different cultural, historical and political contexts.</h3>
				<p>Past workshops have resulted in tangible deliverables such as exhibitions, memos communicating findings to the Indonesian stakeholders, and an Advocacy Planning Handbook. This handbook, created in collaboration with Kota Kita, shares pro-poor and advocacy planning experiences with Indonesian activists working for underprivileged and underrepresented communities. Given the dynamic nature of the ongoing partnership of the course, the outcomes of each year are different as students appreciate firsthand how planners can work for social transformation through two-way exchanges of knowledge, people, and experiences.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/cornell-workshop/IMG_0919.jpg">
			</div>
			<div class="col-xs-12">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/projects/cornell-workshop/IMG_0920.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
