---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/makassar-climate-adaptation/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4">
				<div class="section-intro">
					<h1 style="font-size:2em;">Makassar Urban Climate Risk Management Plan</h1>
					<h4><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Makassar, South Sulawesi, Indonesia</h4>
				</div>
				<div class="section-meta">
					<!-- <h5>Publication:</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Women on Wheels Report_150528.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Research Report &amp; Feasibility Study</a>
					</div>
					<h4>Assessment of Climate Change Vulnerability in Kelurahan Pabean, Pekalongan, Central Java</h4> -->
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; United Nations Development Programme (UNDP); Makassar Development Planning Agency (BAPPEDA Makassar)</h4>
					<h5>Duration:</h5>
					<h4>November 2014 to August 2015</h4>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="project-page-intro">
					<h3>Our 2015 Urban Climate Risk Management Plan (UCRMP) for Makassar, the “Gateway City to Eastern Indonesia” on the western shores of Sulawesi island, builds upon our earlier 2013 Climate Change Vulnerability Assessment (CCVA) for the city. Aided by three United Nations agencies and Makassar’s city government, the CCVA used in-depth analysis to develop pro-poor guidelines that address the city’s responses to current and future climate-change hazards. The current UCRMP document turns the recommendations and analysis of the CCVA into a multi-stakeholder action plan—involving the city government, NGOs, academics and civil society groups—in order to better coordinate and implement policies and projects to address climate change vulnerability in the city.</h3>
					<hr class="featurette-divider">
					<div class="row">
						<div class="col-md-6">
							<p>Despite Makassar’s booming economy as the gateway to Indonesia’s developing eastern islands and the increasing flow of commodities and people to and from the region, the rapid urbanization of the city’s periphery and the changing landscape of the coast through land reclamation projects threaten to damage its natural ecosystems and stress its water supply system. To examine the effects on the city’s long-term environmental sustainability, Kota Kita and three United Nations agencies, along with the city government of Makassar, teamed up to identify the city’s most vulnerable people, communities, and eco- and urban systems, culminating in the CCVA published in 2013.</p>
						</div>
						<div class="col-md-6">
							<p>The current UCRMP addresses the city’s changes since the 2013 CCVA, while transforming its recommendations and analysis into a strategy for policy makers and city planners. In making the UCRMP, the results from CCVA were reviewed to help ground a fundamental understanding about the vulnerability of Makassar to climate-change effects. The UCRMP links together the CCVA with other planning documents, like the city vision (RPJMD), to provide specific strategies that focus on certain climate-change resilience targets, such as programs to increase the amount of green spaces in the city or projects to expand and improve the quality of infrastructure and public services.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-climate-adaptation/Garbage-on-the-coastal.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-climate-adaptation/IMG_2533.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-climate-adaptation/Tree-Collaps.jpg">
				<hr class="featurette-divider">
			</div>
			<div class="col-xs-6">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-climate-adaptation/Vulnerability-Mapping-with-Community.jpg">
				<hr class="featurette-divider">
			</div>			
			<div class="col-sm-8 col-md-7">
				<h3>In two UCRMP workshops, in late November 2014 and mid-April 2015, participants established a multi-stakeholder working group, the Climate Change Adaptation Working Group (POKJA-API), to coordinate actions and monitor and evaluate the local action plan’s programs.</h3>
				<p>The Working Group consists of Advisor and Technical Teams, the latter divided into three working groups: Mitigation, Emergency and Post-disaster, and Data and Monitoring. This working group will be able to provide regular data updates necessary to obtain a full picture of, and coordinate responses to, the latest climate-change conditions.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/projects/makassar-climate-adaptation/IMG_2492.jpg">
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
