---
---

<!DOCTYPE html>
<html lang="en">
	<head>

	{% include header.html %}

	</head>

	<body>

	{% include nav-in.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/banner.jpg)">
    </div>

	<div class="container project-page">

		<div id="projects" class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-md-3">
				<div class="section-intro">
					<h1>Our Projects</h1>
				</div>
      </div>

      {% for project in site.data.projects.water-as-leverage %}
        {% include components/projects/front.html
          page-url="project-water-as-leverage.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.poly-urban-waters %}
        {% include components/projects/front.html
          page-url="project-poly-urban-waters.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.water-dialogue %}
        {% include components/projects/front.html
          page-url="project-water-dialogue.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.karimunjawa-community-planning %}
        {% include components/projects/front.html
          page-url="project-karimunjawa-community-planning.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.civic-engagement-4 %}
        {% include components/projects/front.html
          page-url="project-civic-engagement-4.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.disability-inclusive-banjarmasin %}
        {% include components/projects/front.html
          page-url="project-disability-inclusive-banjarmasin.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.advancing-inclusive-and-resilience-urban-development %}
        {% include components/projects/front.html
          page-url="project-advancing-inclusive-and-resilience-urban-development.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.ngampon %}
        {% include components/projects/front.html
          page-url="project-ngampon.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.learning-with-spark %}
        {% include components/projects/front.html
          page-url="project-learning-with-spark.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.urban-food-resilience %}
        {% include components/projects/front.html
          page-url="project-urban-food-resilience.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.building-capacity-and-participation-for-community-led-solutions %}
        {% include components/projects/front.html
          page-url="project-building-capacity-and-participation-for-community-led-solutions.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.tumi-inclusive-urban-mobility %}
        {% include components/projects/front.html
          page-url="project-tumi-inclusive-urban-mobility.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
			{% endfor %}

      {% for project in site.data.projects.women-on-wheels %}
        {% include components/projects/front.html
          page-url="project-women-on-wheels-sequel.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
      {% endfor %}

      {% for project in site.data.projects.datakota-banjarmasin %}
        {% include components/projects/front.html
          page-url="project-data-kota-banjarmasin.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
      {% endfor %}

      {% for project in site.data.projects.creative-kampongs %}
        {% include components/projects/front.html
          page-url="project-creative-kampongs.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
      {% endfor %}

      {% for project in site.data.projects.participatory-budgetting %}
        {% include components/projects/front.html
          page-url="project-participatory-budgetting-practices.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
      {% endfor %}

      {% for project in site.data.projects.participatory-disabilites %}
        {% include components/projects/front.html
          page-url="project-disability-inclusive-city.html"
          title=project.name
          teaser=project.teaser
          location=project.location
          image=project.thumbnail
        %}
      {% endfor %}

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-third-urban-social-forum.html">
					<img class="publication-image img-responsive" src="./src/img/projects/third-urban-social-forum/thumb.jpg">
					<h3 class="text-primary">3rd Urban Social Forum</h3>
					<p class="text-excerpt">Over 1000 activists, social leaders, academics, and students from throughout Indonesia and Asia came together to discuss solutions and actions to respond to our most pressing urban issues</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surabaya, East Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-climate-change-governance.html">
					<img class="publication-image img-responsive" src="./src/img/projects/climate-change-governance/thumb.jpg">
					<h3 class="text-primary">Climate Change Governance Research</h3>
					<p class="text-excerpt">Two studies demonstrate the importance of participation and community engagement to implement policies designed to reduce vulnerability to climate change impacts in Indonesian cities</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surabaya, Semarang, Manado, Bandar Lampung, Kupang and Surakarta, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-women-wheels-pilot.html">
					<img class="publication-image img-responsive" src="./src/img/projects/women-wheels-pilot/thumb.jpg">
					<h3 class="text-primary">Women on Wheels Indonesia: Pilot Project</h3>
					<p class="text-excerpt">Kota Kita and Living Cities, in collaboration with researchers from the University of Pennsylvania, prepare to develop a multifaceted Pilot Project to promote cycling for women and girls in Surakarta, Indonesia</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-cornell-workshop.html">
					<img class="publication-image img-responsive" src="./src/img/projects/cornell-workshop/thumb.jpg">
					<h3 class="text-primary">Workshop Collaboration with Cornell University</h3>
					<p class="text-excerpt">A joint learning initiative between Kota Kita and Cornell University explores community-based planning practice in Surakarta, Indonesia</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Ithaca, New York; Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-makassar-climate-adaptation.html">
					<img class="publication-image img-responsive" src="./src/img/projects/makassar-climate-adaptation/thumb.jpg">
					<h3 class="text-primary">Makassar Urban Climate Risk Management Plan</h3>
					<p class="text-excerpt">An earlier climate-change analysis develops into a multi-stakeholder action plan for a booming coastal city</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Makassar, South Sulawesi, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-aiira-participatory-budgeting.html">
					<img class="publication-image img-responsive" src="./src/img/projects/aiira-participatory-budgeting/thumb.jpg">
					<h3 class="text-primary">Toward Pro-Poor &amp; Accountable Infrastructure Development Planning</h3>
					<p class="text-excerpt">Kota Kita researched Surakarta’s participatory budgeting process, the Musrenbang, to better understand whether the outcomes are democratic and effective</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-kupang-climate-risk.html">
					<img class="publication-image img-responsive" src="./src/img/projects/kupang-climate-risk/thumb.jpg">
					<h3 class="text-primary">Kupang Urban Climate Risk Management Plan</h3>
					<p class="text-excerpt">Building on earlier climate-change analyses, a document and working-group consolidate stakeholders fighting climate change in an Eastern Indonesian city</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Kupang, West Timor, East Nusa Tenggara, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-informal-vendor-research.html">
					<img class="publication-image img-responsive" src="./src/img/projects/informal-vendor-research/thumb.jpg">
					<h3 class="text-primary">Informal Vendor Research</h3>
					<p class="text-excerpt">In order for city governments to effectively manage informal street vendors new approaches are needed that emphasize participation, social inclusion and economic empowerment</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta, Jogyakarta, Jakarta, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-urban-citizenship-academy.html">
					<img class="publication-image img-responsive" src="./src/img/projects/urban-citizenship-academy/thumb.jpg">
					<h3 class="text-primary">Urban Citizenship Academy</h3>
					<p class="text-excerpt">The Urban Citizenship Academy is a hands-on educational experience empowering youth to develop meaningful solutions to real urban problems</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Cities across Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-second-urban-social-forum.html">
					<img class="publication-image img-responsive" src="./src/img/projects/second-urban-social-forum/thumb.jpg">
					<h3 class="text-primary">2nd Urban Social Forum</h3>
					<p class="text-excerpt">Representatives from over 100 Indonesian civil society institutions come together to discuss urban issues</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-women-on-wheels.html">
					<img class="publication-image img-responsive" src="./src/img/projects/women-on-wheels/thumb.jpg">
					<h3 class="text-primary">Women on Wheels in Indonesia: Research Report &amp; Feasibility Study</h3>
					<p class="text-excerpt">Promoting bicycling for women in Indonesian cities, through a pilot project in Solo</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo) &amp; Yogyakarta (Jogja), Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-angkot-study.html">
					<img class="publication-image img-responsive" src="./src/img/projects/angkot-study/thumb.jpg">
					<h3 class="text-primary">The Angkots of Solo: Informal public transport in a Central Javanese City</h3>
					<p class="text-excerpt">A city government is challenged to cooperate with the informal transportation sector</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-kupang-ccva.html">
					<img class="publication-image img-responsive" src="./src/img/projects/kupang-ccva/thumb.jpg">
					<h3 class="text-primary">Kupang Climate Change Vulnerability Assessment</h3>
					<p class="text-excerpt">Water issues and climate change in an Eastern Indonesia regional capital</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Kupang, West Timor, East Nusa Tenggara, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-manado-ccva.html">
					<img class="publication-image img-responsive" src="./src/img/projects/manado-ccva/thumb.jpg">
					<h3 class="text-primary">Manado Climate Change Vulnerability Assessment</h3>
					<p class="text-excerpt">A thriving coastal urban hub and tourist spot is threatened by climate change and rapid urbanization</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Manado, North Sulawesi, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-makassar-ccva.html">
					<img class="publication-image img-responsive" src="./src/img/projects/makassar-ccva/thumb.jpg">
					<h3 class="text-primary">Makassar Climate Change Vulnerability Assessment</h3>
					<p class="text-excerpt">A booming city faces climate change challenges as it reclaims land along its coast</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Makassar, South Sulawesi, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-firm-foundation.html">
					<img class="publication-image img-responsive" src="./src/img/projects/firm-foundation/thumb.jpg">
					<h3 class="text-primary">Firm Foundation</h3>
					<p class="text-excerpt">Residents of riverbank neighborhoods get involved in the restoration of a port, creating an innovative multifunctional public space</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Banjarmasin, South Kalimantan, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-pekalongan-ccva.html">
					<img class="publication-image img-responsive" src="./src/img/projects/pekalongan-ccva/thumb.jpg">
					<h3 class="text-primary">Pekalongan Climate Change Vulnerability Assessment</h3>
					<p class="text-excerpt">A creative hub for traditional fabrics stands to be hit hard by climate change and urbanization</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Pekalongan, Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-manaikhoroo.html">
					<img class="publication-image img-responsive" src="./src/img/projects/manaikhoroo/thumb.jpg">
					<h3 class="text-primary">Manaikhoroo Participatory Mapping of the Ger Areas</h3>
					<p class="text-excerpt">Kota Kita takes its Solo mapping project to the Mongolian capital</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Ulaanbaatar, Mongolia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-solo-city-vision.html">
					<img class="publication-image img-responsive" src="./src/img/projects/solo-city-vision/thumb.jpg">
					<h3 class="text-primary">Solo City Vision Profile</h3>
					<p class="text-excerpt">A city famous for its traditional textiles and cultural heritage inspires with an eco vision</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-banjarmasin-city-vision.html">
					<img class="publication-image img-responsive" src="./src/img/projects/banjarmasin-city-vision/thumb2.jpg">
					<h3 class="text-primary">Banjarmasin City Vision Profile</h3>
					<p class="text-excerpt">A port city on the island of Borneo develops a City Vision, serving as a model for other developing Indonesian cities</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Banjarmasin, South Kalimantan, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-transportation-networks.html">
					<img class="publication-image img-responsive" src="./src/img/projects/transportation-networks/thumb.jpg">
					<h3 class="text-primary">Informal Transportation Networks in Three Indonesian Cities</h3>
					<p class="text-excerpt">Informal transportation in Indonesia's midsize cities provides valuable services to the urban poor</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta, Jogjakarta, &amp; Palembang, Indonesia</h5>
				</a>
			</div>

			<div class="project-block block-item col-xs-6 col-md-3">
				<div class="intern-top-box"></div>
				<a href="project-solo-kota-kita.html">
					<img class="publication-image img-responsive" src="./src/img/projects/solo-kota-kita/thumb.jpg">
					<h3 class="text-primary">Solo Kota Kita</h3>
					<p class="text-excerpt">Community mapping of neighborhoods gives local governments a new tool to serve residents</p>
					<h5 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Surakarta (Solo), Central Java, Indonesia</h5>
				</a>
			</div>

		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
