---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="././favicon.ico">

	<title>Kota Kita</title>

	<!-- Bootstrap core CSS -->
	<link href="./src/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./src/css/iconic-bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="././assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="./src/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<link href="./src/css/carousel.css" rel="stylesheet">
	<link href="./src/css/kotakita.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

	{% include nav.html %}

	<div class="jumbotron" style="background-image:url(./src/img/projects/MANADO_CCVA/banner.jpg)">
    </div>

	<div class="container project-page">

		<div class="section-shift row" style="background-color:#FEF7EC;">
			<div class="col-sm-4 col-md-3">
				<div class="section-intro">
					<h1>Our Tools</h1>
				</div>
<!-- 				<div class="section-meta">
					<h5>Example Mini Atlas</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/NUSUKAN_ENGLISH.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
					</div>
					<h5>Solo Kota Kita Facilitator Manual</h5>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a href="./publications-docs/Solo Kota Kita Facilitator Manual_ENG_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> English</a>
						<a href="./publications-docs/Solo Kita Kita Facilitator Manual_IND_2010.pdf" target="_blank" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bahasa</a>
					</div>
					<h4>A Facilitator's Guide to Using a Mini Atlas</h4>
					<h5>Key organizations &amp; partners:</h5>
					<h4>Kota Kita; Pemkot Surakarta; the Ford Foundation; USAID; UN-Habitat</h4>
					<h5>Duration:</h5>
					<h4>2010–ongoing</h4>
				</div> -->
			</div>
			<div class="col-sm-8 col-md-9">
				<div class="project-page-intro">
					<h3>Kota Kita develops various planning tools and makes them available in order to enhance understanding of urban issues and encourage more people to participate in urban planning processes. Most of the material currently made available about cities is of a technical nature used by government officials, engineers, and developers. We want to make participating in improving communities and cities fun and accessible for all.</h3>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-8 col-md-7">
				<h2>Solo Kota Kita</h2>
				<h5>www.solokotakita.org</h5>
				<p>SoloKotaKita.org is Kota Kita’s first web app; it makes available up-to-date, fine grain information about the city of Solo in order to support the city’s participatory budgeting cycle, the Musrenbang. Selecting different layers of information, different neighborhoods, and different years allows citizens to research the needs of their communities. This information can be discussed with other citizens in order to prioritize infrastructure projects, compare one neighborhood with another, and advocate for specific services or needs using data.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/tools/Solokotakita.org.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-4">
				<h2>Mini Atlases</h2>
				<p>Mini Atlases are neighborhood profiles created every two years for every one of Solo’s 51 neighborhoods. They present basic socio-economic and demographic information together with maps of the neighborhoods in a legible and easy-to-use format. The maps can be used by residents to support discussions about assets and issues within their neighborhoods.</p>
			</div>
			<div class="col-sm-5 col-md-3">
				<img class="featurette-image img-responsive" src="./src/img/tools/Mini Atlas Mojosongo.jpg">
			</div>
			<div class="col-sm-7 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/tools/Mini-Atlas-Tipes_small.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-4">
				<h2>Manaikhoroo Neighborhood Profiles</h2>
				<p>Manaikhoroo, or ‘My Neighborhood’ in Mongolian, is a date collection and neighborhood profile design project that Kota Kita undertook with the City of Ulaanbaatar, Mongolia and The Asia Foundation. The information in each profile supports discussions between residents and local government on priority investments and improvements to public services. These are the first such maps of Ulaanbaatar’s unplanned ger settlements; there are 87 in total.</p>
			</div>
			<div class="col-sm-5 col-md-3">
				<img class="featurette-image img-responsive" src="./src/img/tools/Ulaanbaatar-Neighborhood-Profile.jpg">
			</div>
			<div class="col-sm-7 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/tools/Community Mapping Ulaanbaatar.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-4">
				<h2>Solo’s City Systems</h2>
				<p>What’s going on in Solo? This guide provides a brief introduction to Solo, its neighborhoods, and its urban systems. How does what happens in your neighborhood relate to life in the city as a whole? How does your neighborhood rank in comparison to other neighborhoods in Solo? This guide provides information and analysis about the city of Solo, as well as comparative data about its many neighborhoods.</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="featurette-image img-responsive" src="./src/img/tools/Mengenal Sistem Perkotaan_cover_IND.jpg">
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="featurette-image img-responsive" src="./src/img/tools/Solo-Urban-Systems-Maps.jpg">
			</div>
		</div>
		
		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-4">
				<h2>Community Action Planning poster</h2>
				<p>The Community Action Planning poster visualizes community re-building priorities following the earthquake in Padang in 2011. After the earthquake, a Community Action Planning process took place in Purus where residents discussed the priority issues that needed to be addressed by small infrastructure investments. The poster serves as a reminder of this workshop and the collective decisions taken to re-build after the disaster; it can be used as an advocacy tool to engage in planning efforts with local government.</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="featurette-image img-responsive" src="./src/img/tools/Purus Community Action Plan Poster_IND.jpg">
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="featurette-image img-responsive" src="./src/img/tools/Community Action Planning Workshop 1.jpg">
				<hr class="featurette-divider">
				<img class="featurette-image img-responsive" src="./src/img/tools/Community Action Planning Workshop 2.jpg">
			</div>
		</div>
		
		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-6 col-md-4">
				<h2>Tourism Map of Sondakan</h2>
				<p>To support the initiative of the local tourism committee of the neighborhood of Sondakan, Solo, Kota Kita helped to create a Tourism Map. The map was made together with residents, identifying the location of Batik workshops, restaurants, and cultural sites in the neighborhood. The Tourism Map helps residents provide guidance to visitors and promote the local economy.</p>
			</div>
			<div class="col-sm-6 col-md-8">
				<img class="featurette-image img-responsive" src="./src/img/tools/Tourism-Map-Sondakan_small.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-3">
				<h2>Community Facilitation Guide</h2>
				<p>Our Community Facilitation Guide provides exercises to get started using the Mini Atlases for neighborhood planning. </p>
			</div>
			<div class="col-sm-6 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/tools/Solo Kota Kita Facilitator Manual_IND.jpg">
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="featurette-image img-responsive" src="./src/img/tools/Using-Mini-Atlas_small.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-8 col-md-7">
				<h2>Social Design Field Guide</h2>
				<p>Our field guide helps provide advice and information about how to facilitate participatory design processes. It answers questions such as ‘Who do you invite to meetings’ and ‘How do you facilitate meetings?’ The Field Guide documents a process that Kota Kita undertook in Banjarmasin, Central Kalimantan for a participatory urban design process called Firm Foundation. It walks readers through the tools used during the design workshops, the lessons learned from the process, and the design outcome.</p>
			</div>
			<div class="col-sm-4 col-md-5">
				<img class="featurette-image img-responsive" src="./src/img/tools/Social Field Guide.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-sm-6 col-md-5">
				<h2>Water SMS</h2>
				<p>The Water SMS web app helps to visualize up-to-date issues related to water supply in the cities of Malang and Makassar. Clients of the city’s water supply service can send SMS messages to a hotline describing what the issue is and where is its origin. The web app visualizes this flow of data to provide municipal information as it emerges, for example, identifying leaks or poor services. </p>
			</div>
			<div class="col-sm-6 col-md-7">
				<img class="featurette-image img-responsive" src="./src/img/tools/Water-SMS-webpage_small.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-4">
				<h2>Climate Change Vulnerability Assessments</h2>
				<p>Climate Change Vulnerability Assessments are reports that support planning processes to build resilience to climate change. The process of carrying out the vulnerability assessments took place with the participation of civil society organizations and local officials from a variety of government agencies. The resulting report helps the city to identify issues, and prioritize needed policies and projects to reduce vulnerability and increase resilience.</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="featurette-image img-responsive" src="./src/img/tools/Climate Change Vulnerability Assessment_Makassar_ENG.jpg">
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="featurette-image img-responsive" src="./src/img/tools/Climate Change Vulnerability Assessment_Manado_ENG.jpg">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-xs-8">
				<h2>Participatory infrastructure monitoring</h2>
				<p>The participatory infrastructure monitoring app is a digital tool that promotes transparency and accountability. It tracks the progress of neighborhood-level infrastructure projects identified and prioritized during the city’s local budgeting process, the Musrenbang. By demonstrating what projects were selected, the budget amount, the year they were approved, and their status, the web app makes it possible for citizens to check on the status of projects that they selected. The web app contains project information for all of the city’s neighborhood-level infrastructure projects over the last 3 years.</p>
			</div>
		</div>

	</div><!-- /.container -->

	{% include footer.html %}

	{% include core-js.html %}

	</body>
</html>
