<div id="footer" class="container-fluid" style="background-color:#263a45;">
	<footer>
		<div class="col-md-3">
			<img class="img-responsive" src="./src/img/head_logo.png">
			<p style="color:white;opacity:0.8;padding:5px 0;">A City for All</p>
		</div>
		<div class="col-md-3 sub-section"
			<p>&copy; 2015 Yayasan Kota Kita</p>
			<p><a href="get-involved#urban-social-forum">Urban Social Forum</a></p>
			<p><a href="get-involved#intern">Donate, Volunteer or Intern</a></p>
			<p><a href="partners">Our Partners</a></p>
			<p><a href="publications">Our Documents &amp; Reports</a></p>
			<p><a href="about-us.html#contact">Contact Us</a></p>
		</div>
		<div class="col-md-6">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<a class="btn btn-default" href="#" role="button"><span class="iconic iconic-envelope-closed iconic-md" title="envelope closed" aria-hidden="true"></span> Join our email list</a>
				<a href="http://www.facebook.com/solo.kota.kita" target="_blank" role="button" class="btn btn-primary"><span class="iconic iconic-social-facebook iconic-md" title="social facebook" aria-hidden="true"></span></a>
				<a href="http://www.facebook.com/solo.kota.kita" target="_blank" role="button" class="btn btn-primary"><span class="iconic iconic-social-twitter iconic-md" title="social twitter" aria-hidden="true"></span></a>
				<a href="https://www.flickr.com/photos/solo-kota-kita" target="_blank" role="button" class="btn btn-primary"><span class="iconic iconic-camera-slr iconic-md" title="camera slr" aria-hidden="true"></span></a>
			</div>
			<a class="twitter-timeline" href="https://twitter.com/oh_sk" data-widget-id="570726451515637760">Tweets by @oh_sk</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="col-md-6">
			<p class="pull-right"><a class="btn btn-lg btn-default" href="#" role="button"><span class="iconic iconic-arrow-right-angle-thick-left-top-line" title="Back up to top" aria-hidden="true"></span></a></p>
		</div>
	</footer>
</div>
