<footer>
	<!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
	<div class="col-xs-6 col-sm-4">
		<p>&copy; 2015 Yayasan Kota Kita &middot;</p>
		<p><a href="#">Urban Social Forum</a></p>
		<p><a href="#">Donate, Volunteer or Intern</a></p>
	</div>
	<div class="col-xs-6 col-sm-4">
		<p><a href="#">Our Partners</a></p>
		<p><a href="#">Our Documents &amp; Reports</a></p>
		<p><a href="#">Contact Us</a></p>
	</div>
	<div class="clearfix visible-xs-block"></div>
	<p class="pull-right"><a class="btn btn-lg btn-default" href="#" role="button">Back to top</a></p>
</footer>