	<!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
<div id="footer" class="container-fluid" style="background-color:#263a45;">
	<footer>
		<div class="col-xs-6 col-sm-3">
			<p>&copy; 2015 Yayasan Kota Kita &middot;</p>
			<p><a href="get-involved#urban-social-forum">Urban Social Forum</a></p>
			<p><a href="get-involved#intern">Donate, Volunteer or Intern</a></p>
			<p><a href="partners">Our Partners</a></p>
			<p><a href="publications">Our Documents &amp; Reports</a></p>
			<p><a href="about-us.html#contact">Contact Us</a></p>
		</div>
		<div class="col-xs-6 col-sm-3">
			<p>Keep up with Kota Kita</p>
			<p><a class="btn btn-lg btn-default" href="#" role="button"><span class="iconic iconic-envelope-closed iconic-sm" title="envelope closed" aria-hidden="true"></span> Join our email list</a></p>
			<p>
				<a href="http://www.facebook.com/solo.kota.kita">
					<span class="iconic iconic-social-facebook" title="Facebook" aria-hidden="true"></span>
				</a>
				<a href="#">
					<span class="iconic iconic-social-twitter" title="Twitter" aria-hidden="true"></span>
				</a>
				<a href="https://www.flickr.com/photos/solo-kota-kita">
					<span class="iconic iconic-camera-slr" title="Flickr" aria-hidden="true"></span>
				</a>
			</p>
		</div>
		<div class="col-xs-6 col-sm-4">
			<a class="twitter-timeline" href="https://twitter.com/oh_sk" data-widget-id="570726451515637760">Tweets by @oh_sk</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="clearfix visible-xs-block"></div>
		<p class="pull-right"><a class="btn btn-lg btn-default" href="#" role="button"><span class="iconic iconic-arrow-right-angle-thick-left-top-line" title="Back up to top" aria-hidden="true"></span></a></p>
	</footer>
</div>
