<div class="navbar-wrapper">
	<div class="container">

		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="src/img/head_logo.png" alt="Kota Kita"></img><p style="color:white;opacity:0.8;padding:5px 0;">A City for All</p></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="about-us" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="about-us">Who We Are</a></li>
							<li><a href="about-us#our-mission">Our Mission</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="partners" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Our Partners <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="partners">Funding Partners</a></li>
							<li><a href="partners#collaboration">Collaboration Partners</a></li>
							<li><a href="partners#expert">Expert Partners</a></li>
						</ul>
					</li>
					<!-- <li><a href="#">Our Projects</a></li> -->
					<li><a href="publications">Publications</a></li>
					<!-- <li><a href="#">Tools</a></li> -->
					<li class="dropdown">
						<a href="get-involved" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Get Involved <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="get-involved">Donate or Fund</a></li>
							<li><a href="get-involved#intern">Intern or Volunteer</a></li>
							<li><a href="get-involved#urban-social-forum">Urban Social Forum</a></li>
						</ul>
					</li>
					<li><a href="about-us.html#contact">Contact Us</a></li> 
				</ul>
			</div>
			</div>
		</nav>
		
	</div>
</div>