<div id="videoContainer" class="row featurette">
  <div class="col-xs-12">
    <br>
    <h1 class="text-left">Our Activities</h1>
    <hr class="featurette-divider">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="block-item col-sm-4">
    <div class="news-top-box"></div>
    <a href="https://www.youtube.com/watch?v=3HseJlc6KsY">
      <img class="featurette-image img-responsive" src="./src/img/news/tedx_thumb_sq.jpg" target="_blank">
      <h5 class="text-primary text-uppercase small"><span class="iconic iconic-video iconic-sm" title="flag" aria-hidden="true"></span> TEDxUbud</h5>
      <h3>Making invisible cities visible | John Taylor</h3>
      <p class="publication-date text-uppercase small">September, 2015</p>
    </a>
    <hr class="featurette-divider visible-xs">
  </div>
  <div class="block-item col-sm-4">
    <div class="news-top-box"></div>
    <a href="feature-development-boom">
      <img class="featurette-image img-responsive" src="./src/img/feature/development-boom/thumb.jpg">
      <h5 class="text-primary text-uppercase small"><span class="iconic iconic-flag iconic-sm" title="flag" aria-hidden="true"></span> Feature</h5>
      <h3>Indonesia Development Boom Ignores Community Voices</h3>
      <p>The communities most affected are having little say in how their environment should be shaped</p>
      <h4 class="publication-date text-uppercase small">August, 2015</h4>
    </a>
  </div>
  <div class="block-item col-sm-4">
    <div class="news-top-box"></div>
    <a href="feature-mongolia-planning">
      <img class="featurette-image img-responsive" src="./src/img/feature/mongolia-planning/thumb.jpg">
      <h5 class="text-primary text-uppercase small"><span class="iconic iconic-flag iconic-sm" title="flag" aria-hidden="true"></span> Feature</h5>
      <h3>Participatory Urban Planning Takes Hold in Mongolia</h3>
      <p>Mapping enables citizens to interact in planning, budgeting, &amp; urban development decisions</p>
      <h4 class="publication-date text-uppercase small">August, 2015</h4>
    </a>
  </div>
</div>
