<div class="row featurette">
  <div class="col-xs-12">
    <br>
    <h1 class="text-left">Our Activities</h1>
    <hr class="featurette-divider">
  </div>
  <div class="block-item col-sm-4">
    <div class="news-top-box"></div>
    <a href="https://www.youtube.com/watch?v=1J6ElmUqR8A&list=PLH2v4og6iJqzocCxcck_fs6hn6AYiy21O" target="_blank" rel="noopener noreferrer">
      <img class="featurette-image img-responsive" src="https://res.cloudinary.com/vasilenka/image/upload/v1604653979/kotakita/activity/kotanatomi.jpg" target="_blank">
      <h5 class="text-primary text-uppercase small"><span class="iconic iconic-video iconic-sm" title="flag" aria-hidden="true"></span> Feature</h5>
      <h3>KOTANATOMI series: Informality in the City</h3>
      <h4 class="publication-date text-uppercase small">June, 2020</h4>
    </a>
    <hr class="featurette-divider visible-xs">
  </div>
  <div class="block-item col-sm-4">
    <div class="news-top-box"></div>
    <a href="https://www.urbanet.info/building-resilience-from-the-ground-up-indonesia-coastal-cities/"  target="_blank" rel="noopener noreferrer">
      <img class="featurette-image img-responsive" src="https://res.cloudinary.com/vasilenka/image/upload/v1604653979/kotakita/activity/resillience-from-ground-up.jpg">
      <h5 class="text-primary text-uppercase small">
        <span class="iconic iconic-flag iconic-sm" title="flag" aria-hidden="true"></span>
        Feature
      </h5>
      <h3>Building Resilience from the Ground Up: Indonesia’s Coastal Cities | URBANET</h3>
      <!-- <p>The communities most affected are having little say in how their environment should be shaped</p> -->
      <h4 class="publication-date text-uppercase small">September, 2020</h4>
    </a>
  </div>
  <div class="block-item col-sm-4">
    <div class="news-top-box"></div>
    <a href="https://www.urbanet.info/urban-future-participatory-planning-in-indonesia" target="_blank" rel="noopener noreferrer">
      <img class="featurette-image img-responsive" src="https://res.cloudinary.com/vasilenka/image/upload/v1604653979/kotakita/activity/better-urban-future.jpg">
      <h5 class="text-primary text-uppercase small"><span class="iconic iconic-flag iconic-sm" title="flag" aria-hidden="true"></span> Feature</h5>
      <h3>More Inclusive Cities for a Better Urban Future: Participatory Planning in Indonesia | URBANET</h3>
      <!-- <p>Mapping enables citizens to interact in planning, budgeting, &amp; urban development decisions</p> -->
      <h4 class="publication-date text-uppercase small">August, 2020</h4>
    </a>
  </div>
</div>
<hr class="featurette-divider">
<div id="videoContainer" class="row featurette">
</div>
