.tumblr_posts {
	margin-bottom: 12em;
	clear: both;
}

.tumblr_post {		
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #fff;
}

.tumblr_title {
	/*float: left;
	max-width: 24em;*/
	margin-right: 20px;
}

.tumblr_title h1 {
	font-size: 2.5em;
	line-height: 1.125em;
}

/*.tumblr_body {
	margin-top: 40px;
}*/

.tumblr_body figure img {	
	float: right;
	width: 400px;
	margin: 0 10px 10px 10px;
}

.read_more_container {
	
}

.read_more_container a {
	
}