/* CUSTOM NAV */

.navbar-brand {
  background-color: #fc3a51;
  width: 230px;
  /*height: 4.375em;*/
  border-top: 6px solid #f90d1a;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.navbar-brand:hover {
  background-color: #f90d1a;
}

.navbar-brand img {
  /*margin-top: -4px;*/
  width: 100%;
}

ul.nav li {
  background-color: #f5b349;
  border-top: 6px solid #eb7e15;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

ul.nav li:hover,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #eb7e15;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #0e2430;
}

.navbar-inverse .navbar-nav > li > a,
.dropdown-menu > li > a {
  color: #fff;
}

.publication-date {
  font-size: 13px;
  line-height: 16px;
}

.dropdown-menu {
  padding: 0;
  border: 0px;
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

/* @media (max-width: 767px) */
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-toggle > .open > a:hover {
  background-color: #eb7e15;
}

.navbar-toggle {
  background-color: #f5b349;
  color: #fff;
  border-radius: 0px;
  border: 0;
}

/* SECTION */

.section-shift {
  /*margin-top: -30px;*/
  padding-bottom: 1em;
}

.section-intro {
  background-image: url("https://res.cloudinary.com/vasilenka/image/upload/v1604207403/kotakita/assets/batik.png");
  background-repeat: repeat;
  background-color: #f5b349;
  padding: 2em;
  margin: -20px 0 20px 0;
  color: white;
}

.section-intro h1 {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 1px;
}

.section-meta {
  padding: 0 20px;
}

.section-meta h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #eb7e15;
  padding-top: 0.5em;
}

.project-top-box {
  background-color: #0e2430;
  height: 16px;
}

.news-top-box,
.intern-top-box {
  background-color: #f5b349;
  height: 12px;
}

.project img {
  width: 100%;
  height: auto;
}

.project-page .project-page-intro {
  padding-top: 1em;
}

.project-page .project-page-intro h3 {
  line-height: 1.5;
}

@media (max-width: 992px) {
  .project-page .project-block:nth-child(2n) {
    clear: both;
  }
}
@media (min-width: 992px) {
  .project-page .project-block:nth-child(4n + 5) {
    clear: both;
  }
}
@media (max-width: 768px) {
  .project-page .intern-block:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 768px) {
  .project-page .intern-block:nth-child(4n + 5) {
    clear: both;
  }
}
@media (max-width: 992px) {
  .library-page .thumb:nth-child(2n) {
    clear: both;
  }
}
@media (min-width: 992px) {
  .library-page .thumb:nth-child(4n + 5) {
    clear: both;
  }
}

.library-page .publication-image {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.library-page .publication-image:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

@media (min-width: 768px) {
  .section-intro {
    min-height: 280px;
    margin: -20px 0 20px 0;
  }
  .section-intro h1 {
    /*font-size: 2em;*/
    line-height: 1.125;
    padding-bottom: 0.25em;
  }
}

.jumbotron {
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  min-height: 240px;
}

@media (min-width: 768px) {
  .jumbotron {
    min-height: 560px;
  }
}

/* HOMEPAGE */
.block-item > a {
  text-decoration: none;
}
.block-item {
  cursor: pointer;
  padding-bottom: 1.125em;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.block-item h3 {
  margin-top: 10px;
}
#features .block-item:hover {
  background-color: #fef7ec;
}

#projects .block-item:hover {
  background-color: #fdf0dc;
}

/* INTERNs */

#intern a {
  cursor: pointer;
}

#intern a img:hover {
  opacity: 0.9;
}

#expert h4 {
  color: #eb7e15;
}

/* PUBLICATIONS */
.project-page .col-md-3,
.library-page .col-md-3 {
  margin-bottom: 1.25em;
}

/* MODAL */

.modal-content {
  border-radius: 0;
}

.modal-header {
  background-color: #f5b349;
  border-top: 6px solid #eb7e15;
  color: #fff;
  border-bottom: 0;
}

.modal-body {
  background-color: #fef7ec;
}

.modal-image {
  float: right;
  width: 176px;
  padding: 0 0 10px 10px;
}

/* FOOTER */

/* . {
  margin-top: 2em;
  background-image: url("https://res.cloudinary.com/vasilenka/image/upload/v1604207403/kotakita/assets/batik.png");
  background-repeat: repeat;
  background-color: #f5b349;
  padding: 2em;
  color: white;
} */

.subscription-container {
  align-items: flex-end;
  display: inline-flex;
  width: 100%;
  background: transparent !important;
}

#mc_embed_signup {
  background: transparent !important;
}

#mc_embed_signup form {
  padding: 0 !important;
  display: inline-flex;
  align-items: center;
  background: transparent !important;
}

#mc_embed_signup {
  background: transparent !important;
}

#mc_embed_signup_scroll {
  display: inline-flex;
  align-items: flex-end;
  background: transparent !important;
  width: 100%;
}

#mc_embed_signup input.email {
  color: #0e2430 !important;
  padding: 12px 16px !important;
  font-size: 16px !important;
  line-height: 20px !important;
  height: fit-content !important;
  flex: 3 !important;
}

#mc_embed_signup input.button {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 20px;
  background: #263a45;
  color: #fff;
  height: fit-content !important;
  width: fit-content !important;
  flex: 1;
}

#footer {
  margin-top: 2em;
}
footer {
  padding: 2em 2em 0 2em;
  color: white;
}
#footer .main-section > a > span {
  padding-right: 0.5em;
}
#footer .main-section {
  margin-bottom: 48px;
}
#footer .sub-section {
  background-color: #0e2430;
  margin-top: -36px;
  padding: 2em 1em 16em 2em;
}
#footer #social-icons a {
  margin-right: 0.675em;
}
#footer .featurette-divider {
  border-top: 1px solid #0e2430;
}

.secondary-text {
  font-size: 22px;
}

.button-project:not(:last-child) {
  margin-bottom: 8px;
}
