.text-on { 
  display: show;
}

.text-off { 
  display: none;
}

/*
* CSS TOGGLE SWITCHES
* Unlicense
*
* Ionu»õ Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
/* Supported values are px, rem-calc, em-calc */
/* Functions */
/* Toggle Switches */
/* Shared */
/* Checkbox
*/
/* Radio Switch
*/
/* Hide by default
*/
.switch-toggle a, .switch-light span span {
  display: none; }

/* We can't test for a specific feature,
* so we only target browsers with support for media queries.
*/
@media only screen {
  /* Checkbox switch
  */
  .switch-light {
    display: block;
    min-height: 1.875em;
    /* Outline the toggles when the inputs are focused
  */
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 6.25em;
    /* Position the label over all the elements, except the slide-button (<a>)
  * Clicking anywhere on the label will change the switch-state
  */
    /* Don't hide the input from screen-readers and keyboard access
  */ }
    .switch-light * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .switch-light a {
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .switch-light label, .switch-light > span {
      line-height: 1.875em;
      vertical-align: middle; }
    .switch-light input:focus ~ a, .switch-light input:focus + label {
      outline: 1px dotted #888; }
    .switch-light label {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%; }
    .switch-light input {
      position: absolute;
      opacity: 0;
      z-index: 5; }
      .switch-light input:checked ~ a {
        right: 0%; }
    .switch-light > span {
      position: absolute;
      left: -6.25em;
      width: 100%;
      margin: 0;
      padding-right: 6.25em;
      text-align: left; }
      .switch-light > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 6.25em;
        text-align: center; }
        .switch-light > span span:last-child {
          left: 50%; }
    .switch-light a {
      position: absolute;
      right: 50%;
      top: 0;
      z-index: 4;
      display: block;
      width: 50%;
      height: 100%;
      padding: 0; }

  /* Radio switch
  */
  .switch-toggle {
    display: block;
    min-height: 1.875em;
    /* Outline the toggles when the inputs are focused
  */
    position: relative;
    display: table;
    table-layout: fixed;
    /* For callout panels in foundation
  */
    padding: 0 !important;
    /* Generate styles for the multiple states */ }
    .switch-toggle * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .switch-toggle a {
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .switch-toggle label, .switch-toggle > span {
      line-height: 1.875em;
      vertical-align: middle; }
    .switch-toggle input:focus ~ a, .switch-toggle input:focus + label {
      outline: 1px dotted #888; }
    .switch-toggle * {
      font-size: 1em; }
    .switch-toggle input {
      position: absolute;
      opacity: 0; }
    .switch-toggle input + label {
      position: relative;
      z-index: 2;
      display: table-cell;
      width: 50%;
      padding: 0 0.5em;
      margin: 0;
      text-align: center; }
    .switch-toggle a {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      z-index: 1;
      width: 50%;
      height: 100%; }
    .switch-toggle input:last-of-type:checked ~ a {
      left: 50%; }
    .switch-toggle.switch-3 label, .switch-toggle.switch-3 a {
      width: 33.3333333333%; }
    .switch-toggle.switch-3 input:checked:nth-of-type(2) ~ a {
      left: 33.3333333333%; }
    .switch-toggle.switch-3 input:checked:last-of-type ~ a {
      left: 66.6666666667%; }
    .switch-toggle.switch-4 label, .switch-toggle.switch-4 a {
      width: 25%; }
    .switch-toggle.switch-4 input:checked:nth-of-type(2) ~ a {
      left: 25%; }
    .switch-toggle.switch-4 input:checked:nth-of-type(3) ~ a {
      left: 50%; }
    .switch-toggle.switch-4 input:checked:last-of-type ~ a {
      left: 75%; }
    .switch-toggle.switch-5 label, .switch-toggle.switch-5 a {
      width: 20%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(2) ~ a {
      left: 20%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(3) ~ a {
      left: 40%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(4) ~ a {
      left: 60%; }
    .switch-toggle.switch-5 input:checked:last-of-type ~ a {
      left: 80%; }

  /* Standalone Themes */
  /* Candy Theme
  * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
  * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
  */
  .switch-candy {
    background-color: #f2f2f2;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    text-align: center;
    }
    .switch-candy label {
      color: #333;
      -webkit-transition: color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out; }
    .switch-candy input:checked + label {
      color: #fff;
      }
    .switch-candy a {
      border: 2px solid #f2f2f2;
      background-color: #00B4FC;
      border-radius: 3px;

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
* http://css-tricks.com/webkit-sibling-bug/
*/
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
  .switch-light, .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s; } }

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0); }

  to {
    -webkit-transform: translate3d(0, 0, 0); } }